In [1]:
import pandas as pd
import numpy as np
import statsmodels.api as sm

In [2]:
df = pd.read_stata("aerdat4.dta")

In [5]:
df.columns

Index(['id', 'bog95smp', 'bog97smp', 'jam93smp', 'sex', 'age', 'age2',
       'hsvisit', 'scyfnsh', 'inschl', 'prsch_c', 'prscha_1', 'prscha_2',
       'vouch0', 'bog95asd', 'bog97asd', 'jam93asd', 'dbogota', 'djamundi',
       'd1995', 'd1997', 'response', 'test_tak', 'sex_name', 'svy', 'd1993',
       'phone', 'darea1', 'darea2', 'darea3', 'darea4', 'darea5', 'darea6',
       'darea7', 'darea8', 'darea9', 'darea10', 'darea11', 'darea12',
       'darea13', 'darea14', 'darea15', 'darea16', 'darea17', 'darea18',
       'darea19', 'dmonth1', 'dmonth2', 'dmonth3', 'dmonth4', 'dmonth5',
       'dmonth6', 'dmonth7', 'dmonth8', 'dmonth9', 'dmonth10', 'dmonth11',
       'dmonth12', 'bog95', 'bog97', 'mom_sch', 'mom_age', 'mom_mw', 'dad_sch',
       'dad_age', 'dad_mw', 'sex2', 'strata1', 'strata2', 'strata3', 'strata4',
       'strata5', 'strata6', 'stratams', 'rept6', 'totscyrs', 'haschild',
       'married', 'working', 'rept', 'nrept', 'finish6', 'finish7', 'finish8',
       'sex_miss', 'usngsch', 'hoursum', 'tab3smpl', 'working3'],
      dtype='object')

In [6]:
df[df['bog95'] == 1]

,id,bog95smp,bog97smp,jam93smp,sex,age,age2,hsvisit,scyfnsh,inschl,...,rept,nrept,finish6,finish7,finish8,sex_miss,usngsch,hoursum,tab3smpl,working3
0,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,0.0,0.0,0.0,1.0,NaN,12.0,NaN,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.0,0.0,0.0,0.0,0.0,NaN,13.0,NaN,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3.0,1.0,0.0,0.0,0.0,14.0,12.0,0.0,8.0,1.0,...,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0
4,4.0,1.0,0.0,0.0,1.0,14.0,12.0,0.0,8.0,1.0,...,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4040,4040.0,0.0,0.0,0.0,1.0,NaN,13.0,NaN,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4041,4041.0,0.0,0.0,0.0,1.0,NaN,12.0,NaN,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4042,4042.0,0.0,0.0,0.0,1.0,NaN,15.0,NaN,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4043,4043.0,0.0,0.0,0.0,1.0,NaN,15.0,NaN,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4044,4044.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
combined_sample = df[df['tab3smpl'] == 1][['bog95smp','vouch0','sex','sex2','age','age2','haschild','married','hoursum','working3','phone','usngsch','dmonth1','dmonth2','dmonth3',
                                          'dmonth4','dmonth5','dmonth6','dmonth7','dmonth8','dmonth9','dmonth10','dmonth11','dmonth12','svy','d1993','d1995','d1997','dbogota',
                                           'djamundi','strata1','strata2','strata3','strata4','strata5','strata6','stratams','hsvisit','sex_miss']]
combined_sample

,bog95smp,vouch0,sex,sex2,age,age2,haschild,married,hoursum,working3,...,djamundi,strata1,strata2,strata3,strata4,strata5,strata6,stratams,hsvisit,sex_miss
3,1.0,1.0,0.0,0.0,14.0,12.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.0,0.0,1.0,1.0,14.0,12.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,1.0,0.0,0.0,1.0,14.0,12.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,1.0,0.0,0.0,0.0,12.0,10.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,1.0,1.0,1.0,1.0,14.0,11.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21473,0.0,0.0,0.0,0.0,13.0,12.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21476,0.0,0.0,0.0,0.0,13.0,13.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21479,0.0,0.0,0.0,0.0,15.0,14.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21480,0.0,0.0,0.0,0.0,12.0,11.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21483,0.0,0.0,1.0,1.0,14.0,13.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [8]:
bog95_sample = combined_sample[combined_sample['bog95smp'] == 1]
bog95_sample

,bog95smp,vouch0,sex,sex2,age,age2,haschild,married,hoursum,working3,...,djamundi,strata1,strata2,strata3,strata4,strata5,strata6,stratams,hsvisit,sex_miss
3,1.0,1.0,0.0,0.0,14.0,12.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.0,0.0,1.0,1.0,14.0,12.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,1.0,0.0,0.0,1.0,14.0,12.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,1.0,0.0,0.0,0.0,12.0,10.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,1.0,1.0,1.0,1.0,14.0,11.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3997,1.0,1.0,0.0,0.0,16.0,NaN,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
4006,1.0,1.0,0.0,0.0,14.0,12.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4022,1.0,0.0,0.0,0.0,16.0,13.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4023,1.0,0.0,0.0,0.0,16.0,13.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4030,1.0,0.0,1.0,1.0,14.0,11.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
loser_combined = combined_sample[combined_sample['vouch0'] == 0]
loser_combined = loser_combined.dropna(subset = 'haschild')
loser_combined

,bog95smp,vouch0,sex,sex2,age,age2,haschild,married,hoursum,working3,...,djamundi,strata1,strata2,strata3,strata4,strata5,strata6,stratams,hsvisit,sex_miss
4,1.0,0.0,1.0,1.0,14.0,12.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,1.0,0.0,0.0,1.0,14.0,12.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,1.0,0.0,0.0,0.0,12.0,10.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,1.0,0.0,1.0,0.0,14.0,12.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,1.0,0.0,0.0,1.0,15.0,13.0,0.0,0.0,8.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21473,0.0,0.0,0.0,0.0,13.0,12.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21476,0.0,0.0,0.0,0.0,13.0,13.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21479,0.0,0.0,0.0,0.0,15.0,14.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21480,0.0,0.0,0.0,0.0,12.0,11.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21483,0.0,0.0,1.0,1.0,14.0,13.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [10]:
loser_bog95 = bog95_sample[bog95_sample['vouch0'] == 0]
loser_bog95

,bog95smp,vouch0,sex,sex2,age,age2,haschild,married,hoursum,working3,...,djamundi,strata1,strata2,strata3,strata4,strata5,strata6,stratams,hsvisit,sex_miss
4,1.0,0.0,1.0,1.0,14.0,12.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,1.0,0.0,0.0,1.0,14.0,12.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,1.0,0.0,0.0,0.0,12.0,10.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,1.0,0.0,1.0,0.0,14.0,12.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,1.0,0.0,0.0,1.0,15.0,13.0,0.0,0.0,8.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3902,1.0,0.0,0.0,0.0,17.0,12.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3945,1.0,0.0,0.0,0.0,18.0,15.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4022,1.0,0.0,0.0,0.0,16.0,13.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4023,1.0,0.0,0.0,0.0,16.0,13.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4030,1.0,0.0,1.0,1.0,14.0,11.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
# Panel A Column 1

def tab6_panelA_col1(dep_vars):
    
    loser_mean = loser_bog95[dep_var].mean()
    loser_std = loser_bog95[dep_var].std()
    loser_n = loser_bog95[dep_var].notna().sum()
    
    return round(loser_mean, 4), round(loser_std, 4), loser_n

In [12]:
dependent_vars1 = ['married', 'haschild', 'working3', 'hoursum']
for dep_var in dependent_vars1:
    mean, std, n = tab6_panelA_col1(dep_var)
    print(f"{dep_var}: mean={mean}, std={std}, n={n}")

married: mean=0.016, std=0.1256, n=562
haschild: mean=0.0338, std=0.1809, n=562
working3: mean=0.169, std=0.3751, n=562
hoursum: mean=4.8808, std=12.3107, n=562

In [13]:
# Panel B Column 1

def tab6_panelB_col1(data, dep_var):

    male_losers = loser_bog95[loser_bog95['sex2'] == 1]
    male_loser_mean = male_losers[dep_var].mean()
    male_loser_std = male_losers[dep_var].std()
    male_loser_n = male_losers[dep_var].notna().sum()

    return round(male_loser_mean, 4), round(male_loser_std, 4), male_loser_n

In [14]:
dependent_vars2 = ['married', 'working3', 'hoursum']
for dep_var in dependent_vars2:
    mean, std, n = tab6_panelB_col1(loser_bog95, dep_var)
    print(f"{dep_var}: mean={mean}, std={std}, n={n}")

married: mean=0.0036, std=0.0598, n=280
working3: mean=0.2321, std=0.423, n=280
hoursum: mean=6.4214, std=13.692, n=280

In [15]:
# Panel C Column 1

def tab6_panelC_col1(data, dep_var):

    female_losers = loser_bog95[loser_bog95['sex2'] == 0]
    female_loser_mean = female_losers[dep_var].mean()
    female_loser_std = female_losers[dep_var].std()
    female_loser_n = female_losers[dep_var].notna().sum()

    return round(female_loser_mean, 4), round(female_loser_std, 4), female_loser_n

In [16]:
for dep_var in dependent_vars1:
    mean, std, n = tab6_panelC_col1(loser_bog95, dep_var)
    print(f"{dep_var}: mean={mean}, std={std}, n={n}")

married: mean=0.0284, std=0.1663, n=282
haschild: mean=0.0603, std=0.2384, n=282
working3: mean=0.1064, std=0.3089, n=282
hoursum: mean=3.3511, std=10.5696, n=282

In [17]:
# Panel A Column 2

def tab6_panelA_col2(dep_var, treatment, controls):

    for var in dep_var:
        vars_needed = [treatment, var] + controls
        df_clean = bog95_sample[vars_needed].dropna()

        X = sm.add_constant(df_clean[[treatment] + controls])
        y = df_clean[var]

        model = sm.OLS(y, X).fit()

        coef = model.params[treatment]
        std_err = model.bse[treatment]
        n = df_clean.shape[0]

        print(f"{var}: coef={round(coef, 4)}, std_err={round(std_err, 4)}, n={n}")

In [18]:
treatment = 'vouch0'
controls = ['age','sex2','hsvisit','dmonth1','dmonth2','dmonth3','dmonth4','dmonth5','dmonth6','dmonth7','dmonth8','dmonth9',
            'dmonth10','dmonth11','dmonth12','phone','svy','strata1','strata2','strata3','strata4','strata5','strata6','stratams','sex_miss']
dep_var1 = ['married','haschild','working3','hoursum']

tab6_panelA_col2(dep_var1, treatment, controls)

married: coef=-0.0087, std_err=0.0062, n=1146
haschild: coef=-0.0103, std_err=0.0096, n=1146
working3: coef=-0.0297, std_err=0.0204, n=1147
hoursum: coef=-1.2223, std_err=0.636, n=1147

In [19]:
# Panel B Column 2

def tab6_panelB_col2(dep_var, treatment, controls):

    for var in dep_var:
        vars_needed = [treatment, var] + controls
        df_clean = bog95_sample[vars_needed].dropna()
        df_clean = df_clean[df_clean['sex2'] == 1]

        X = sm.add_constant(df_clean[[treatment] + controls])
        y = df_clean[var]

        model = sm.OLS(y, X).fit()

        coef = model.params[treatment]
        std_err = model.bse[treatment]
        n = df_clean.shape[0]

        print(f"{var}: coef={round(coef, 4)}, std_err={round(std_err, 4)}, n={n}")

In [20]:
dep_var2 = ['married','working3','hoursum']

tab6_panelB_col2(dep_var2, treatment, controls)

married: coef=-0.0039, std_err=0.0036, n=575
working3: coef=-0.0366, std_err=0.0334, n=575
hoursum: coef=-0.6376, std_err=1.0684, n=575

In [21]:
# Panel C Column 2

def tab6_panelC_col2(dep_var, treatment, controls):

    for var in dep_var:
        vars_needed = [treatment, var] + controls
        df_clean = bog95_sample[vars_needed].dropna()
        df_clean = df_clean[df_clean['sex2'] == 0]

        X = sm.add_constant(df_clean[[treatment] + controls])
        y = df_clean[var]

        model = sm.OLS(y, X).fit()

        coef = model.params[treatment]
        std_err = model.bse[treatment]
        n = df_clean.shape[0]

        print(f"{var}: coef={round(coef, 4)}, std_err={round(std_err, 4)}, n={n}")

In [22]:
tab6_panelC_col2(dep_var1, treatment, controls)

married: coef=-0.0099, std_err=0.0118, n=571
haschild: coef=-0.0151, std_err=0.0179, n=571
working3: coef=-0.0314, std_err=0.0236, n=572
hoursum: coef=-2.1158, std_err=0.685, n=572

In [23]:
# Panel A Column 3

dep_vars_c3pA = ['married','haschild','working3']

controls1 = ['age','sex','phone','svy','hsvisit']

def phi(z):
    return np.exp(-0.5 * z**2) / np.sqrt(2 * np.pi)

def run_probit(dep_var):
    vars_needed = [treatment, dep_var] + controls1
    dat = bog95_sample[vars_needed].dropna()
    
    X = sm.add_constant(dat[[treatment] + controls1])
    y = dat[dep_var]

    # Fit Probit
    model = sm.Probit(y, X).fit(disp=False)

    X_beta_mean = (X @ model.params).mean()
    coef = phi(X_beta_mean) * model.params[treatment]
    std_err = phi(X_beta_mean) * model.bse[treatment]

    print(f"{dep_var:<9s}:  coef = {coef: .4f},  std_err = {std_err: .4f},  N = {len(y)}")

for dep_var in dep_vars_c3pA:
    run_probit(dep_var)

married  :  coef = -0.0042,  std_err =  0.0025,  N = 1146
haschild :  coef = -0.0078,  std_err =  0.0065,  N = 1146
working3 :  coef = -0.0294,  std_err =  0.0203,  N = 1147

In [24]:
# Panel B Column 3

dep_vars_c3pB = 'working3'

controls1 = ['age','sex','phone','svy','hsvisit']

def phi(z):
    return np.exp(-0.5 * z**2) / np.sqrt(2 * np.pi)

def run_probit(dep_var):
    vars_needed = [treatment, dep_var] + controls1
    dat = bog95_sample[bog95_sample['sex2'] == 1][vars_needed].dropna()
    
    X = sm.add_constant(dat[[treatment] + controls1])
    y = dat[dep_var]

    # Fit Probit
    model = sm.Probit(y, X).fit(disp=False)

    X_beta_mean = (X @ model.params).mean()
    coef = phi(X_beta_mean) * model.params[treatment]
    std_err = phi(X_beta_mean) * model.bse[treatment]

    print(f"{dep_var:<9s}:  coef = {coef: .4f},  std_err = {std_err: .4f},  N = {len(y)}")

run_probit(dep_vars_c3pB)

working3 :  coef = -0.0338,  std_err =  0.0341,  N = 575

In [25]:
# Panel C Column 3

dep_vars_c3pC = ['married','haschild','working3']

controls1 = ['age','sex','phone','svy','hsvisit']

def phi(z):
    return np.exp(-0.5 * z**2) / np.sqrt(2 * np.pi)

def run_probit(dep_var):
    vars_needed = [treatment, dep_var] + controls1
    dat = bog95_sample[bog95_sample['sex2'] == 0][vars_needed].dropna()
    
    X = sm.add_constant(dat[[treatment] + controls1])
    y = dat[dep_var]

    # Fit Probit
    model = sm.Probit(y, X).fit(disp=False)

    X_beta_mean = (X @ model.params).mean()
    coef = phi(X_beta_mean) * model.params[treatment]
    std_err = phi(X_beta_mean) * model.bse[treatment]

    print(f"{dep_var:<9s}:  coef = {coef: .4f},  std_err = {std_err: .4f},  N = {len(y)}")

for dep_var in dep_vars_c3pC:
    run_probit(dep_var)

married  :  coef = -0.0060,  std_err =  0.0051,  N = 571
haschild :  coef = -0.0125,  std_err =  0.0128,  N = 571
working3 :  coef = -0.0310,  std_err =  0.0222,  N = 572

In [26]:
# Panel A Column 4

def tab6_panelA_col4(dep_vars):
    
    loser_mean = loser_combined[dep_var].mean()
    loser_std = loser_combined[dep_var].std()
    loser_n = loser_combined[dep_var].notna().sum()
    
    return round(loser_mean, 4), round(loser_std, 4), loser_n

In [27]:
for dep_var in dependent_vars1:
    mean, std, n = tab6_panelA_col4(dep_var)
    print(f"{dep_var}: mean={mean}, std={std}, n={n}")

married: mean=0.0171, std=0.1297, n=760
haschild: mean=0.0303, std=0.1714, n=760
working3: mean=0.1618, std=0.3685, n=760
hoursum: mean=4.4224, std=11.6027, n=760

In [28]:
# Panel B Column 4

def tab6_panelB_col4(data, dep_var):

    male_losers = loser_combined[loser_combined['sex2'] == 1]
    male_loser_mean = male_losers[dep_var].mean()
    male_loser_std = male_losers[dep_var].std()
    male_loser_n = male_losers[dep_var].notna().sum()

    return round(male_loser_mean, 4), round(male_loser_std, 4), male_loser_n

In [29]:
for dep_var in dependent_vars2:
    mean, std, n = tab6_panelB_col4(loser_combined, dep_var)
    print(f"{dep_var}: mean={mean}, std={std}, n={n}")

married: mean=0.0027, std=0.0518, n=372
working3: mean=0.2258, std=0.4187, n=372
hoursum: mean=6.2151, std=13.3276, n=372

In [30]:
# Panel C Column 4

def tab6_panelC_col4(data, dep_var):

    female_losers = loser_combined[loser_combined['sex2'] == 0]
    female_loser_mean = female_losers[dep_var].mean()
    female_loser_std = female_losers[dep_var].std()
    female_loser_n = female_losers[dep_var].notna().sum()

    return round(female_loser_mean, 4), round(female_loser_std, 4), female_loser_n

In [31]:
for dep_var in dependent_vars1:
    mean, std, n = tab6_panelC_col4(loser_combined, dep_var)
    print(f"{dep_var}: mean={mean}, std={std}, n={n}")

married: mean=0.0309, std=0.1733, n=388
haschild: mean=0.0541, std=0.2266, n=388
working3: mean=0.1005, std=0.3011, n=388
hoursum: mean=2.7036, std=9.3647, n=388

In [32]:
# Panel A Column 5

def tab6_panelA_col5(dep_var, treatment, controls):

    for var in dep_var:
        vars_needed = [treatment, var] + controls
        df_clean = combined_sample[vars_needed].dropna()

        X = sm.add_constant(df_clean[[treatment] + controls])
        y = df_clean[var]

        model = sm.OLS(y, X).fit()

        coef = model.params[treatment]
        std_err = model.bse[treatment]
        n = df_clean.shape[0]

        print(f"{var}: coef={round(coef, 4)}, std_err={round(std_err, 4)}, n={n}")

In [33]:
controls_col5 = ['age','sex2','hsvisit','djamundi','dbogota','d1993','d1995','d1997','dmonth1','dmonth2','dmonth3','dmonth4','dmonth5','dmonth6','dmonth7','dmonth8','dmonth9',
            'dmonth10','dmonth11','dmonth12','phone','svy','strata1','strata2','strata3','strata4','strata5','strata6','stratams','sex_miss']
dep_var1 = ['married','haschild','working3','hoursum']

tab6_panelA_col5(dep_var1, treatment, controls_col5)

married: coef=-0.0091, std_err=0.0055, n=1576
haschild: coef=-0.0064, std_err=0.0078, n=1575
working3: coef=-0.0265, std_err=0.017, n=1577
hoursum: coef=-0.8699, std_err=0.519, n=1577

In [34]:
# Panel B Column 5

def tab6_panelB_col5(dep_var, treatment, controls):

    for var in dep_var:
        vars_needed = [treatment, var] + controls
        df_clean = combined_sample[vars_needed].dropna()
        df_clean = df_clean[df_clean['sex2'] == 1]

        X = sm.add_constant(df_clean[[treatment] + controls])
        y = df_clean[var]

        model = sm.OLS(y, X).fit()

        coef = model.params[treatment]
        std_err = model.bse[treatment]
        n = df_clean.shape[0]

        print(f"{var}: coef={round(coef, 4)}, std_err={round(std_err, 4)}, n={n}")

In [35]:
tab6_panelB_col5(dep_var2, treatment, controls_col5)

married: coef=-0.0026, std_err=0.0026, n=779
working3: coef=-0.0296, std_err=0.0281, n=779
hoursum: coef=-0.521, std_err=0.8927, n=779

In [36]:
# Panel C Column 5

def tab6_panelC_col5(dep_var, treatment, controls):

    for var in dep_var:
        vars_needed = [treatment, var] + controls
        df_clean = combined_sample[vars_needed].dropna()
        df_clean = df_clean[df_clean['sex2'] == 0]

        X = sm.add_constant(df_clean[[treatment] + controls])
        y = df_clean[var]

        model = sm.OLS(y, X).fit()

        coef = model.params[treatment]
        std_err = model.bse[treatment]
        n = df_clean.shape[0]

        print(f"{var}: coef={round(coef, 4)}, std_err={round(std_err, 4)}, n={n}")

In [37]:
tab6_panelC_col5(dep_var1, treatment, controls_col5)

married: coef=-0.0113, std_err=0.0105, n=797
haschild: coef=-0.0092, std_err=0.0144, n=797
working3: coef=-0.0324, std_err=0.0194, n=798
hoursum: coef=-1.5356, std_err=0.5309, n=798

In [38]:
# Panel A Column 6

dep_vars_c6pA = ['married','haschild','working3']

controls1 = ['age','sex','phone','svy','hsvisit']

def phi(z):
    return np.exp(-0.5 * z**2) / np.sqrt(2 * np.pi)

def run_probit(dep_var):
    vars_needed = [treatment, dep_var] + controls1
    dat = combined_sample[vars_needed].dropna()
    
    X = sm.add_constant(dat[[treatment] + controls1])
    y = dat[dep_var]

    # Fit Probit
    model = sm.Probit(y, X).fit(disp=False)

    X_beta_mean = (X @ model.params).mean()
    coef = phi(X_beta_mean) * model.params[treatment]
    std_err = phi(X_beta_mean) * model.bse[treatment]

    print(f"{dep_var:<9s}:  coef = {coef: .4f},  std_err = {std_err: .4f},  N = {len(y)}")

for dep_var in dep_vars_c3pA:
    run_probit(dep_var)

married  :  coef = -0.0031,  std_err =  0.0018,  N = 1576
haschild :  coef = -0.0048,  std_err =  0.0044,  N = 1575
working3 :  coef = -0.0257,  std_err =  0.0165,  N = 1577

In [39]:
# Panel B Column 6

dep_vars_c6pB = 'working3'

controls1 = ['age','sex','phone','svy','hsvisit']

def phi(z):
    return np.exp(-0.5 * z**2) / np.sqrt(2 * np.pi)

def run_probit(dep_var):
    vars_needed = [treatment, dep_var] + controls1
    dat = combined_sample[combined_sample['sex2'] == 1][vars_needed].dropna()
    
    X = sm.add_constant(dat[[treatment] + controls1])
    y = dat[dep_var]

    # Fit Probit
    model = sm.Probit(y, X).fit(disp=False)

    X_beta_mean = (X @ model.params).mean()
    coef = phi(X_beta_mean) * model.params[treatment]
    std_err = phi(X_beta_mean) * model.bse[treatment]

    print(f"{dep_var:<9s}:  coef = {coef: .4f},  std_err = {std_err: .4f},  N = {len(y)}")

run_probit(dep_vars_c6pB)

working3 :  coef = -0.0326,  std_err =  0.0284,  N = 779

In [40]:
# Panel C Column 6

dep_vars_c6pC = ['married','haschild','working3']

controls1 = ['age','sex','phone','svy','hsvisit']

def phi(z):
    return np.exp(-0.5 * z**2) / np.sqrt(2 * np.pi)

def run_probit(dep_var):
    vars_needed = [treatment, dep_var] + controls1
    dat = combined_sample[combined_sample['sex2'] == 0][vars_needed].dropna()
    
    X = sm.add_constant(dat[[treatment] + controls1])
    y = dat[dep_var]

    # Fit Probit
    model = sm.Probit(y, X).fit(disp=False)

    X_beta_mean = (X @ model.params).mean()
    coef = phi(X_beta_mean) * model.params[treatment]
    std_err = phi(X_beta_mean) * model.bse[treatment]

    print(f"{dep_var:<9s}:  coef = {coef: .4f},  std_err = {std_err: .4f},  N = {len(y)}")

for dep_var in dep_vars_c6pC:
    run_probit(dep_var)

married  :  coef = -0.0055,  std_err =  0.0044,  N = 797
haschild :  coef = -0.0089,  std_err =  0.0091,  N = 797
working3 :  coef = -0.0271,  std_err =  0.0179,  N = 798