Project3

In [2]:
import pandas as pd

In [3]:
data_path = "aerdat4.dta"
df = pd.read_stata(data_path)

df.head()

,id,bog95smp,bog97smp,jam93smp,sex,age,age2,hsvisit,scyfnsh,inschl,...,rept,nrept,finish6,finish7,finish8,sex_miss,usngsch,hoursum,tab3smpl,working3
0,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,0.0,0.0,0.0,1.0,NaN,12.0,NaN,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.0,0.0,0.0,0.0,0.0,NaN,13.0,NaN,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3.0,1.0,0.0,0.0,0.0,14.0,12.0,0.0,8.0,1.0,...,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0
4,4.0,1.0,0.0,0.0,1.0,14.0,12.0,0.0,8.0,1.0,...,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0

In [1]:
hi

NameError: name 'hi' is not defined

In [ ]:
TESTING!!