In [170]:
import pandas as pd
import numpy as np
import statsmodels.formula.api as sm
import statsmodels.api as sm
from statsmodels.stats.sandwich_covariance import cov_hc1

# Table 1

In [171]:
data_path = "aerdat4.dta"
df1 = pd.read_stata(data_path)

In [172]:
#Populations
bog95_pop = df1['bog95'].sum()
bog97_pop = df1['bog97'].sum()
jam93_pop = df1['djamundi'].sum()
combined_sample = bog95_pop + bog97_pop + jam93_pop
combined_sample, bog95_pop, bog97_pop, jam93_pop

(np.float64(6158.0), np.float64(4045.0), np.float64(1770.0), np.float64(343.0))

## Part A: Population

### N:

In [173]:
vouch_df1 = df1[df1['vouch0'] == 1]
vbog95_pop = vouch_df1['bog95'].sum()
vbog97_pop = vouch_df1['bog97'].sum()
vjam93_pop = vouch_df1['djamundi'].sum()
vcombined_sample = vbog95_pop + vbog97_pop + vjam93_pop
vcombined_sample, vbog95_pop, vbog97_pop, vjam93_pop

(np.float64(4050.0), np.float64(2378.0), np.float64(1500.0), np.float64(172.0))

### Percentage awarded vouchers

In [174]:
perc_bog95 = vbog95_pop / bog95_pop * 100
perc_bog97 = vbog97_pop / bog97_pop * 100
perc_jam93 = vjam93_pop / jam93_pop * 100
perc_comb_samp = vcombined_sample / combined_sample * 100
perc_bog95, perc_bog97, perc_jam93, perc_comb_samp

(np.float64(58.78862793572311),
 np.float64(84.7457627118644),
 np.float64(50.14577259475219),
 np.float64(65.76810652809354))

## Part B: Attempted Interviews

### N

In [175]:
# Attempted interviews
bog95_int = df1['bog95asd'].sum()
bog97_int = df1['bog97asd'].sum()
jam93_int = df1['jam93asd'].sum()

comb_int = bog95_int + bog97_int + jam93_int

# Order: Bogota 1995, Bogota 1997, Jamundi 1993, Combined
print([
    float(bog95_int),
    float(bog97_int),
    float(jam93_int),
    float(comb_int),
])

[2249.0, 457.0, 279.0, 2985.0]

### Percentage awarded vouchers

In [176]:
#Attempted interviews
bog95_int = df1['bog95asd'].sum()
bog97_int = df1['bog97asd'].sum()
jam93_int = df1['jam93asd'].sum()
comb_int = bog95_int + bog97_int + jam93_int

#Interviewed dataframe
attempt_int = df1[(df1['bog95asd'] == 1) | (df1['bog97asd'] == 1) | (df1['jam93asd'] == 1)]

attempt_int_vouch = attempt_int[attempt_int['vouch0'] == 1]

ivbog95_pop = attempt_int_vouch['bog95asd'].sum()

#Population awarded vouchers that were interviewed
ivbog95_pop = attempt_int_vouch['bog95asd'].sum()
ivbog97_pop = attempt_int_vouch['bog97asd'].sum()
ivjam93_pop = attempt_int_vouch['jam93asd'].sum()
ivcombined_sample = ivbog95_pop + ivbog97_pop + ivjam93_pop

#Percentage of attempted interviewed population awarded vouchers
iperc_bog95 = ivbog95_pop / bog95_int * 100
iperc_bog97 = ivbog97_pop / bog97_int * 100
iperc_jam93 = ivjam93_pop / jam93_int * 100
iperc_comb_samp = ivcombined_sample / comb_int * 100


iperc_bog95, iperc_bog97, iperc_jam93, iperc_comb_samp

(np.float64(49.97776789684304),
 np.float64(51.64113785557986),
 np.float64(50.179211469534046),
 np.float64(50.25125628140703))

### Response rate

In [177]:
#Completed interviews
responded = df1[df1['response'] == 1]

#Completed interviews population
resp_bog95 = responded['bog95asd'].sum()
resp_bog97 = responded['bog97asd'].sum()
resp_jam = responded['jam93asd'].sum()
resp_comb = resp_bog95 + resp_bog97 + resp_jam

#Response Rates
resp_rate_bog95 = resp_bog95 / bog95_int
resp_rate_bog97 = resp_bog97 / bog97_int
resp_rate_jam = resp_jam / jam93_int
resp_rate_comb = resp_comb / comb_int
resp_rate_bog95, resp_rate_bog97, resp_rate_jam, resp_rate_comb

(np.float64(0.5228990662516674),
 np.float64(0.6061269146608315),
 np.float64(0.5913978494623656),
 np.float64(0.5420435510887772))

### Winner Response Rate

In [178]:
# Attempted interviews among winners (i.e., responded)
bog95_win_comp = vouch_df1['bog95smp'].sum()
bog97_win_comp = vouch_df1['bog97smp'].sum()
jam93_win_comp = vouch_df1['jam93smp'].sum()

# All assigned winners
bog95_win_total = vouch_df1['bog95asd'].sum()
bog97_win_total = vouch_df1['bog97asd'].sum()
jam93_win_total = vouch_df1['jam93asd'].sum()
## test_win_total = vouch_df1['test_tak'].sum()

# Rates
resp_bog95_win = bog95_win_comp / bog95_win_total
resp_bog97_win = bog97_win_comp / bog97_win_total
resp_jam93_win = jam93_win_comp / jam93_win_total
resp_comb_win  = (bog95_win_comp + bog97_win_comp + jam93_win_comp) / (bog95_win_total + bog97_win_total + jam93_win_total)
## resp_test_win  = test_win_comp / test_win_total

print([resp_bog95_win, resp_bog97_win, resp_jam93_win, resp_comb_win])

[np.float64(0.5275800711743772), np.float64(0.6186440677966102), np.float64(0.65), np.float64(0.5533333333333333)]

### Loser Response Rate

In [179]:
# Attempted interviews among losers 
bog95_lose_int = df1[(df1['vouch0'] == 0)]['bog95smp'].sum()
bog97_lose_int = df1[(df1['vouch0'] == 0)]['bog97smp'].sum()
jam93_lose_int = df1[(df1['vouch0'] == 0)]['jam93smp'].sum()


# Completed interview totals 
bog95_lose_total = df1[(df1['vouch0'] == 0)]['bog95asd'].sum()
bog97_lose_total = df1[(df1['vouch0'] == 0)]['bog97asd'].sum()
jam93_lose_total = df1[(df1['vouch0'] == 0)]['jam93asd'].sum()


# Rates
resp_bog95_lose = bog95_lose_int / bog95_lose_total
resp_bog97_lose = bog97_lose_int / bog97_lose_total
resp_jam93_lose = jam93_lose_int / jam93_lose_total
resp_comb_lose  = (bog95_lose_int + bog97_lose_int + jam93_lose_int) / (bog95_lose_total + bog97_lose_total + jam93_lose_total)


print([resp_bog95_lose, resp_bog97_lose, resp_jam93_lose, resp_comb_lose])

[np.float64(0.5182222222222223), np.float64(0.5927601809954751), np.float64(0.5323741007194245), np.float64(0.5306397306397307)]

## Part C: Completed Interviews

### N:

In [180]:

bog95_comp = df1['bog95smp'].sum()
bog97_comp = df1['bog97smp'].sum()
jam93_comp = df1['jam93smp'].sum()
test_comp = df1['test_tak'].sum()
comb_comp = bog95_comp + bog97_comp + jam93_comp

print([bog95_comp, bog97_comp, jam93_comp, comb_comp, test_comp])

[np.float64(1176.0), np.float64(277.0), np.float64(165.0), np.float64(1618.0), np.float64(283.0)]

### Percentage awarded vouchers

In [181]:
#bog95_win_comp = vouch_df1['bog95smp'].sum()
#bog97_win_comp = vouch_df1['bog97smp'].sum()
#jam93_win_comp = vouch_df1['jam93smp'].sum()
#bog95_v = df1[(df1['bog95smp'] == 1) & (df1['vouch0'] == 1) & df1['age2'].notna()].shape[0]
#bog97_v = df1[(df1['bog97smp'] == 1) & (df1['vouch0'] == 1) & df1['age2'].notna()].shape[0]
#jam93_v = df1[(df1['jam93smp'] == 1) & (df1['vouch0'] == 1) & df1['age2'].notna()].shape[0]
#test_v = df1[(df1['test_tak'] == 1) & (df1['vouch0'] == 1) & df1['age2'].notna()].shape[0]
bog95_v = vouch_df1['bog95smp'].sum()
bog97_v = vouch_df1['bog97smp'].sum()
jam93_v = vouch_df1['jam93smp'].sum()
test_v = vouch_df1['test_tak'].sum()
comb_v = bog95_v + bog97_v + jam93_v


perc_bog95 = bog95_v / bog95_comp * 100
perc_bog97 = bog97_v / bog97_comp * 100
perc_jam93 = jam93_v / jam93_comp * 100
perc_comb = comb_v / comb_comp * 100
perc_test = test_v / test_comp * 100

print([perc_bog95, perc_bog97, perc_jam93, perc_comb, perc_test])

[np.float64(50.425170068027214), np.float64(52.707581227436826), np.float64(55.15151515151515), np.float64(51.29789864029666), np.float64(56.18374558303887)]

### Household visit

In [182]:

bog95_hs = df1[(df1['bog95smp'] == 1)]['hsvisit'].mean()
bog97_hs = df1[(df1['bog97smp'] == 1)]['hsvisit'].mean()
jam93_hs = df1[(df1['jam93smp'] == 1)]['hsvisit'].mean()
comb_hs = df1[(df1[['bog95smp','bog97smp','jam93smp']].any(axis=1))]['hsvisit'].mean()
test_hs = df1[(df1['test_tak'] == 1)]['hsvisit'].mean()

print([bog95_hs, bog97_hs, jam93_hs, comb_hs, test_hs])

[np.float64(0.05442176870748299), np.float64(0.0036101083032490976), np.float64(0.7818181818181819), np.float64(0.11990111248454882), np.float64(0.0989399293286219)]

### Age at time of survey

In [183]:
def mean_std_age(col):
    subset = df1[(df1[col] == 1)]['age']
    return round(subset.mean(), 1), round(subset.std(), 1)

def mean_std_age_combined(cols):
    subset = df1[(df1[cols].sum(axis=1) == 1)]['age']
    return round(subset.mean(), 1), round(subset.std(), 1)

bog95_age, bog95_std = mean_std_age('bog95smp')
bog97_age, bog97_std = mean_std_age('bog97smp')
jam93_age, jam93_std = mean_std_age('jam93smp')
comb_age, comb_std = mean_std_age_combined(['bog95smp', 'bog97smp', 'jam93smp'])
test_age, test_std = mean_std_age('test_tak')

print("Mean age:", [bog95_age, bog97_age, jam93_age, comb_age, test_age])
print("Std dev:", [bog95_std, bog97_std, jam93_std, comb_std, test_std])

Mean age: [np.float64(15.0), np.float64(13.1), np.float64(16.9), np.float64(14.9), np.float64(14.8)]
Std dev: [np.float64(1.3), np.float64(1.4), np.float64(1.5), np.float64(1.7), np.float64(1.3)]

### Age on application date (from application data)

In [184]:
def mean_std_age2(col):
    subset = df1[(df1[col] == 1) & df1['age2'].notna()]['age2']
    return round(subset.mean(), 1), round(subset.std(), 1)

def mean_std_age2_combined(cols):
    subset = df1[(df1[cols].sum(axis=1) == 1) & df1['age2'].notna()]['age2']
    return round(subset.mean(), 1), round(subset.std(), 1)

bog95_age2, bog95_std2 = mean_std_age2('bog95smp')
bog97_age2, bog97_std2 = mean_std_age2('bog97smp')
jam93_age2, jam93_std2 = mean_std_age2('jam93smp')
comb_age2, comb_std2 = mean_std_age2_combined(['bog95smp', 'bog97smp', 'jam93smp'])
test_age2, test_std2 = mean_std_age2('test_tak')

print("Mean age2:", [bog95_age2, bog97_age2, jam93_age2, comb_age2, test_age2])
print("Std dev:", [bog95_std2, bog97_std2, jam93_std2, comb_std2, test_std2])

Mean age2: [np.float64(12.6), np.float64(12.4), np.float64(12.5), np.float64(12.6), np.float64(12.4)]
Std dev: [np.float64(1.3), np.float64(1.4), np.float64(1.9), np.float64(1.4), np.float64(1.2)]

### Male, Started 6th grade in private, Started 7th grade in private

In [185]:
df1.columns

Index(['id', 'bog95smp', 'bog97smp', 'jam93smp', 'sex', 'age', 'age2',
       'hsvisit', 'scyfnsh', 'inschl', 'prsch_c', 'prscha_1', 'prscha_2',
       'vouch0', 'bog95asd', 'bog97asd', 'jam93asd', 'dbogota', 'djamundi',
       'd1995', 'd1997', 'response', 'test_tak', 'sex_name', 'svy', 'd1993',
       'phone', 'darea1', 'darea2', 'darea3', 'darea4', 'darea5', 'darea6',
       'darea7', 'darea8', 'darea9', 'darea10', 'darea11', 'darea12',
       'darea13', 'darea14', 'darea15', 'darea16', 'darea17', 'darea18',
       'darea19', 'dmonth1', 'dmonth2', 'dmonth3', 'dmonth4', 'dmonth5',
       'dmonth6', 'dmonth7', 'dmonth8', 'dmonth9', 'dmonth10', 'dmonth11',
       'dmonth12', 'bog95', 'bog97', 'mom_sch', 'mom_age', 'mom_mw', 'dad_sch',
       'dad_age', 'dad_mw', 'sex2', 'strata1', 'strata2', 'strata3', 'strata4',
       'strata5', 'strata6', 'stratams', 'rept6', 'totscyrs', 'haschild',
       'married', 'working', 'rept', 'nrept', 'finish6', 'finish7', 'finish8',
       'sex_miss', 'usngsch', 'hoursum', 'tab3smpl', 'working3'],
      dtype='object')

In [186]:
df1['sex_name']

0        NaN
1        1.0
2        1.0
3        0.0
4        1.0
        ...
25325    NaN
25326    NaN
25327    NaN
25328    NaN
25329    NaN
Name: sex_name, Length: 25330, dtype: float64

In [187]:
def group_mean(col):
    bog95 = df1[(df1['bog95smp'] == 1)][col].mean()
    bog97 = df1[(df1['bog97smp'] == 1)][col].mean()
    jam93 = df1[(df1['jam93smp'] == 1)][col].mean()
    comb  = df1[((df1[['bog95smp', 'bog97smp', 'jam93smp']].sum(axis=1) == 1))][col].mean()
    test  = df1[(df1['test_tak'] == 1)][col].mean()
    return [round(x, 3) for x in [bog95, bog97, jam93, comb, test]]

print("Male:", group_mean('sex'))

# Started 6th grade in private 
print("Started 6th grade in private:", group_mean('prscha_1'))

# Started 7th grade in private
print("Started 7th grade in private:", group_mean('prscha_2'))

Male: [np.float64(0.501), np.float64(0.505), np.float64(0.424), np.float64(0.494), np.float64(0.523)]
Started 6th grade in private: [np.float64(0.91), np.float64(0.88), np.float64(0.669), np.float64(0.88), np.float64(0.929)]
Started 7th grade in private: [np.float64(0.763), np.float64(0.731), np.float64(0.626), np.float64(0.744), np.float64(0.821)]

### Currently in private school, Highest grade completed, Currently in school

In [188]:
def group_stat(col, return_std=False):
    base = df1[df1['age2'].notna()]
    groups = [
        base.loc[base['bog95smp'] == 1, col],
        base.loc[base['bog97smp'] == 1, col],
        base.loc[base['jam93smp'] == 1, col],
        base.loc[base[['bog95smp', 'bog97smp', 'jam93smp']].sum(axis=1) == 1, col],
        base.loc[base['test_tak'] == 1, col]
    ]
    if return_std:
        return [round(g.std(), 3) for g in groups]
    else:
        return [round(g.mean(), 3) for g in groups]

# Currently in private school, 'prsch_c'
print("Currently in private school:", group_stat('prsch_c'))

# Highest grade completed (mean)
print("Highest grade completed:", group_stat('scyfnsh'))

# Highest grade completed (std dev in parentheses)
print("Std dev of highest grade:", group_stat('scyfnsh', return_std=True))

# Currently in school, 'inschl'
print("Currently in school:", group_stat('inschl'))

Currently in private school: [np.float64(0.626), np.float64(0.737), np.float64(0.512), np.float64(0.634), np.float64(0.699)]
Highest grade completed: [np.float64(7.586), np.float64(6.026), np.float64(8.564), np.float64(7.415), np.float64(7.734)]
Std dev of highest grade: [np.float64(0.94), np.float64(0.497), np.float64(1.1), np.float64(1.142), np.float64(0.871)]
Currently in school: [np.float64(0.842), np.float64(0.959), np.float64(0.781), np.float64(0.856), np.float64(0.907)]

# Table 2

In [189]:
data_path = "aerdat4.dta"
voucher = pd.read_stata(data_path)

drop_col = ['inschl', 'prsch_c', 'prscha_1', 'prscha_2','response',  'rept6', 'totscyrs', 'haschild', 'married', 
 'working', 'rept', 'nrept', 'finish6', 'finish7', 'finish8', 'sex_miss', 'usngsch', 'hoursum', 'tab3smpl',
 'working3']
df = voucher.drop(columns = drop_col)

#### A: loser means

In [190]:
A_lose_bog95 = df[(df['age2']>=9) &  (df['age2']<=25) &  (df['vouch0'] == 0) &  
    (df['id']<=4044)]
A_lose_bog97 = df[(df['age2']>=9) &  (df['age2']<=25) & (df['vouch0'] == 0) &   
    (df['dbogota']==1) & (df['d1997']==1)] 
A_lose_jum93 = df[(df['age2']>=9) & (df['age2']<=25) & (df['vouch0'] == 0) & 
    (df['djamundi']==1)]
A_lose_combined = df[(df['age2']>=9) & (df['age2']<=25) & (df['vouch0'] == 0) & 
    ((df['dbogota']==1) | (df['djamundi']==1))]

#loser means for bog95, bog97, jum93, and combined sample respectively
A_loser_mean = [A_lose_bog95, A_lose_bog97, A_lose_jum93, A_lose_combined]
for tbl in A_loser_mean:
    result= tbl[['phone', 'age2','sex_name']].agg(['mean', 'std','count'])
    print(result)

             phone         age2     sex_name
mean      0.881501    12.739302     0.492667
std       0.323305     1.326919     0.500113
count  1519.000000  1519.000000  1500.000000
            phone        age2    sex_name
mean     0.828125   12.738281    0.484127
std      0.378011    1.530686    0.500743
count  256.000000  256.000000  252.000000
            phone        age2    sex_name
mean     0.301205   12.692771    0.386076
std      0.460170    1.504199    0.488396
count  166.000000  166.000000  158.000000
             phone         age2     sex_name
mean      0.824833    12.735188     0.482723
std       0.380208     1.370508     0.499832
count  1941.000000  1941.000000  1910.000000

#### B: loser means

In [191]:
B_lose_bog95 = df[(df['age2']>=9) &  (df['age2']<=25) &  (df['vouch0'] == 0) &  
    (df['bog95asd']==1)]
B_lose_bog97 = df[(df['age2']>=9) &  (df['age2']<=25) & (df['vouch0'] == 0) &   
    (df['bog97asd']==1)] 
B_lose_jum93 = df[(df['age2']>=9) & (df['age2']<=25) & (df['vouch0'] == 0) & 
    (df['jam93asd']==1)]
B_lose_combined = df[(df['age2']>=9) & (df['age2']<=25) & (df['vouch0'] == 0) & 
    ((df['bog95asd']==1) | (df['jam93asd']==1)| (df['bog97asd']==1))]

#loser means for bog95, bog97, jum93, and combined sample respectively
B_loser_mean = [B_lose_bog95, B_lose_bog97, B_lose_jum93, B_lose_combined]
for tbl in B_loser_mean:
    result= tbl[['phone', 'age2','sex_name']].agg(['mean', 'std','count'])
    print(result)

        phone         age2     sex_name
mean      1.0    12.767150     0.500489
std       0.0     1.340805     0.500244
count  1035.0  1035.000000  1023.000000
       phone        age2    sex_name
mean     1.0   12.646226    0.488038
std      0.0    1.521515    0.501057
count  212.0  212.000000  209.000000
            phone        age2    sex_name
mean     0.370370   12.777778    0.372093
std      0.484702    1.572462    0.485247
count  135.000000  135.000000  129.000000
             phone         age2     sex_name
mean      0.938495    12.749638     0.486407
std       0.240341     1.393420     0.499999
count  1382.000000  1382.000000  1361.000000

#### C: loser means

In [192]:
C_lose_bog95 = df[(df['vouch0'] == 0) & (df['bog95smp']==1)]
C_lose_bog97 = df[(df['vouch0'] == 0) & (df['bog97smp']==1)] 
C_lose_jum93 = df[(df['vouch0'] == 0) & (df['jam93smp']==1)]
C_lose_combined = df[(df['vouch0'] == 0) & ((df['bog95smp']==1) | (df['bog97smp']==1)| (df['jam93smp']==1))]

#loser means for bog95, bog97, jum93, and combined sample respectively
C_loser_mean = [C_lose_bog95, C_lose_bog97, C_lose_jum93, C_lose_combined]
for tbl in C_loser_mean:
    result= tbl[['age', 'sex2','mom_sch','dad_sch', 'mom_age', 'dad_age','dad_mw']].agg(['mean', 'std','count'])
    print(result)

              age        sex2     mom_sch     dad_sch     mom_age     dad_age  \
mean    15.036207    0.500858    5.892157    5.890244   40.745887   44.443231
std      1.350647    0.500429    2.668697    2.941176    7.326463    8.140590
count  580.000000  583.000000  510.000000  410.000000  547.000000  458.000000

           dad_mw
mean     0.099762
std      0.300040
count  421.000000
              age        sex2     mom_sch    dad_sch     mom_age     dad_age  \
mean    13.238462    0.526718    5.887931   5.541667   38.716667   41.882353
std      1.440305    0.501202    2.746608   2.495962    6.600463    7.293418
count  130.000000  131.000000  116.000000  96.000000  120.000000  102.000000

          dad_mw
mean    0.087912
std     0.284736
count  91.000000
             age       sex2    mom_sch    dad_sch    mom_age    dad_age  \
mean   17.189189   0.364865   4.385965   5.244444  43.559322  45.468085
std     1.391517   0.484678   2.717367   2.932231   8.810791   9.098139
count  74.000000  74.000000  57.000000  45.000000  59.000000  47.000000

          dad_mw
mean    0.133333
std     0.343776
count  45.000000
              age        sex2     mom_sch     dad_sch     mom_age     dad_age  \
mean    14.941327    0.492386    5.765739    5.776770   40.639118   44.092257
std      1.684313    0.500260    2.714282    2.870395    7.422933    8.135490
count  784.000000  788.000000  683.000000  551.000000  726.000000  607.000000

           dad_mw
mean     0.100539
std      0.300987
count  557.000000

#### A: won voucher

In [193]:
A_won_bog95 = df[(df['age2']>=9) &  (df['age2']<=25) &  
    (df['id'] <= 4044)]
A_won_bog97 = df[(df['age2']>=9) &  (df['age2']<=25) &  
    (df['dbogota'] == 1) & (df['d1997']==1)]
A_won_jam93 = df[(df['age2']>=9) &  (df['age2']<=25) &  
    (df['djamundi'] == 1)]
A_won_combine = df[(df['age2']>=9) &  (df['age2']<=25) &  
    ((df['dbogota'] == 1) | (df['djamundi'] == 1))]
A_won_coeff = [A_won_bog95, A_won_bog97, A_won_jam93, A_won_combine]

#define dep and ind variables
y_var = ['phone', 'age2', 'sex_name']
x_var = ['vouch0', 'dbogota', 'djamundi', 'd1993', 'd1995', 'd1997']

#winner coefficients for bog95, bog97, jum93, and combined sample respectively
for y in y_var:
    #remove NA values from dep var
    for tbl in A_won_coeff:
        if y == 'sex_name':
            tbl = tbl[(tbl[y].notna())]
        else:
            tbl = tbl
# Add constant to independent variables
        X = sm.add_constant(tbl[x_var])
# Create OLS model for each y variable  
        coeff = {}
        sd = {}
        model = sm.OLS(tbl[y], X)
        results = model.fit(cov_type='HC1')
        coeff[y] =results.params['vouch0']
        sd[y]=results.bse['vouch0']
        A_won = pd.DataFrame({'coeff': coeff, 'sd': sd})
        print(A_won)
print('count:')
print({'bog95':len(A_won_bog95),'bog97':len(A_won_bog97),'jam93':len(A_won_jam93),'combined':len(A_won_combine)})

          coeff        sd
phone  0.008788  0.010697
          coeff        sd
phone  0.028632  0.025291
          coeff        sd
phone  0.067843  0.051749
          coeff        sd
phone  0.016637  0.009929
         coeff        sd
age2 -0.085707  0.044664
        coeff        sd
age2 -0.22747  0.101592
         coeff        sd
age2 -0.383247  0.162684
         coeff      sd
age2 -0.132819  0.0399
             coeff        sd
sex_name  0.012552  0.016934
            coeff        sd
sex_name  0.00651  0.043983
             coeff       sd
sex_name  0.113924  0.05534
             coeff        sd
sex_name  0.019368  0.015171
count:
{'bog95': 3661, 'bog97': 1736, 'jam93': 335, 'combined': 5732}

In [194]:
#### B: won voucher

In [195]:
B_won_bog95 = df[(df['age2']>=9) &  (df['age2']<=25) &  
    (df['bog95asd']==1)]
B_won_bog97 = df[(df['age2']>=9) &  (df['age2']<=25) &  
    (df['bog97asd']==1)]
B_won_jam93 = df[(df['age2']>=9) &  (df['age2']<=25) &  
    (df['jam93asd']==1)]
B_won_combine = df[(df['age2']>=9) &  (df['age2']<=25) &  
    ((df['bog95asd']==1) | (df['bog97asd']==1)| (df['jam93asd']==1))]
B_won_coeff = [B_won_bog95, B_won_bog97, B_won_jam93, B_won_combine]

y_var = ['phone', 'age2','sex_name']
x_var = ['vouch0', 'dbogota', 'djamundi', 'd1993', 'd1995', 'd1997']

#winner coefficients for bog95, bog97, jum93, and combined sample respectively
for y in y_var:
    for tbl in B_won_coeff:
        if y == 'sex_name':
            tbl = tbl[(tbl[y].notna())]
        else:
            tbl = tbl

        X = sm.add_constant(tbl[x_var])

        coeff = {}
        sd = {}
        model = sm.OLS(tbl[y], X)
        results = model.fit(cov_type='HC1')
        coeff[y] =results.params['vouch0']
        sd[y]=results.bse['vouch0']
        B_won = pd.DataFrame({'coeff': coeff, 'sd': sd})
        print(B_won)
print('count:')
print({'bog95':len(B_won_bog95),'bog97':len(B_won_bog97),'jam93':len(B_won_jam93),'combined':len(B_won_combine)})

              coeff        sd
phone -5.152129e-16  0.000966
              coeff            sd
phone  9.367507e-17  1.691363e-17
          coeff        sd
phone  0.082184  0.059682
          coeff       sd
phone  0.008027  0.00588
         coeff       sd
age2 -0.110417  0.06087
         coeff        sd
age2 -0.192837  0.136414
         coeff        sd
age2 -0.595296  0.183253
         coeff        sd
age2 -0.177093  0.052562
             coeff        sd
sex_name -0.006918  0.022201
             coeff       sd
sex_name -0.020227  0.04769
             coeff        sd
sex_name  0.101591  0.060943
             coeff       sd
sex_name  0.001133  0.01911
count:
{'bog95': 2067, 'bog97': 448, 'jam93': 272, 'combined': 2787}

#### C: won voucher

In [196]:
C_won_bog95 = df[df['bog95smp']==1]
C_won_bog97 = df[df['bog97smp']==1]
C_won_jam93 = df[df['jam93smp']==1]
C_won_combine = df[(df['bog95smp']==1) | (df['bog97smp']==1)| (df['jam93smp']==1)]
C_won_coeff = [C_won_bog95, C_won_bog97, C_won_jam93, C_won_combine]

y_var = ['age', 'sex2','mom_sch','dad_sch', 'mom_age', 'dad_age','dad_mw']
x_var = ['vouch0', 'svy', 'hsvisit', 'djamundi', 'dbogota', 'd1993', 'd1995', 'd1997', 'dmonth1','dmonth2',
         'dmonth3','dmonth4','dmonth5','dmonth6','dmonth7','dmonth8','dmonth9','dmonth10','dmonth11','dmonth12',
         'darea1', 'darea2', 'darea3', 'darea4', 'darea5','darea6', 'darea7', 'darea8', 'darea9', 'darea10', 
         'darea11', 'darea12','darea13', 'darea14', 'darea15', 'darea16', 'darea17', 'darea18','darea19']

#winner coefficients for bog95, bog97, jum93, and combined sample respectively
for y in y_var:
    for tbl in C_won_coeff:
        if y != 'sex2':
            tbl = tbl[(tbl[y].notna())] 
        else:
            tbl = tbl

        X = sm.add_constant(tbl[x_var])
 
        coeff = {}
        sd = {}
        model = sm.OLS(tbl[y], X)
        results = model.fit(cov_type='HC1')
        coeff[y] =results.params['vouch0']
        sd[y]=results.bse['vouch0']
        C_won = pd.DataFrame({'coeff': coeff, 'sd': sd})
        print(C_won)
print('count:')
print({'bog95':len(C_won_bog95),'bog97':len(C_won_bog97),'jam93':len(C_won_jam93),'combined':len(C_won_combine)})

        coeff        sd
age -0.013303  0.079095
        coeff        sd
age -0.259007  0.175177
        coeff        sd
age -0.374875  0.221477
        coeff        sd
age -0.106201  0.068724
         coeff        sd
sex2  0.003554  0.029683
         coeff        sd
sex2 -0.047065  0.062126
         coeff       sd
sex2  0.110268  0.07872
         coeff        sd
sex2  0.010124  0.025157
            coeff        sd
mom_sch -0.078517  0.168646
            coeff        sd
mom_sch  0.654107  0.380194
            coeff        sd
mom_sch  1.462128  0.505468
            coeff        sd
mom_sch  0.183343  0.146139
            coeff        sd
dad_sch -0.431082  0.203114
            coeff        sd
dad_sch  0.929246  0.399743
            coeff        sd
dad_sch  0.737059  0.661103
            coeff        sd
dad_sch -0.039288  0.172978
            coeff        sd
mom_age -0.089659  0.430998
            coeff        sd
mom_age -0.145763  0.827477
            coeff        sd
mom_age -0.736044  1.456488
           coeff        sd
mom_age -0.07568  0.366318
            coeff        sd
dad_age  0.566931  0.541901
            coeff        sd
dad_age  0.264763  0.999732
            coeff       sd
dad_age  1.916005  1.65832
            coeff        sd
dad_age  0.539423  0.459174
           coeff        sd
dad_mw  0.004692  0.021177
           coeff        sd
dad_mw -0.007581  0.044295
           coeff        sd
dad_mw -0.092139  0.058097
           coeff        sd
dad_mw -0.001773  0.018099
count:
{'bog95': 1176, 'bog97': 277, 'jam93': 165, 'combined': 1618}

#### Test: loser means

In [197]:
data_path2 = "tab5v1.dta"
test = pd.read_stata(data_path2)

#loser means
test_loser = test[test['vouch0']==0]
test_loser_means = test_loser[['age', 'sex2','mom_sch','dad_sch', 'mom_age', 'dad_age','dad_mw']].agg(['mean', 'std', 'count'])
print(test_loser_means)

              age        sex2     mom_sch     dad_sch     mom_age     dad_age  \
mean    14.927419    0.451613    5.459677    4.032258   40.289256   43.495238
std      1.397869    0.499672    2.911707    3.283206    6.575761    7.652455
count  124.000000  124.000000  124.000000  124.000000  121.000000  105.000000

          dad_mw
mean    0.051546
std     0.222258
count  97.000000

#### Test: won voucher

In [198]:
y_var = ['age','sex2','mom_sch','dad_sch', 'mom_age', 'dad_age','dad_mw']
x_var = ['vouch0', 'svy', 'hsvisit', 'djamundi', 'dbogota', 'd1993', 'd1995', 'd1997', 'dmonth1','dmonth2',
         'dmonth3','dmonth4','dmonth5','dmonth6','dmonth7','dmonth8','dmonth9','dmonth10','dmonth11','dmonth12',
         'darea1', 'darea2', 'darea3', 'darea4', 'darea5','darea6', 'darea7', 'darea8', 'darea9', 'darea10', 
         'darea11', 'darea12','darea13', 'darea14', 'darea15', 'darea16', 'darea17', 'darea18','darea19']

for y in y_var:
    tbl = test[(test[y].notna())]

    X = sm.add_constant(tbl[x_var])

    coeff = {}
    sd = {}
    model = sm.OLS(tbl[y], X)
    results = model.fit(cov_type='HC1')
    coeff[y] =results.params['vouch0']
    sd[y]=results.bse['vouch0']
    test_coeff = pd.DataFrame({'coeff': coeff, 'sd': sd})
    print(test_coeff)
print({'count':len(test)})

        coeff       sd
age -0.128327  0.18407
        coeff        sd
sex2  0.06202  0.064468
            coeff       sd
mom_sch -0.121869  0.38476
            coeff        sd
dad_sch -0.073584  0.433849
            coeff        sd
mom_age  0.155623  0.919073
           coeff        sd
dad_age  0.62002  1.232901
           coeff      sd
dad_mw  0.128317  0.0497
{'count': 283}

# Table 3

In [199]:
pd.set_option('display.max_rows', 15)

In [200]:
df = pd.read_stata("aerdat4.dta")
tab7 = pd.read_stata("tab7.dta")

In [201]:
df.columns

Index(['id', 'bog95smp', 'bog97smp', 'jam93smp', 'sex', 'age', 'age2',
       'hsvisit', 'scyfnsh', 'inschl', 'prsch_c', 'prscha_1', 'prscha_2',
       'vouch0', 'bog95asd', 'bog97asd', 'jam93asd', 'dbogota', 'djamundi',
       'd1995', 'd1997', 'response', 'test_tak', 'sex_name', 'svy', 'd1993',
       'phone', 'darea1', 'darea2', 'darea3', 'darea4', 'darea5', 'darea6',
       'darea7', 'darea8', 'darea9', 'darea10', 'darea11', 'darea12',
       'darea13', 'darea14', 'darea15', 'darea16', 'darea17', 'darea18',
       'darea19', 'dmonth1', 'dmonth2', 'dmonth3', 'dmonth4', 'dmonth5',
       'dmonth6', 'dmonth7', 'dmonth8', 'dmonth9', 'dmonth10', 'dmonth11',
       'dmonth12', 'bog95', 'bog97', 'mom_sch', 'mom_age', 'mom_mw', 'dad_sch',
       'dad_age', 'dad_mw', 'sex2', 'strata1', 'strata2', 'strata3', 'strata4',
       'strata5', 'strata6', 'stratams', 'rept6', 'totscyrs', 'haschild',
       'married', 'working', 'rept', 'nrept', 'finish6', 'finish7', 'finish8',
       'sex_miss', 'usngsch', 'hoursum', 'tab3smpl', 'working3'],
      dtype='object')

In [202]:
tab7.columns

Index(['id', 'fechamm', 'q27grade', 'citynum', 'q38grade', 'vouch0', 'year',
       'intervwr', 'bog95smp', 'bog97smp', 'jam93smp', 'sex', 'svy', 'misscc',
       'dbogota', 'djamundi', 'dbosa', 'dcartag', 'd1995', 'd1993', 'd1996',
       'd1997', 'yrapp', 'age', 'age2', 'ageapp', 'response', 'hsvisit',
       'phone', 'rept6', 'rept7', 'rept8', 'scyfnsh', 'scyenrl', 'inschl',
       'totscyrs', 'darea1', 'darea2', 'darea3', 'darea4', 'darea5', 'darea6',
       'darea7', 'darea8', 'darea9', 'darea10', 'darea11', 'darea12',
       'darea13', 'darea14', 'darea15', 'darea16', 'darea17', 'darea18',
       'darea19', 'dmonth1', 'dmonth2', 'dmonth3', 'dmonth4', 'dmonth5',
       'dmonth6', 'dmonth7', 'dmonth8', 'dmonth9', 'dmonth10', 'dmonth11',
       'dmonth12', 'prscha_1', 'prscha_2', 'prsch_c', 'mvouch0', 'living',
       'haschild', 'viol', 'police', 'married', 'judic', 'working', 'hoursum',
       'wkformal', 'hourmax', 'wagemax', 'rept', 'nrept', 'finish6', 'finish7',
       'finish8', 'strata1', 'strata2', 'strata3', 'strata4', 'strata5',
       'strata6', 'stratams', 'sex2', 'sex_miss', 'usngsch', 'usesch'],
      dtype='object')

In [203]:
loser_bog95_tab7 = tab7[(tab7['vouch0'] == 0) & (tab7['bog95smp'] == 1)]

In [204]:
bog95_tab7 = tab7[tab7['bog95smp'] == 1]

In [205]:
combined_sample = df[df['tab3smpl'] == 1]
combined_sample

,id,bog95smp,bog97smp,jam93smp,sex,age,age2,hsvisit,scyfnsh,inschl,...,rept,nrept,finish6,finish7,finish8,sex_miss,usngsch,hoursum,tab3smpl,working3
3,3.0,1.0,0.0,0.0,0.0,14.0,12.0,0.0,8.0,1.0,...,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0
4,4.0,1.0,0.0,0.0,1.0,14.0,12.0,0.0,8.0,1.0,...,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0
5,5.0,1.0,0.0,0.0,0.0,14.0,12.0,0.0,8.0,1.0,...,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
6,6.0,1.0,0.0,0.0,0.0,12.0,10.0,0.0,7.0,1.0,...,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
10,10.0,1.0,0.0,0.0,1.0,14.0,11.0,0.0,8.0,1.0,...,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21473,21473.0,0.0,1.0,0.0,0.0,13.0,12.0,0.0,6.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
21476,21476.0,0.0,1.0,0.0,0.0,13.0,13.0,0.0,7.0,1.0,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
21479,21479.0,0.0,1.0,0.0,0.0,15.0,14.0,0.0,6.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
21480,21480.0,0.0,1.0,0.0,0.0,12.0,11.0,0.0,7.0,1.0,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
21483,21483.0,0.0,1.0,0.0,1.0,14.0,13.0,0.0,7.0,1.0,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0

In [206]:
bog95_sample = combined_sample[combined_sample['bog95smp'] == 1]
bog95_sample

,id,bog95smp,bog97smp,jam93smp,sex,age,age2,hsvisit,scyfnsh,inschl,...,rept,nrept,finish6,finish7,finish8,sex_miss,usngsch,hoursum,tab3smpl,working3
3,3.0,1.0,0.0,0.0,0.0,14.0,12.0,0.0,8.0,1.0,...,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0
4,4.0,1.0,0.0,0.0,1.0,14.0,12.0,0.0,8.0,1.0,...,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0
5,5.0,1.0,0.0,0.0,0.0,14.0,12.0,0.0,8.0,1.0,...,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
6,6.0,1.0,0.0,0.0,0.0,12.0,10.0,0.0,7.0,1.0,...,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
10,10.0,1.0,0.0,0.0,1.0,14.0,11.0,0.0,8.0,1.0,...,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3997,3997.0,1.0,0.0,0.0,0.0,16.0,NaN,1.0,6.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4006,4006.0,1.0,0.0,0.0,0.0,14.0,12.0,0.0,8.0,1.0,...,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0
4022,4022.0,1.0,0.0,0.0,0.0,16.0,13.0,0.0,8.0,1.0,...,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
4023,4023.0,1.0,0.0,0.0,0.0,16.0,13.0,0.0,8.0,1.0,...,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
4030,4030.0,1.0,0.0,0.0,1.0,14.0,11.0,0.0,8.0,1.0,...,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0

In [207]:
dependent_variables_table3 = ['usngsch','prscha_1','prscha_2','prsch_c','scyfnsh','inschl','finish6','finish7','finish8','rept6','rept','nrept','totscyrs']

In [208]:
loser_bog95 = bog95_sample[bog95_sample['vouch0'] == 0]
loser_bog95

,id,bog95smp,bog97smp,jam93smp,sex,age,age2,hsvisit,scyfnsh,inschl,...,rept,nrept,finish6,finish7,finish8,sex_miss,usngsch,hoursum,tab3smpl,working3
4,4.0,1.0,0.0,0.0,1.0,14.0,12.0,0.0,8.0,1.0,...,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0
5,5.0,1.0,0.0,0.0,0.0,14.0,12.0,0.0,8.0,1.0,...,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
6,6.0,1.0,0.0,0.0,0.0,12.0,10.0,0.0,7.0,1.0,...,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
12,12.0,1.0,0.0,0.0,1.0,14.0,12.0,0.0,8.0,1.0,...,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
16,16.0,1.0,0.0,0.0,0.0,15.0,13.0,1.0,7.0,0.0,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,8.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3902,3902.0,1.0,0.0,0.0,0.0,17.0,12.0,0.0,8.0,1.0,...,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
3945,3945.0,1.0,0.0,0.0,0.0,18.0,15.0,0.0,9.0,0.0,...,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
4022,4022.0,1.0,0.0,0.0,0.0,16.0,13.0,0.0,8.0,1.0,...,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
4023,4023.0,1.0,0.0,0.0,0.0,16.0,13.0,0.0,8.0,1.0,...,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
4030,4030.0,1.0,0.0,0.0,1.0,14.0,11.0,0.0,8.0,1.0,...,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0

In [209]:
# Table 3 Column 1 (everything but "ever used a scholarship")

def tab3_col1(dep_var):
    
    loser_mean = loser_bog95[dep_var].mean()
    loser_std = loser_bog95[dep_var].std()
    loser_n = loser_bog95[dep_var].notna().sum()
    
    return round(loser_mean, 4), round(loser_std, 4), loser_n

In [210]:
for dep_var in dependent_variables_table3:
    mean, std, n = tab3_col1(dep_var)
    print(f"{dep_var}: mean={mean}, std={std}, n={n}")

usngsch: mean=0.0569, std=0.2319, n=562
prscha_1: mean=0.8772, std=0.3285, n=562
prscha_2: mean=0.6726, std=0.4697, n=562
prsch_c: mean=0.5391, std=0.4989, n=562
scyfnsh: mean=7.4858, std=0.965, n=562
inschl: mean=0.831, std=0.3751, n=562
finish6: mean=0.9431, std=0.2319, n=562
finish7: mean=0.847, std=0.3603, n=562
finish8: mean=0.6317, std=0.4828, n=562
rept6: mean=0.194, std=0.4544, n=562
rept: mean=0.2242, std=0.4174, n=562
nrept: mean=0.2544, std=0.5077, n=562
totscyrs: mean=3.653, std=0.951, n=562

In [211]:
# Table 3 Column 1 ("ever used a scholarship")

def tab3_col1_evrsc(dep_var):
    
    loser_mean = loser_bog95_tab7[dep_var].mean()
    loser_std = loser_bog95_tab7[dep_var].std()
    loser_n = loser_bog95_tab7[dep_var].notna().sum()
    
    return round(loser_mean, 4), round(loser_std, 4), loser_n

In [212]:
mean, std, n = tab3_col1_evrsc('usesch')
print(f"{dep_var}: mean={mean}, std={std}, n={n}")

totscyrs: mean=0.2401, std=0.4275, n=579

In [213]:
# Table 3 Column 2 (everything but "ever used a scholarship")

treatment = 'vouch0'

def tab3_col2(dep_var, treatment):

    for var in dependent_variables_table3:
        vars_needed = [treatment, var]
        data = bog95_sample[vars_needed].dropna()

        X = sm.add_constant(data[treatment])
        y = data[var]

        model = sm.OLS(y, X).fit()

        coef = model.params[treatment]
        std_err = model.bse[treatment]
        n = data.shape[0]

        print(f"{var}: coef={round(coef, 4)}, std_err={round(std_err, 4)}, n={n}")

In [214]:
tab3_col2(dependent_variables_table3, treatment)

usngsch: coef=0.5089, std_err=0.023, n=1147
prscha_1: coef=0.0629, std_err=0.0169, n=1147
prscha_2: coef=0.1736, std_err=0.0247, n=1147
prsch_c: coef=0.16, std_err=0.0283, n=1147
scyfnsh: coef=0.1638, std_err=0.053, n=1147
inschl: coef=0.0186, std_err=0.0216, n=1147
finish6: coef=0.0262, std_err=0.012, n=1147
finish7: coef=0.0402, std_err=0.02, n=1147
finish8: coef=0.1119, std_err=0.0272, n=1147
rept6: coef=-0.0657, std_err=0.0243, n=1147
rept: coef=-0.0601, std_err=0.0233, n=1147
nrept: coef=-0.0733, std_err=0.0278, n=1147
totscyrs: coef=0.0581, std_err=0.0524, n=1147

In [215]:
# Table 3 Column 2 ("ever used a scholarship")

def tab3_col2_evrsc(dep_var, treatment):

    vars_needed = [treatment, dep_var]
    data = bog95_tab7[vars_needed].dropna()

    X = sm.add_constant(data[treatment])
    y = data[dep_var]

    model = sm.OLS(y, X).fit()

    coef = model.params[treatment]
    std_err = model.bse[treatment]
    n = data.shape[0]

    print(f"{dep_var}: coef={round(coef, 4)}, std_err={round(std_err, 4)}, n={n}")

In [216]:
tab3_col2_evrsc('usesch', treatment)

usesch: coef=0.6755, std_err=0.021, n=1171

In [217]:
# Table 3 Column 3 (everything but "ever used a scholarship")
controls = ['age','sex2','hsvisit','dmonth1','dmonth2','dmonth3','dmonth4','dmonth5','dmonth6','dmonth7','dmonth8','dmonth9','sex_miss',
            'dmonth10','dmonth11','dmonth12','phone','svy','strata1','strata2','strata3','strata4','strata5','strata6','stratams','djamundi','dbogota','d1993','d1995','d1997']

def tab3_col3(dep_var, treatment, controls):

    for var in dep_var:
        vars_needed = [treatment, var] + controls
        data = bog95_sample[vars_needed].dropna()

        X = sm.add_constant(data[[treatment] + controls])
        y = data[var]

        model = sm.OLS(y, X).fit()

        coef = model.params[treatment]
        std_err = model.bse[treatment]
        n = data.shape[0]

        print(f"{var}: coef={round(coef, 4)}, std_err={round(std_err, 4)}, n={n}")

In [218]:
tab3_col3(dependent_variables_table3, treatment, controls)

usngsch: coef=0.5042, std_err=0.0229, n=1147
prscha_1: coef=0.0574, std_err=0.017, n=1147
prscha_2: coef=0.1681, std_err=0.0247, n=1147
prsch_c: coef=0.1533, std_err=0.0278, n=1147
scyfnsh: coef=0.1301, std_err=0.0517, n=1147
inschl: coef=0.0069, std_err=0.0203, n=1147
finish6: coef=0.0229, std_err=0.012, n=1147
finish7: coef=0.0307, std_err=0.0198, n=1147
finish8: coef=0.1002, std_err=0.027, n=1147
rept6: coef=-0.0594, std_err=0.0246, n=1147
rept: coef=-0.0548, std_err=0.0235, n=1147
nrept: coef=-0.0667, std_err=0.0279, n=1147
totscyrs: coef=0.0337, std_err=0.0509, n=1147

In [219]:
# Table 3 Column 3 ("ever used a scholarship")

def tab3_col3_evrsc(dep_var, treatment, controls):

    vars_needed = [treatment, dep_var] + controls
    data = bog95_tab7[vars_needed].dropna()

    X = sm.add_constant(data[[treatment] + controls])
    y = data[dep_var]

    model = sm.OLS(y, X).fit()

    coef = model.params[treatment]
    std_err = model.bse[treatment]
    n = data.shape[0]

    print(f"{dep_var}: coef={round(coef, 4)}, std_err={round(std_err, 4)}, n={n}")

tab3_col3_evrsc('usesch', treatment, controls)

usesch: coef=0.6676, std_err=0.0212, n=1171

In [220]:
# Table 3 Column 4 (everything but "ever used a scholarship")
controls_w_barrios = ['age','sex2','hsvisit','dmonth1','dmonth2','dmonth3','dmonth4','dmonth5','dmonth6','dmonth7','dmonth8','dmonth9',
            'dmonth10','dmonth11','dmonth12','phone','svy','strata1','strata2','strata3','strata4','strata5','strata6','stratams',
            'djamundi','dbogota','d1993','d1995','d1997','darea1','darea2','darea3','darea4','darea5','darea6','darea7','darea8','darea9',
            'darea10','darea11','darea12','darea13','darea14','darea15','darea16','darea17','darea18','darea19']

def tab3_col4(dep_var, treatment, controls):

    for var in dep_var:
        vars_needed = [treatment, var] + controls
        data = bog95_sample[vars_needed].dropna()

        X = sm.add_constant(data[[treatment] + controls])
        y = data[var]

        model = sm.OLS(y, X).fit()

        coef = model.params[treatment]
        std_err = model.bse[treatment]
        n = data.shape[0]

        print(f"{var}: coef={round(coef, 4)}, std_err={round(std_err, 4)}, n={n}")

In [221]:
tab3_col4(dependent_variables_table3, treatment, controls_w_barrios)

usngsch: coef=0.5051, std_err=0.023, n=1147
prscha_1: coef=0.0581, std_err=0.017, n=1147
prscha_2: coef=0.1707, std_err=0.0246, n=1147
prsch_c: coef=0.1556, std_err=0.0277, n=1147
scyfnsh: coef=0.1204, std_err=0.0519, n=1147
inschl: coef=0.007, std_err=0.0204, n=1147
finish6: coef=0.0212, std_err=0.0121, n=1147
finish7: coef=0.0285, std_err=0.0199, n=1147
finish8: coef=0.0945, std_err=0.027, n=1147
rept6: coef=-0.0589, std_err=0.0248, n=1147
rept: coef=-0.0509, std_err=0.0237, n=1147
nrept: coef=-0.0636, std_err=0.0282, n=1147
totscyrs: coef=0.0308, std_err=0.051, n=1147

In [222]:
# Table 3 Column 4 ("ever used a scholarship")

def tab3_col4_evrsc(dep_var, treatment, controls):

    vars_needed = [treatment, dep_var] + controls
    data = bog95_tab7[vars_needed].dropna()

    X = sm.add_constant(data[[treatment] + controls])
    y = data[dep_var]

    model = sm.OLS(y, X).fit()

    coef = model.params[treatment]
    std_err = model.bse[treatment]
    n = data.shape[0]

    print(f"{dep_var}: coef={round(coef, 4)}, std_err={round(std_err, 4)}, n={n}")

tab3_col4_evrsc('usesch', treatment, controls_w_barrios)

usesch: coef=0.6673, std_err=0.0213, n=1171

In [223]:
# Table 3 Column 5 (everything but "ever used a scholarship")

def tab3_col5(dep_var, treatment, controls):

    for var in dep_var:
        vars_needed = [treatment, var] + controls
        if var in ['finish7', 'finish8']:
            data = combined_sample[combined_sample['bog97smp'] == 0][vars_needed].dropna()
        else:
            data = combined_sample[vars_needed].dropna()

        X = sm.add_constant(data[[treatment] + controls])
        y = data[var]

        model = sm.OLS(y, X).fit()

        coef = model.params[treatment]
        std_err = model.bse[treatment]
        n = data.shape[0]

        print(f"{var}: coef={round(coef, 4)}, std_err={round(std_err, 4)}, n={n}")

In [224]:
tab3_col5(dependent_variables_table3, treatment, controls)

usngsch: coef=0.5198, std_err=0.0193, n=1577
prscha_1: coef=0.0661, std_err=0.016, n=1577
prscha_2: coef=0.1703, std_err=0.0214, n=1577
prsch_c: coef=0.1523, std_err=0.0233, n=1577
scyfnsh: coef=0.0854, std_err=0.0415, n=1577
inschl: coef=-0.0016, std_err=0.0165, n=1577
finish6: coef=0.0138, std_err=0.0107, n=1577
finish7: coef=0.0271, std_err=0.0177, n=1304
finish8: coef=0.0809, std_err=0.0246, n=1304
rept6: coef=-0.0494, std_err=0.0197, n=1577
rept: coef=-0.0548, std_err=0.0191, n=1577
nrept: coef=-0.058, std_err=0.0224, n=1577
totscyrs: coef=0.0148, std_err=0.044, n=1577

In [225]:
# Table 3 Column 5 ("ever used a scholarship")

def tab3_col5_evrsc(dep_var, treatment, controls):

    vars_needed = [treatment, dep_var] + controls
    data = tab7[(tab7['bog95smp'] == 1) | (tab7['bog97smp'] == 1) | (tab7['jam93smp'])][vars_needed].dropna()

    X = sm.add_constant(data[[treatment] + controls])
    y = data[dep_var]

    model = sm.OLS(y, X).fit()

    coef = model.params[treatment]
    std_err = model.bse[treatment]
    n = data.shape[0]

    print(f"{dep_var}: coef={round(coef, 4)}, std_err={round(std_err, 4)}, n={n}")

tab3_col5_evrsc('usesch', treatment, controls)

usesch: coef=0.6375, std_err=0.0187, n=1610

In [226]:
# Table 3 Column 6 (everything but "ever used a scholarship")

def tab3_col6(dep_var, treatment, controls):

    for var in dep_var:
        vars_needed = [treatment, var] + controls
        if var in ['finish7', 'finish8']:
            data = combined_sample[combined_sample['bog97smp'] == 0][vars_needed].dropna()
        else:
            data = combined_sample[vars_needed].dropna()
        X = sm.add_constant(data[[treatment] + controls])
        y = data[var]

        model = sm.OLS(y, X).fit()

        coef = model.params[treatment]
        std_err = model.bse[treatment]
        n = data.shape[0]

        print(f"{var}: coef={round(coef, 4)}, std_err={round(std_err, 4)}, n={n}")

In [227]:
tab3_col6(dependent_variables_table3, treatment, controls_w_barrios)

usngsch: coef=0.5214, std_err=0.0193, n=1577
prscha_1: coef=0.0673, std_err=0.016, n=1577
prscha_2: coef=0.1727, std_err=0.0213, n=1577
prsch_c: coef=0.1544, std_err=0.0233, n=1577
scyfnsh: coef=0.0777, std_err=0.0416, n=1577
inschl: coef=-0.0021, std_err=0.0166, n=1577
finish6: coef=0.0124, std_err=0.0108, n=1577
finish7: coef=0.0251, std_err=0.0178, n=1304
finish8: coef=0.0765, std_err=0.0246, n=1304
rept6: coef=-0.0494, std_err=0.0198, n=1577
rept: coef=-0.0531, std_err=0.0192, n=1577
nrept: coef=-0.0568, std_err=0.0225, n=1577
totscyrs: coef=0.0118, std_err=0.0441, n=1577

In [228]:
# Table 3 Column 6 ("ever used a scholarship")

def tab3_col6_evrsc(dep_var, treatment, controls):

    vars_needed = [treatment, dep_var] + controls
    data = tab7[(tab7['bog95smp'] == 1) | (tab7['bog97smp'] == 1) | (tab7['jam93smp'])][vars_needed].dropna()

    X = sm.add_constant(data[[treatment] + controls])
    y = data[dep_var]

    model = sm.OLS(y, X).fit()

    coef = model.params[treatment]
    std_err = model.bse[treatment]
    n = data.shape[0]

    print(f"{dep_var}: coef={round(coef, 4)}, std_err={round(std_err, 4)}, n={n}")

tab3_col6_evrsc('usesch', treatment, controls_w_barrios)

usesch: coef=0.6373, std_err=0.0187, n=1610

# Table 4

In [229]:
data_path = "aerdat4.dta"
voucher = pd.read_stata(data_path)

# remove rows with conflicting cohort data
cohort = voucher.copy()[(voucher['bog95smp']==1)|(voucher['bog97smp']==1) | (voucher['jam93smp']==1)]
cohort = cohort[cohort['tab3smpl']==1]
#only keep certain columns 
drop_col = ['sex', 'bog95asd', 'bog97asd', 'jam93asd', 'response', 'test_tak', 'sex_name', 'bog95', 'bog97',
             'mom_sch', 'mom_age', 'mom_mw', 'dad_sch','dad_age', 'dad_mw','haschild','married', 'working',
             'hoursum', 'tab3smpl', 'working3']
filtered_cohort = cohort.drop(columns = drop_col)

#### Bogota 1995: male and female loser means

In [230]:
#bogota 1995 sample of losers 
bog95_loser = filtered_cohort[(filtered_cohort['bog95smp']==1) &(filtered_cohort['vouch0']==0)]
#sort and group values by sex
bog95_loser_sex = bog95_loser.groupby('sex2').agg(['mean','std','count'])
#only keep dependent variables
dep_var = ['prscha_1', 'prscha_2', 'prsch_c', 'scyfnsh', 'inschl', 'finish6', 'finish7', 'finish8', 'rept6',
       'rept', 'nrept', 'totscyrs']
bog95_loser_means = bog95_loser_sex[dep_var]

#put values in dataframe
bog95_loser_tbl = bog95_loser_means.transpose().rename(columns = {0:'female',1:'male'})
print(bog95_loser_tbl)

sex2                female        male
prscha_1 mean     0.897163    0.857143
         std      0.304286    0.350554
         count  282.000000  280.000000
prscha_2 mean     0.698582    0.646429
         std      0.459690    0.478934
...                    ...         ...
nrept    std      0.459127    0.549997
         count  282.000000  280.000000
totscyrs mean     3.641844    3.664286
         std      0.941011    0.962454
         count  282.000000  280.000000

[36 rows x 2 columns]

#### Bogota 1995: Female and Male Basic Controls

In [231]:
#define ind variables
x_var = ['vouch0', 'svy', 'hsvisit', 'djamundi', 'phone', 'age', 'sex2', 'strata1','strata2','strata3','strata4',
           'strata5','strata6', 'stratams','dbogota', 'd1993', 'd1995', 'd1997', 'dmonth1','dmonth2','dmonth3','dmonth4',
           'dmonth5','dmonth6','dmonth7','dmonth8','dmonth9','dmonth10','dmonth11','dmonth12', 'sex_miss']

#coefficients for female and male data respectively
for sex in [1,0]:
    df = filtered_cohort[(filtered_cohort['sex2']==sex)& (filtered_cohort['bog95smp']==1)]
    # Add constant to independent variables
    X = sm.add_constant(df[x_var])
    # Create OLS model for each y variable  
    coeff = {}
    sd = {}
    for y in dep_var:
        model = sm.OLS(df[y], X)
        # HC1 for heteroskedasticity-consistent standard errors (SAS /acov equivalent)
        results = model.fit(cov_type='HC1')
        coeff[y] =results.params['vouch0']
        sd[y]=results.bse['vouch0']
    bog96_control = pd.DataFrame({'coeff': coeff, 'sd': sd})
    print(bog96_control)
    print({'count':len(df)})

             coeff        sd
prscha_1  0.090172  0.026306
prscha_2  0.192240  0.036229
prsch_c   0.136347  0.039494
scyfnsh   0.123496  0.077273
inschl   -0.019509  0.029418
finish6   0.014449  0.018518
finish7   0.026428  0.029756
finish8   0.094981  0.040236
rept6    -0.086613  0.037790
rept     -0.083024  0.034306
nrept    -0.101475  0.042915
totscyrs -0.028629  0.077949
{'count': 575}
             coeff        sd
prscha_1  0.022859  0.022313
prscha_2  0.143959  0.034651
prsch_c   0.171052  0.039543
scyfnsh   0.140357  0.066422
inschl    0.034716  0.027702
finish6   0.031746  0.013066
finish7   0.041145  0.025046
finish8   0.104731  0.036784
rept6    -0.036167  0.030390
rept     -0.028960  0.031614
nrept    -0.031336  0.033774
totscyrs  0.090922  0.063950
{'count': 572}

#### Combined: Female and Male Basic Controls

In [232]:
#define ind variables
x_var = ['vouch0', 'svy', 'hsvisit', 'djamundi', 'phone', 'age', 'sex2', 'strata1','strata2','strata3','strata4',
           'strata5','strata6', 'stratams','dbogota', 'd1993', 'd1995', 'd1997', 'dmonth1','dmonth2','dmonth3','dmonth4',
           'dmonth5','dmonth6','dmonth7','dmonth8','dmonth9','dmonth10','dmonth11','dmonth12', 'sex_miss']

#coefficients for male and female data respectively
for sex in [1,0]:
    df = filtered_cohort[filtered_cohort['sex2']==sex]
    # Add constant to independent variables
    X = sm.add_constant(df[x_var])
    # Create OLS model for each y variable  
    coeff = {}
    sd = {}
    for y in dep_var:
        model = sm.OLS(df[y], X)
        results = model.fit(cov_type='HC1')
        coeff[y] =results.params['vouch0']
        sd[y]=results.bse['vouch0']
    combined_tbl = pd.DataFrame({'coeff': coeff, 'sd': sd})
    print(combined_tbl)
    print({'count':len(df)})

             coeff        sd
prscha_1  0.062864  0.023682
prscha_2  0.168773  0.031446
prsch_c   0.123528  0.033524
scyfnsh   0.055993  0.063111
inschl   -0.026311  0.023896
finish6   0.002598  0.017397
finish7  -0.003332  0.024286
finish8   0.065651  0.030854
rept6    -0.069601  0.031504
rept     -0.075807  0.028607
nrept    -0.079082  0.035143
totscyrs -0.040871  0.067597
{'count': 779}
             coeff        sd
prscha_1  0.072180  0.021715
prscha_2  0.175611  0.029953
prsch_c   0.182161  0.032973
scyfnsh   0.121720  0.053158
inschl    0.029170  0.022708
finish6   0.027212  0.012260
finish7   0.022232  0.020372
finish8   0.078306  0.027680
rept6    -0.032620  0.023773
rept     -0.034877  0.025300
nrept    -0.037013  0.026675
totscyrs  0.081021  0.055901
{'count': 798}

# Table 5

In [233]:
df = pd.read_stata("aerdat4.dta")
tab5 = pd.read_stata("tab5v1.dta")

In [234]:
tab5.columns

Index(['id', 'vouch0', 'sex', 'svy', 'age', 'hsvisit', 'strata1', 'strata2',
       'strata3', 'strata4', 'strata5', 'strata6', 'mom_sch', 'dad_sch',
       'dad_miss', 'mom_miss', 'math', 'reading', 'writing', 't_site',
       'totalpts', 'tsite1', 'tsite2', 'tsite3', 'sex_name', 'bog95smp',
       'bog95asd', 'bog97smp', 'bog97asd', 'jam93smp', 'jam93asd', 'test_tak',
       'dbogota', 'djamundi', 'd1995', 'd1993', 'd1997', 'phone', 'scyfnsh',
       'darea1', 'darea2', 'darea3', 'darea4', 'darea5', 'darea6', 'darea7',
       'darea8', 'darea9', 'darea10', 'darea11', 'darea12', 'darea13',
       'darea14', 'darea15', 'darea16', 'darea17', 'darea18', 'darea19',
       'dmonth1', 'dmonth2', 'dmonth3', 'dmonth4', 'dmonth5', 'dmonth6',
       'dmonth7', 'dmonth8', 'dmonth9', 'dmonth10', 'dmonth11', 'dmonth12',
       'bog95', 'bog97', 'mom_age', 'mom_mw', 'dad_age', 'dad_mw', 'sex2',
       'stratams', 'age2'],
      dtype='object')

In [235]:
# Panel A Column 1

treatment = 'vouch0'
controls = ['tsite1','tsite2','tsite3']
ols_vars_panelA = ['totalpts','math','reading','writing']

def tab5_panelA_col1(vars, treatment, controls):

    for var in vars:
        vars_needed = [treatment, var] + controls
        data = tab5[vars_needed].dropna()

        X = sm.add_constant(data[[treatment] + controls])
        y = data[var]

        model = sm.OLS(y, X).fit()

        coef = model.params[treatment]
        std_err = model.bse[treatment]
        n = data.shape[0]

        print(f"{var}: coef={round(coef, 4)}, std_err={round(std_err, 4)}, n={n}")

In [236]:
tab5_panelA_col1(ols_vars_panelA, treatment, controls)

totalpts: coef=0.2168, std_err=0.1194, n=282
math: coef=0.1776, std_err=0.119, n=282
reading: coef=0.2036, std_err=0.1201, n=283
writing: coef=0.1259, std_err=0.1209, n=283

In [237]:
# Panel B Column 1

ols_vars_panelBandC = ['totalpts','math','reading']

def tab5_panelB_col1(vars, treatment, controls):

    for var in vars:
        vars_needed = [treatment, var] + controls
        data = tab5[tab5['sex2'] == 0][vars_needed].dropna()

        X = sm.add_constant(data[[treatment] + controls])
        y = data[var]

        model = sm.OLS(y, X).fit()

        coef = model.params[treatment]
        std_err = model.bse[treatment]
        n = data.shape[0]

        print(f"{var}: coef={round(coef, 4)}, std_err={round(std_err, 4)}, n={n}")

In [238]:
tab5_panelB_col1(ols_vars_panelBandC, treatment, controls)

totalpts: coef=0.2412, std_err=0.1534, n=147
math: coef=0.3281, std_err=0.1447, n=147
reading: coef=0.1449, std_err=0.1567, n=148

In [239]:
# Panel C Column 1

def tab5_panelC_col1(vars, treatment, controls):

    for var in vars:
        vars_needed = [treatment, var] + controls
        data = tab5[tab5['sex2'] == 1][vars_needed].dropna()

        X = sm.add_constant(data[[treatment] + controls])
        y = data[var]

        model = sm.OLS(y, X).fit()

        coef = model.params[treatment]
        std_err = model.bse[treatment]
        n = data.shape[0]

        print(f"{var}: coef={round(coef, 4)}, std_err={round(std_err, 4)}, n={n}")

In [240]:
tab5_panelC_col1(ols_vars_panelBandC, treatment, controls)

totalpts: coef=0.179, std_err=0.1834, n=135
math: coef=-0.0083, std_err=0.1884, n=135
reading: coef=0.2549, std_err=0.1841, n=135

In [241]:
# Panel A Column 2

treatment = 'vouch0'
controls_w_covariates = ['tsite1','tsite2','tsite3','svy','hsvisit','age','sex','mom_sch','strata1','strata2','strata3','strata4','strata5','strata6','dad_sch','mom_miss','dad_miss']

def tab5_panelA_col2(vars, treatment, controls):

    for var in vars:
        vars_needed = [treatment, var] + controls
        data = tab5[vars_needed].dropna()

        X = sm.add_constant(data[[treatment] + controls])
        y = data[var]

        model = sm.OLS(y, X).fit()

        coef = model.params[treatment]
        std_err = model.bse[treatment]
        n = data.shape[0]

        print(f"{var}: coef={round(coef, 4)}, std_err={round(std_err, 4)}, n={n}")

In [242]:
tab5_panelA_col2(ols_vars_panelA, treatment, controls_w_covariates)

totalpts: coef=0.2237, std_err=0.1091, n=282
math: coef=0.1763, std_err=0.1139, n=282
reading: coef=0.2113, std_err=0.1147, n=283
writing: coef=0.1391, std_err=0.1132, n=283

In [243]:
# Panel B Column 2

def tab5_panelB_col2(vars, treatment, controls):

    for var in vars:
        vars_needed = [treatment, var] + controls
        data = tab5[tab5['sex2'] == 0][vars_needed].dropna()

        X = sm.add_constant(data[[treatment] + controls])
        y = data[var]

        model = sm.OLS(y, X).fit()

        coef = model.params[treatment]
        std_err = model.bse[treatment]
        n = data.shape[0]

        print(f"{var}: coef={round(coef, 4)}, std_err={round(std_err, 4)}, n={n}")

In [244]:
tab5_panelB_col2(ols_vars_panelBandC, treatment, controls_w_covariates)

totalpts: coef=0.3046, std_err=0.1324, n=147
math: coef=0.3686, std_err=0.1361, n=147
reading: coef=0.1775, std_err=0.1494, n=148

In [245]:
# Panel C Column 2

def tab5_panelC_col2(vars, treatment, controls):

    for var in vars:
        vars_needed = [treatment, var] + controls
        data = tab5[tab5['sex2'] == 1][vars_needed].dropna()

        X = sm.add_constant(data[[treatment] + controls])
        y = data[var]

        model = sm.OLS(y, X).fit()

        coef = model.params[treatment]
        std_err = model.bse[treatment]
        n = data.shape[0]

        print(f"{var}: coef={round(coef, 4)}, std_err={round(std_err, 4)}, n={n}")

In [246]:
tab5_panelC_col2(ols_vars_panelBandC, treatment, controls_w_covariates)

totalpts: coef=0.1497, std_err=0.1858, n=135
math: coef=-0.0134, std_err=0.1926, n=135
reading: coef=0.2186, std_err=0.1864, n=135

In [247]:
# PanelAColumn3& 4 (Pooled)

controls_w_covariates = ['tsite1','tsite2','tsite3','svy','hsvisit','age','sex2','mom_sch','dad_sch','mom_miss','dad_miss']

def tab5_panelA_col3or4_pooled(vars, treatment, controls, with_covariates=True):
    for var in vars:
        long = tab5[['id',treatment] + controls + ['math','reading','writing']]
        long = long.melt(id_vars=['id',treatment] + controls, value_vars=['math','reading','writing'], var_name='subject', value_name='score').dropna(subset=['score'])
        
        subject = pd.get_dummies(long['subject'], drop_first=True)
        base_cols  = [treatment] + (controls if with_covariates else [])
        X  = sm.add_constant(pd.concat([long[base_cols], subject], axis=1)).astype(float)
        y  = long['score'].astype(float)

        cluster = long['id']
        model = sm.OLS(y, X).fit(cov_type='cluster', cov_kwds={'groups': cluster})

        coef = model.params[treatment]
        std_err = model.bse[treatment]
        n = len(y)

        col_num = 4 if with_covariates else 3
        print(f"{var:9s}  col{col_num}  coef={coef: .3f},  se={std_err: .3f},  N={n}")

test_vars = ['pooled_test_scores']

print("column3 panel A (no extra covariates):")
tab5_panelA_col3or4_pooled(test_vars, treatment, controls_w_covariates, with_covariates=False)

print("\ncolumn4 panel A (with covariates):")
tab5_panelA_col3or4_pooled(test_vars, treatment, controls_w_covariates, with_covariates=True)

column3 panel A (no extra covariates):
pooled_test_scores  col3  coef= 0.145,  se= 0.097,  N=848

column4 panel A (with covariates):
pooled_test_scores  col4  coef= 0.155,  se= 0.089,  N=848

In [248]:
# PanelAColumn3& 4 (Math and Reading Scores)

def tab5_panelA_col3or4_MandR(vars, treatment, controls, with_covariates=True):
    for var in vars:
        long = tab5[['id',treatment] + controls + ['math','reading']]
        long = long.melt(id_vars=['id',treatment] + controls, value_vars=['math','reading'], var_name='subject', value_name='score').dropna(subset=['score'])
        
        subject = pd.get_dummies(long['subject'], drop_first=True)
        base_cols  = [treatment] + (controls if with_covariates else [])
        X  = sm.add_constant(pd.concat([long[base_cols], subject], axis=1)).astype(float)
        y  = long['score'].astype(float)

        cluster = long['id']
        model = sm.OLS(y, X).fit(cov_type='cluster', cov_kwds={'groups': cluster})

        coef = model.params[treatment]
        std_err = model.bse[treatment]
        n = len(y)

        col_num = 4 if with_covariates else 3
        print(f"{var:9s}  col{col_num}  coef={coef: .3f},  se={std_err: .3f},  N={n}")

test_vars = ['math_and_reading']

print("-- column3 panel A (no extra covariates) --")
tab5_panelA_col3or4_MandR(test_vars, treatment, controls_w_covariates, with_covariates=False)

print("\n-- column4 panel A (with covariates) --")
tab5_panelA_col3or4_MandR(test_vars, treatment, controls_w_covariates, with_covariates=True)

-- column3 panel A (no extra covariates) --
math_and_reading  col3  coef= 0.157,  se= 0.103,  N=565

-- column4 panel A (with covariates) --
math_and_reading  col4  coef= 0.170,  se= 0.096,  N=565

In [249]:
# PanelBColumn3& 4 (Math and Reading Scores)

def tab5_panelB_col3or4_MandR(vars, treatment, controls, with_covariates=True):
    for var in vars:
        long = tab5[['id',treatment] + controls + ['math','reading']]
        long = long.melt(id_vars=['id',treatment] + controls, value_vars=['math','reading'], var_name='subject', value_name='score').dropna(subset=['score'])
        long = long[ long['sex2'] == 0]
        
        subject = pd.get_dummies(long['subject'], drop_first=True)
        base_cols  = [treatment] + (controls if with_covariates else [])
        X  = sm.add_constant(pd.concat([long[base_cols], subject], axis=1)).astype(float)
        y  = long['score'].astype(float)

        cluster = long['id']
        model = sm.OLS(y, X).fit(cov_type='cluster', cov_kwds={'groups': cluster})

        coef = model.params[treatment]
        std_err = model.bse[treatment]
        n = len(y)

        col_num = 4 if with_covariates else 3
        print(f"{var:9s}  col{col_num}  coef={coef: .3f},  se={std_err: .3f},  N={n}")

test_vars = ['math_and_reading']

print("-- column3 panel B (no extra covariates) --")
tab5_panelB_col3or4_MandR(test_vars, treatment, controls_w_covariates, with_covariates=False)

print("\n-- column4 panel B (with covariates) --")
tab5_panelB_col3or4_MandR(test_vars, treatment, controls_w_covariates, with_covariates=True)

-- column3 panel B (no extra covariates) --
math_and_reading  col3  coef= 0.173,  se= 0.128,  N=295

-- column4 panel B (with covariates) --
math_and_reading  col4  coef= 0.262,  se= 0.112,  N=295

In [250]:
# PanelCColumn3& 4 (Math and Reading Scores)

def tab5_panelC_col3or4_MandR(vars, treatment, controls, with_covariates=True):
    for var in vars:
        long = tab5[['id',treatment] + controls + ['math','reading']]
        long = long.melt(id_vars=['id',treatment] + controls, value_vars=['math','reading'], var_name='subject', value_name='score').dropna(subset=['score'])
        long = long[ long['sex2'] == 1]
        
        subject = pd.get_dummies(long['subject'], drop_first=True)
        base_cols  = [treatment] + (controls if with_covariates else [])
        X  = sm.add_constant(pd.concat([long[base_cols], subject], axis=1)).astype(float)
        y  = long['score'].astype(float)

        cluster = long['id']
        model = sm.OLS(y, X).fit(cov_type='cluster', cov_kwds={'groups': cluster})

        coef = model.params[treatment]
        std_err = model.bse[treatment]
        n = len(y)

        col_num = 4 if with_covariates else 3
        print(f"{var:9s}  col{col_num}  coef={coef: .3f},  se={std_err: .3f},  N={n}")

test_vars = ['math_and_reading']

print("column3 panel C (no extra covariates):")
tab5_panelC_col3or4_MandR(test_vars, treatment, controls_w_covariates, with_covariates=False)

print("\ncolumn4 panel C (with covariates):")
tab5_panelC_col3or4_MandR(test_vars, treatment, controls_w_covariates, with_covariates=True)

column3 panel C (no extra covariates):
math_and_reading  col3  coef= 0.114,  se= 0.163,  N=270

column4 panel C (with covariates):
math_and_reading  col4  coef= 0.066,  se= 0.154,  N=270

# Table 6

In [251]:
df = pd.read_stata("aerdat4.dta")

In [252]:
df.columns

Index(['id', 'bog95smp', 'bog97smp', 'jam93smp', 'sex', 'age', 'age2',
       'hsvisit', 'scyfnsh', 'inschl', 'prsch_c', 'prscha_1', 'prscha_2',
       'vouch0', 'bog95asd', 'bog97asd', 'jam93asd', 'dbogota', 'djamundi',
       'd1995', 'd1997', 'response', 'test_tak', 'sex_name', 'svy', 'd1993',
       'phone', 'darea1', 'darea2', 'darea3', 'darea4', 'darea5', 'darea6',
       'darea7', 'darea8', 'darea9', 'darea10', 'darea11', 'darea12',
       'darea13', 'darea14', 'darea15', 'darea16', 'darea17', 'darea18',
       'darea19', 'dmonth1', 'dmonth2', 'dmonth3', 'dmonth4', 'dmonth5',
       'dmonth6', 'dmonth7', 'dmonth8', 'dmonth9', 'dmonth10', 'dmonth11',
       'dmonth12', 'bog95', 'bog97', 'mom_sch', 'mom_age', 'mom_mw', 'dad_sch',
       'dad_age', 'dad_mw', 'sex2', 'strata1', 'strata2', 'strata3', 'strata4',
       'strata5', 'strata6', 'stratams', 'rept6', 'totscyrs', 'haschild',
       'married', 'working', 'rept', 'nrept', 'finish6', 'finish7', 'finish8',
       'sex_miss', 'usngsch', 'hoursum', 'tab3smpl', 'working3'],
      dtype='object')

In [253]:
df[df['bog95'] == 1]

,id,bog95smp,bog97smp,jam93smp,sex,age,age2,hsvisit,scyfnsh,inschl,...,rept,nrept,finish6,finish7,finish8,sex_miss,usngsch,hoursum,tab3smpl,working3
0,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,0.0,0.0,0.0,1.0,NaN,12.0,NaN,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.0,0.0,0.0,0.0,0.0,NaN,13.0,NaN,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3.0,1.0,0.0,0.0,0.0,14.0,12.0,0.0,8.0,1.0,...,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0
4,4.0,1.0,0.0,0.0,1.0,14.0,12.0,0.0,8.0,1.0,...,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4040,4040.0,0.0,0.0,0.0,1.0,NaN,13.0,NaN,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4041,4041.0,0.0,0.0,0.0,1.0,NaN,12.0,NaN,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4042,4042.0,0.0,0.0,0.0,1.0,NaN,15.0,NaN,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4043,4043.0,0.0,0.0,0.0,1.0,NaN,15.0,NaN,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4044,4044.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [254]:
combined_sample = df[df['tab3smpl'] == 1][['bog95smp','vouch0','sex','sex2','age','age2','haschild','married','hoursum','working3','phone','usngsch','dmonth1','dmonth2','dmonth3',
                                          'dmonth4','dmonth5','dmonth6','dmonth7','dmonth8','dmonth9','dmonth10','dmonth11','dmonth12','svy','d1993','d1995','d1997','dbogota',
                                           'djamundi','strata1','strata2','strata3','strata4','strata5','strata6','stratams','hsvisit','sex_miss']]
combined_sample

,bog95smp,vouch0,sex,sex2,age,age2,haschild,married,hoursum,working3,...,djamundi,strata1,strata2,strata3,strata4,strata5,strata6,stratams,hsvisit,sex_miss
3,1.0,1.0,0.0,0.0,14.0,12.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.0,0.0,1.0,1.0,14.0,12.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,1.0,0.0,0.0,1.0,14.0,12.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,1.0,0.0,0.0,0.0,12.0,10.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,1.0,1.0,1.0,1.0,14.0,11.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21473,0.0,0.0,0.0,0.0,13.0,12.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21476,0.0,0.0,0.0,0.0,13.0,13.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21479,0.0,0.0,0.0,0.0,15.0,14.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21480,0.0,0.0,0.0,0.0,12.0,11.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21483,0.0,0.0,1.0,1.0,14.0,13.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [255]:
bog95_sample = combined_sample[combined_sample['bog95smp'] == 1]
bog95_sample

,bog95smp,vouch0,sex,sex2,age,age2,haschild,married,hoursum,working3,...,djamundi,strata1,strata2,strata3,strata4,strata5,strata6,stratams,hsvisit,sex_miss
3,1.0,1.0,0.0,0.0,14.0,12.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.0,0.0,1.0,1.0,14.0,12.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,1.0,0.0,0.0,1.0,14.0,12.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,1.0,0.0,0.0,0.0,12.0,10.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,1.0,1.0,1.0,1.0,14.0,11.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3997,1.0,1.0,0.0,0.0,16.0,NaN,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
4006,1.0,1.0,0.0,0.0,14.0,12.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4022,1.0,0.0,0.0,0.0,16.0,13.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4023,1.0,0.0,0.0,0.0,16.0,13.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4030,1.0,0.0,1.0,1.0,14.0,11.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [256]:
loser_combined = combined_sample[combined_sample['vouch0'] == 0]
loser_combined = loser_combined.dropna(subset = 'haschild')
loser_combined

,bog95smp,vouch0,sex,sex2,age,age2,haschild,married,hoursum,working3,...,djamundi,strata1,strata2,strata3,strata4,strata5,strata6,stratams,hsvisit,sex_miss
4,1.0,0.0,1.0,1.0,14.0,12.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,1.0,0.0,0.0,1.0,14.0,12.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,1.0,0.0,0.0,0.0,12.0,10.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,1.0,0.0,1.0,0.0,14.0,12.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,1.0,0.0,0.0,1.0,15.0,13.0,0.0,0.0,8.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21473,0.0,0.0,0.0,0.0,13.0,12.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21476,0.0,0.0,0.0,0.0,13.0,13.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21479,0.0,0.0,0.0,0.0,15.0,14.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21480,0.0,0.0,0.0,0.0,12.0,11.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21483,0.0,0.0,1.0,1.0,14.0,13.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [257]:
loser_bog95 = bog95_sample[bog95_sample['vouch0'] == 0]
loser_bog95

,bog95smp,vouch0,sex,sex2,age,age2,haschild,married,hoursum,working3,...,djamundi,strata1,strata2,strata3,strata4,strata5,strata6,stratams,hsvisit,sex_miss
4,1.0,0.0,1.0,1.0,14.0,12.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,1.0,0.0,0.0,1.0,14.0,12.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,1.0,0.0,0.0,0.0,12.0,10.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,1.0,0.0,1.0,0.0,14.0,12.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,1.0,0.0,0.0,1.0,15.0,13.0,0.0,0.0,8.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3902,1.0,0.0,0.0,0.0,17.0,12.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3945,1.0,0.0,0.0,0.0,18.0,15.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4022,1.0,0.0,0.0,0.0,16.0,13.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4023,1.0,0.0,0.0,0.0,16.0,13.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4030,1.0,0.0,1.0,1.0,14.0,11.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [258]:
# Panel A Column 1

def tab6_panelA_col1(dep_vars):
    
    loser_mean = loser_bog95[dep_var].mean()
    loser_std = loser_bog95[dep_var].std()
    loser_n = loser_bog95[dep_var].notna().sum()
    
    return round(loser_mean, 4), round(loser_std, 4), loser_n

In [259]:
dependent_vars1 = ['married', 'haschild', 'working3', 'hoursum']
for dep_var in dependent_vars1:
    mean, std, n = tab6_panelA_col1(dep_var)
    print(f"{dep_var}: mean={mean}, std={std}, n={n}")

married: mean=0.016, std=0.1256, n=562
haschild: mean=0.0338, std=0.1809, n=562
working3: mean=0.169, std=0.3751, n=562
hoursum: mean=4.8808, std=12.3107, n=562

In [260]:
# Panel B Column 1

def tab6_panelB_col1(data, dep_var):

    male_losers = loser_bog95[loser_bog95['sex2'] == 1]
    male_loser_mean = male_losers[dep_var].mean()
    male_loser_std = male_losers[dep_var].std()
    male_loser_n = male_losers[dep_var].notna().sum()

    return round(male_loser_mean, 4), round(male_loser_std, 4), male_loser_n

In [261]:
dependent_vars2 = ['married', 'working3', 'hoursum']
for dep_var in dependent_vars2:
    mean, std, n = tab6_panelB_col1(loser_bog95, dep_var)
    print(f"{dep_var}: mean={mean}, std={std}, n={n}")

married: mean=0.0036, std=0.0598, n=280
working3: mean=0.2321, std=0.423, n=280
hoursum: mean=6.4214, std=13.692, n=280

In [262]:
# Panel C Column 1

def tab6_panelC_col1(data, dep_var):

    female_losers = loser_bog95[loser_bog95['sex2'] == 0]
    female_loser_mean = female_losers[dep_var].mean()
    female_loser_std = female_losers[dep_var].std()
    female_loser_n = female_losers[dep_var].notna().sum()

    return round(female_loser_mean, 4), round(female_loser_std, 4), female_loser_n

In [263]:
for dep_var in dependent_vars1:
    mean, std, n = tab6_panelC_col1(loser_bog95, dep_var)
    print(f"{dep_var}: mean={mean}, std={std}, n={n}")

married: mean=0.0284, std=0.1663, n=282
haschild: mean=0.0603, std=0.2384, n=282
working3: mean=0.1064, std=0.3089, n=282
hoursum: mean=3.3511, std=10.5696, n=282

In [264]:
# Panel A Column 2

def tab6_panelA_col2(dep_var, treatment, controls):

    for var in dep_var:
        vars_needed = [treatment, var] + controls
        df_clean = bog95_sample[vars_needed].dropna()

        X = sm.add_constant(df_clean[[treatment] + controls])
        y = df_clean[var]

        model = sm.OLS(y, X).fit()

        coef = model.params[treatment]
        std_err = model.bse[treatment]
        n = df_clean.shape[0]

        print(f"{var}: coef={round(coef, 4)}, std_err={round(std_err, 4)}, n={n}")

In [265]:
treatment = 'vouch0'
controls = ['age','sex2','hsvisit','dmonth1','dmonth2','dmonth3','dmonth4','dmonth5','dmonth6','dmonth7','dmonth8','dmonth9',
            'dmonth10','dmonth11','dmonth12','phone','svy','strata1','strata2','strata3','strata4','strata5','strata6','stratams','sex_miss']
dep_var1 = ['married','haschild','working3','hoursum']

tab6_panelA_col2(dep_var1, treatment, controls)

married: coef=-0.0087, std_err=0.0062, n=1146
haschild: coef=-0.0103, std_err=0.0096, n=1146
working3: coef=-0.0297, std_err=0.0204, n=1147
hoursum: coef=-1.2223, std_err=0.636, n=1147

In [266]:
# Panel B Column 2

def tab6_panelB_col2(dep_var, treatment, controls):

    for var in dep_var:
        vars_needed = [treatment, var] + controls
        df_clean = bog95_sample[vars_needed].dropna()
        df_clean = df_clean[df_clean['sex2'] == 1]

        X = sm.add_constant(df_clean[[treatment] + controls])
        y = df_clean[var]

        model = sm.OLS(y, X).fit()

        coef = model.params[treatment]
        std_err = model.bse[treatment]
        n = df_clean.shape[0]

        print(f"{var}: coef={round(coef, 4)}, std_err={round(std_err, 4)}, n={n}")

In [267]:
dep_var2 = ['married','working3','hoursum']

tab6_panelB_col2(dep_var2, treatment, controls)

married: coef=-0.0039, std_err=0.0036, n=575
working3: coef=-0.0366, std_err=0.0334, n=575
hoursum: coef=-0.6376, std_err=1.0684, n=575

In [268]:
# Panel C Column 2

def tab6_panelC_col2(dep_var, treatment, controls):

    for var in dep_var:
        vars_needed = [treatment, var] + controls
        df_clean = bog95_sample[vars_needed].dropna()
        df_clean = df_clean[df_clean['sex2'] == 0]

        X = sm.add_constant(df_clean[[treatment] + controls])
        y = df_clean[var]

        model = sm.OLS(y, X).fit()

        coef = model.params[treatment]
        std_err = model.bse[treatment]
        n = df_clean.shape[0]

        print(f"{var}: coef={round(coef, 4)}, std_err={round(std_err, 4)}, n={n}")

In [269]:
tab6_panelC_col2(dep_var1, treatment, controls)

married: coef=-0.0099, std_err=0.0118, n=571
haschild: coef=-0.0151, std_err=0.0179, n=571
working3: coef=-0.0314, std_err=0.0236, n=572
hoursum: coef=-2.1158, std_err=0.685, n=572

In [270]:
# Panel A Column 3

dep_vars_c3pA = ['married','haschild','working3']

controls1 = ['age','sex','phone','svy','hsvisit']

def phi(z):
    return np.exp(-0.5 * z**2) / np.sqrt(2 * np.pi)

def run_probit(dep_var):
    vars_needed = [treatment, dep_var] + controls1
    dat = bog95_sample[vars_needed].dropna()
    
    X = sm.add_constant(dat[[treatment] + controls1])
    y = dat[dep_var]

    # Fit Probit
    model = sm.Probit(y, X).fit(disp=False)

    X_beta_mean = (X @ model.params).mean()
    coef = phi(X_beta_mean) * model.params[treatment]
    std_err = phi(X_beta_mean) * model.bse[treatment]

    print(f"{dep_var:<9s}:  coef = {coef: .4f},  std_err = {std_err: .4f},  N = {len(y)}")

for dep_var in dep_vars_c3pA:
    run_probit(dep_var)

married  :  coef = -0.0042,  std_err =  0.0025,  N = 1146
haschild :  coef = -0.0078,  std_err =  0.0065,  N = 1146
working3 :  coef = -0.0294,  std_err =  0.0203,  N = 1147

In [271]:
# Panel B Column 3

dep_vars_c3pB = 'working3'

controls1 = ['age','sex','phone','svy','hsvisit']

def phi(z):
    return np.exp(-0.5 * z**2) / np.sqrt(2 * np.pi)

def run_probit(dep_var):
    vars_needed = [treatment, dep_var] + controls1
    dat = bog95_sample[bog95_sample['sex2'] == 1][vars_needed].dropna()
    
    X = sm.add_constant(dat[[treatment] + controls1])
    y = dat[dep_var]

    # Fit Probit
    model = sm.Probit(y, X).fit(disp=False)

    X_beta_mean = (X @ model.params).mean()
    coef = phi(X_beta_mean) * model.params[treatment]
    std_err = phi(X_beta_mean) * model.bse[treatment]

    print(f"{dep_var:<9s}:  coef = {coef: .4f},  std_err = {std_err: .4f},  N = {len(y)}")

run_probit(dep_vars_c3pB)

working3 :  coef = -0.0338,  std_err =  0.0341,  N = 575

In [272]:
# Panel C Column 3

dep_vars_c3pC = ['married','haschild','working3']

controls1 = ['age','sex','phone','svy','hsvisit']

def phi(z):
    return np.exp(-0.5 * z**2) / np.sqrt(2 * np.pi)

def run_probit(dep_var):
    vars_needed = [treatment, dep_var] + controls1
    dat = bog95_sample[bog95_sample['sex2'] == 0][vars_needed].dropna()
    
    X = sm.add_constant(dat[[treatment] + controls1])
    y = dat[dep_var]

    # Fit Probit
    model = sm.Probit(y, X).fit(disp=False)

    X_beta_mean = (X @ model.params).mean()
    coef = phi(X_beta_mean) * model.params[treatment]
    std_err = phi(X_beta_mean) * model.bse[treatment]

    print(f"{dep_var:<9s}:  coef = {coef: .4f},  std_err = {std_err: .4f},  N = {len(y)}")

for dep_var in dep_vars_c3pC:
    run_probit(dep_var)

married  :  coef = -0.0060,  std_err =  0.0051,  N = 571
haschild :  coef = -0.0125,  std_err =  0.0128,  N = 571
working3 :  coef = -0.0310,  std_err =  0.0222,  N = 572

In [273]:
# Panel A Column 4

def tab6_panelA_col4(dep_vars):
    
    loser_mean = loser_combined[dep_var].mean()
    loser_std = loser_combined[dep_var].std()
    loser_n = loser_combined[dep_var].notna().sum()
    
    return round(loser_mean, 4), round(loser_std, 4), loser_n

In [274]:
for dep_var in dependent_vars1:
    mean, std, n = tab6_panelA_col4(dep_var)
    print(f"{dep_var}: mean={mean}, std={std}, n={n}")

married: mean=0.0171, std=0.1297, n=760
haschild: mean=0.0303, std=0.1714, n=760
working3: mean=0.1618, std=0.3685, n=760
hoursum: mean=4.4224, std=11.6027, n=760

In [275]:
# Panel B Column 4

def tab6_panelB_col4(data, dep_var):

    male_losers = loser_combined[loser_combined['sex2'] == 1]
    male_loser_mean = male_losers[dep_var].mean()
    male_loser_std = male_losers[dep_var].std()
    male_loser_n = male_losers[dep_var].notna().sum()

    return round(male_loser_mean, 4), round(male_loser_std, 4), male_loser_n

In [276]:
for dep_var in dependent_vars2:
    mean, std, n = tab6_panelB_col4(loser_combined, dep_var)
    print(f"{dep_var}: mean={mean}, std={std}, n={n}")

married: mean=0.0027, std=0.0518, n=372
working3: mean=0.2258, std=0.4187, n=372
hoursum: mean=6.2151, std=13.3276, n=372

In [277]:
# Panel C Column 4

def tab6_panelC_col4(data, dep_var):

    female_losers = loser_combined[loser_combined['sex2'] == 0]
    female_loser_mean = female_losers[dep_var].mean()
    female_loser_std = female_losers[dep_var].std()
    female_loser_n = female_losers[dep_var].notna().sum()

    return round(female_loser_mean, 4), round(female_loser_std, 4), female_loser_n

In [278]:
for dep_var in dependent_vars1:
    mean, std, n = tab6_panelC_col4(loser_combined, dep_var)
    print(f"{dep_var}: mean={mean}, std={std}, n={n}")

married: mean=0.0309, std=0.1733, n=388
haschild: mean=0.0541, std=0.2266, n=388
working3: mean=0.1005, std=0.3011, n=388
hoursum: mean=2.7036, std=9.3647, n=388

In [279]:
# Panel A Column 5

def tab6_panelA_col5(dep_var, treatment, controls):

    for var in dep_var:
        vars_needed = [treatment, var] + controls
        df_clean = combined_sample[vars_needed].dropna()

        X = sm.add_constant(df_clean[[treatment] + controls])
        y = df_clean[var]

        model = sm.OLS(y, X).fit()

        coef = model.params[treatment]
        std_err = model.bse[treatment]
        n = df_clean.shape[0]

        print(f"{var}: coef={round(coef, 4)}, std_err={round(std_err, 4)}, n={n}")

In [280]:
controls_col5 = ['age','sex2','hsvisit','djamundi','dbogota','d1993','d1995','d1997','dmonth1','dmonth2','dmonth3','dmonth4','dmonth5','dmonth6','dmonth7','dmonth8','dmonth9',
            'dmonth10','dmonth11','dmonth12','phone','svy','strata1','strata2','strata3','strata4','strata5','strata6','stratams','sex_miss']
dep_var1 = ['married','haschild','working3','hoursum']

tab6_panelA_col5(dep_var1, treatment, controls_col5)

married: coef=-0.0091, std_err=0.0055, n=1576
haschild: coef=-0.0064, std_err=0.0078, n=1575
working3: coef=-0.0265, std_err=0.017, n=1577
hoursum: coef=-0.8699, std_err=0.519, n=1577

In [281]:
# Panel B Column 5

def tab6_panelB_col5(dep_var, treatment, controls):

    for var in dep_var:
        vars_needed = [treatment, var] + controls
        df_clean = combined_sample[vars_needed].dropna()
        df_clean = df_clean[df_clean['sex2'] == 1]

        X = sm.add_constant(df_clean[[treatment] + controls])
        y = df_clean[var]

        model = sm.OLS(y, X).fit()

        coef = model.params[treatment]
        std_err = model.bse[treatment]
        n = df_clean.shape[0]

        print(f"{var}: coef={round(coef, 4)}, std_err={round(std_err, 4)}, n={n}")

In [282]:
tab6_panelB_col5(dep_var2, treatment, controls_col5)

married: coef=-0.0026, std_err=0.0026, n=779
working3: coef=-0.0296, std_err=0.0281, n=779
hoursum: coef=-0.521, std_err=0.8927, n=779

In [283]:
# Panel C Column 5

def tab6_panelC_col5(dep_var, treatment, controls):

    for var in dep_var:
        vars_needed = [treatment, var] + controls
        df_clean = combined_sample[vars_needed].dropna()
        df_clean = df_clean[df_clean['sex2'] == 0]

        X = sm.add_constant(df_clean[[treatment] + controls])
        y = df_clean[var]

        model = sm.OLS(y, X).fit()

        coef = model.params[treatment]
        std_err = model.bse[treatment]
        n = df_clean.shape[0]

        print(f"{var}: coef={round(coef, 4)}, std_err={round(std_err, 4)}, n={n}")

In [284]:
tab6_panelC_col5(dep_var1, treatment, controls_col5)

married: coef=-0.0113, std_err=0.0105, n=797
haschild: coef=-0.0092, std_err=0.0144, n=797
working3: coef=-0.0324, std_err=0.0194, n=798
hoursum: coef=-1.5356, std_err=0.5309, n=798

In [285]:
# Panel A Column 6

dep_vars_c6pA = ['married','haschild','working3']

controls1 = ['age','sex','phone','svy','hsvisit']

def phi(z):
    return np.exp(-0.5 * z**2) / np.sqrt(2 * np.pi)

def run_probit(dep_var):
    vars_needed = [treatment, dep_var] + controls1
    dat = combined_sample[vars_needed].dropna()
    
    X = sm.add_constant(dat[[treatment] + controls1])
    y = dat[dep_var]

    # Fit Probit
    model = sm.Probit(y, X).fit(disp=False)

    X_beta_mean = (X @ model.params).mean()
    coef = phi(X_beta_mean) * model.params[treatment]
    std_err = phi(X_beta_mean) * model.bse[treatment]

    print(f"{dep_var:<9s}:  coef = {coef: .4f},  std_err = {std_err: .4f},  N = {len(y)}")

for dep_var in dep_vars_c3pA:
    run_probit(dep_var)

married  :  coef = -0.0031,  std_err =  0.0018,  N = 1576
haschild :  coef = -0.0048,  std_err =  0.0044,  N = 1575
working3 :  coef = -0.0257,  std_err =  0.0165,  N = 1577

In [286]:
# Panel B Column 6

dep_vars_c6pB = 'working3'

controls1 = ['age','sex','phone','svy','hsvisit']

def phi(z):
    return np.exp(-0.5 * z**2) / np.sqrt(2 * np.pi)

def run_probit(dep_var):
    vars_needed = [treatment, dep_var] + controls1
    dat = combined_sample[combined_sample['sex2'] == 1][vars_needed].dropna()
    
    X = sm.add_constant(dat[[treatment] + controls1])
    y = dat[dep_var]

    # Fit Probit
    model = sm.Probit(y, X).fit(disp=False)

    X_beta_mean = (X @ model.params).mean()
    coef = phi(X_beta_mean) * model.params[treatment]
    std_err = phi(X_beta_mean) * model.bse[treatment]

    print(f"{dep_var:<9s}:  coef = {coef: .4f},  std_err = {std_err: .4f},  N = {len(y)}")

run_probit(dep_vars_c6pB)

working3 :  coef = -0.0326,  std_err =  0.0284,  N = 779

In [287]:
# Panel C Column 6

dep_vars_c6pC = ['married','haschild','working3']

controls1 = ['age','sex','phone','svy','hsvisit']

def phi(z):
    return np.exp(-0.5 * z**2) / np.sqrt(2 * np.pi)

def run_probit(dep_var):
    vars_needed = [treatment, dep_var] + controls1
    dat = combined_sample[combined_sample['sex2'] == 0][vars_needed].dropna()
    
    X = sm.add_constant(dat[[treatment] + controls1])
    y = dat[dep_var]

    # Fit Probit
    model = sm.Probit(y, X).fit(disp=False)

    X_beta_mean = (X @ model.params).mean()
    coef = phi(X_beta_mean) * model.params[treatment]
    std_err = phi(X_beta_mean) * model.bse[treatment]

    print(f"{dep_var:<9s}:  coef = {coef: .4f},  std_err = {std_err: .4f},  N = {len(y)}")

for dep_var in dep_vars_c6pC:
    run_probit(dep_var)

married  :  coef = -0.0055,  std_err =  0.0044,  N = 797
haschild :  coef = -0.0089,  std_err =  0.0091,  N = 797
working3 :  coef = -0.0271,  std_err =  0.0179,  N = 798

# Table 7

In [288]:
import pandas as pd
import statsmodels.api as sm
import statsmodels.formula.api as smf

df = pd.read_stata("tab7.dta")
df = df[df["response"] == 1]

base_mask = (
    (df['bog95smp'] == 1) &
    (df['year'] == 1995) &
    (df['vouch0'] == 0) &
    (df['response'] == 1) &
    df['scyfnsh'].notnull() &
    df['finish6'].notnull() &
    df['prscha_1'].notnull() &
    df['rept6'].notnull() &
    df['nrept'].notnull() &
    df['svy'].notnull() &
    df['inschl'].notnull() &
    df['finish7'].notnull() &
    df['prsch_c'].notnull() &
    df['finish8'].notnull() &
    df['prscha_2'].notnull() &
    df['totscyrs'].notnull() &
    df['rept'].notnull()
)

exam = (df['bog95smp'] == 1) & (df['year'] == 1995)
df.loc[exam, 'totscyrs_z'] = (
    df.loc[exam, 'totscyrs'] - df.loc[exam, 'totscyrs'].mean()
) / df.loc[exam, 'totscyrs'].std()

ctrl = (
    'svy + hsvisit + djamundi + phone + age + sex2 + '
    'strata1 + strata2 + strata3 + strata4 + strata5 + strata6 + stratams + '
    'dbogota + d1993 + d1995 + d1997 + ' +
    ' + '.join(f'dmonth{i}' for i in range(1, 13)) + ' + sex_miss'
)

def get_stats(outcome, mask):
    sub = df.loc[mask].copy()
    if outcome == 'totscyrs_z':
        sub = sub[sub['totscyrs'].notnull()]
    fs = smf.ols(f'usesch ~ vouch0 + {ctrl}', data=sub).fit(cov_type='HC1')
    sub['usesch_hat'] = fs.fittedvalues
    ols = smf.ols(f'{outcome} ~ usesch + {ctrl}', data=sub).fit(cov_type='HC1')
    iv = smf.ols(f'{outcome} ~ usesch_hat + {ctrl}', data=sub).fit(cov_type='HC1')
    losers = sub.loc[sub.vouch0 == 0, outcome].dropna()
    return {
        'mean': losers.mean(),
        'sd': losers.std(),
        'ols_b': ols.params['usesch'],
        'ols_se': ols.bse['usesch'],
        'iv_b': iv.params['usesch_hat'],
        'iv_se': iv.bse['usesch_hat'],
        'N': int(ols.nobs)
    }

outcomes = [
    ('scyfnsh',   'Highest grade completed'),
    ('inschl',    'In school'),
    ('nrept',     'Total repetitions since lottery'),
    ('finish8',   'Finished 8th grade'),
    ('totscyrs_z','Test scores (total points)'),
    ('married',   'Married or living with companion'),
]

mask95 = base_mask
maskC  = (df.bog95smp == 1) | (df.bog97smp == 1)

stats95 = {}
statsC  = {}
for code, label in outcomes:
    stats95[label] = get_stats(code, mask95)
    if code != 'totscyrs_z':
        m = maskC & ~((df.bog97smp == 1) & (code == 'finish8'))
        statsC[label] = get_stats(code, m)

label_w = 30
num_w   = 8

group_line = (
    " " * label_w +
    " " * num_w + "   " +
    "Bogot 1995".center(num_w * 2 + 3) + "   " +
    "Combined sample".center(num_w * 2 + 3)
)

hdr = (
    "Dependent variable".ljust(label_w) +
    "Loser means".rjust(num_w) + "   " +
    "OLS".rjust(num_w) + "   " +
    "2SLS".rjust(num_w) + "   " +
    "OLS".rjust(num_w) + "   " +
    "2SLS".rjust(num_w)
)

print("\nTABLE 7OLS AND 2SLS ESTIMATES OF THE EFFECT OF EVER USING A PRIVATE SCHOOL SCHOLARSHIP")
print("Coefficient on Ever used a privateschool scholarship".center(len(hdr)))
print(group_line)
print(hdr)
print("-" * len(hdr))

for _, label in outcomes:
    b = stats95[label]
    c = statsC.get(label, {})
    m_str = f"{b['mean']:.1f}" if label == 'Highest grade completed' else f"{b['mean']:.3f}"
    line1 = (
        label.ljust(label_w) +
        m_str.rjust(num_w) + "   " +
        f"{b['ols_b']:.3f}".rjust(num_w) + "   " +
        f"{b['iv_b']:.3f}".rjust(num_w) + "   " +
        (f"{c['ols_b']:.3f}".rjust(num_w) if c else " " * num_w) + "   " +
        (f"{c['iv_b']:.3f}".rjust(num_w) if c else " " * num_w)
    )
    sd_str = f"({b['sd']:.3f})"
    se1 = f"({b['ols_se']:.3f})"
    se2 = f"({b['iv_se']:.3f})"
    se3 = f"({c.get('ols_se', 0):.3f})" if c else " " * num_w
    se4 = f"({c.get('iv_se', 0):.3f})" if c else " " * num_w
    line2 = (
        " " * label_w +
        sd_str.rjust(num_w) + "   " +
        se1.rjust(num_w) + "   " +
        se2.rjust(num_w) + "   " +
        se3.rjust(num_w) + "   " +
        se4.rjust(num_w)
    )
    print(line1)
    print(line2)

print("-" * len(hdr))
print(
    "N".ljust(label_w) +
    str(562).rjust(num_w) + "   " +
    str(1147).rjust(num_w) + "   " +
    str(1147).rjust(num_w) + "   " +
    str(1577).rjust(num_w) + "   " +
    str(1577).rjust(num_w)
)

TABLE 7OLS AND 2SLS ESTIMATES OF THE EFFECT OF EVER USING A PRIVATE SCHOOL SCHOLARSHIP
               Coefficient on Ever used a privateschool scholarship
                                             Bogot 1995         Combined sample
Dependent variable            Loser means        OLS       2SLS        OLS       2SLS
-------------------------------------------------------------------------------------
Highest grade completed            7.5      0.045      0.526      0.145      0.178
                               (0.971)    (0.092)    (0.139)    (0.046)    (0.067)
In school                        0.833     -0.009      0.050      0.030      0.009
                               (0.374)    (0.035)    (0.068)    (0.018)    (0.026)
Total repetitions since lottery   0.253     -0.076     -0.303     -0.066     -0.073
                               (0.506)    (0.044)    (0.079)    (0.025)    (0.036)
Finished 8th grade               0.628      0.037      0.212      0.119      0.155
                               (0.484)    (0.048)    (0.072)    (0.029)    (0.041)
Test scores (total points)      -0.021     -0.042     -0.013
                               (1.038)    (0.098)    (0.213)
Married or living with companion   0.017     -0.003      0.013     -0.009     -0.012
                               (0.128)    (0.013)    (0.007)    (0.006)    (0.008)
-------------------------------------------------------------------------------------
N                                  562       1147       1147       1577       1577