In [3]:
import pandas as pd
import numpy as np
import statsmodels.formula.api as sm

In [3]:
data_path = "aerdat4.dta"
df = pd.read_stata(data_path)

df.head()

,id,bog95smp,bog97smp,jam93smp,sex,age,age2,hsvisit,scyfnsh,inschl,...,rept,nrept,finish6,finish7,finish8,sex_miss,usngsch,hoursum,tab3smpl,working3
0,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,0.0,0.0,0.0,1.0,NaN,12.0,NaN,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.0,0.0,0.0,0.0,0.0,NaN,13.0,NaN,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3.0,1.0,0.0,0.0,0.0,14.0,12.0,0.0,8.0,1.0,...,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0
4,4.0,1.0,0.0,0.0,1.0,14.0,12.0,0.0,8.0,1.0,...,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0

# Table 1

In [10]:
data_path = "aerdat4.dta"
df1 = pd.read_stata(data_path)

In [29]:
#Populations
bog95_pop = df1['bog95'].sum()
bog97_pop = df1['bog97'].sum()
jam93_pop = df1['djamundi'].sum()
combined_sample = bog95_pop + bog97_pop + jam93_pop
combined_sample, bog95_pop, bog97_pop, jam93_pop

(np.float64(6158.0), np.float64(4045.0), np.float64(1770.0), np.float64(343.0))

## Part A: Population

### N:

In [30]:

vouch_df1 = df1[df1['vouch0'] == 1]
vbog95_pop = vouch_df1['bog95'].sum()
vbog97_pop = vouch_df1['bog97'].sum()
vjam93_pop = vouch_df1['djamundi'].sum()
vcombined_sample = vbog95_pop + vbog97_pop + vjam93_pop
vcombined_sample, vbog95_pop, vbog97_pop, vjam93_pop

(np.float64(4050.0), np.float64(2378.0), np.float64(1500.0), np.float64(172.0))

### Percentage awarded vouchers

In [31]:

perc_bog95 = vbog95_pop / bog95_pop * 100
perc_bog97 = vbog97_pop / bog97_pop * 100
perc_jam93 = vjam93_pop / jam93_pop * 100
perc_comb_samp = vcombined_sample / combined_sample * 100
perc_bog95, perc_bog97, perc_jam93, perc_comb_samp

(np.float64(58.78862793572311),
 np.float64(84.7457627118644),
 np.float64(50.14577259475219),
 np.float64(65.76810652809354))

## Part B: Attempted Interviews

### N

In [32]:
# Attempted interviews
bog95_int = df1['bog95asd'].sum()
bog97_int = df1['bog97asd'].sum()
jam93_int = df1['jam93asd'].sum()
test_int = df1[df1['test_tak'] == 1].shape[0]  # include all test-takers

comb_int = bog95_int + bog97_int + jam93_int

# Order: Bogotá 1995, Bogotá 1997, Jamundí 1993, Combined, Test-takers
print([
    float(bog95_int),
    float(bog97_int),
    float(jam93_int),
    float(comb_int),
    float(test_int)
])
bog95_int

[2249.0, 457.0, 279.0, 2985.0, 283.0]

np.float64(2249.0)

### Percentage awarded vouchers

In [33]:
#Attempted interviews
bog95_int = df1['bog95asd'].sum()
bog97_int = df1['bog97asd'].sum()
jam93_int = df1['jam93asd'].sum()
comb_int = bog95_int + bog97_int + jam93_int

#Interviewed dataframe
attempt_int = df1[(df1['bog95asd'] == 1) | (df1['bog97asd'] == 1) | (df1['jam93asd'] == 1)]

attempt_int_vouch = attempt_int[attempt_int['vouch0'] == 1]

ivbog95_pop = attempt_int_vouch['bog95asd'].sum()

#Population awarded vouchers that were interviewed
ivbog95_pop = attempt_int_vouch['bog95asd'].sum()
ivbog97_pop = attempt_int_vouch['bog97asd'].sum()
ivjam93_pop = attempt_int_vouch['jam93asd'].sum()
ivcombined_sample = ivbog95_pop + ivbog97_pop + ivjam93_pop

#Percentage of attempted interviewed population awarded vouchers
iperc_bog95 = ivbog95_pop / bog95_int * 100
iperc_bog97 = ivbog97_pop / bog97_int * 100
iperc_jam93 = ivjam93_pop / jam93_int * 100
iperc_comb_samp = ivcombined_sample / comb_int * 100


iperc_bog95, iperc_bog97, iperc_jam93, iperc_comb_samp

(np.float64(49.97776789684304),
 np.float64(51.64113785557986),
 np.float64(50.179211469534046),
 np.float64(50.25125628140703))

In [34]:
## DEPRECIATED ###
# Voucher winners
vouch_df1 = df1[df1['vouch0'] == 1]

# Count winners in attempted interviews
bog95_win = vouch_df1[vouch_df1['bog95smp'] == 1]['age2'].notna().sum()
bog97_win = vouch_df1[vouch_df1['bog97smp'] == 1]['age2'].notna().sum()
jam93_win = vouch_df1[vouch_df1['jam93smp'] == 1]['age2'].notna().sum()

# Total attempted interviews
bog95_int = df1[df1['bog95smp'] == 1]['age2'].notna().sum()
bog97_int = df1[df1['bog97smp'] == 1]['age2'].notna().sum()
jam93_int = df1[df1['jam93smp'] == 1]['age2'].notna().sum()

# Combined
combined_win = bog95_win + bog97_win + jam93_win
combined_int = bog95_int + bog97_int + jam93_int

# Test-takers
test_int = df1[df1['test_tak'] == 1]['age2'].notna().sum()
test_win = vouch_df1[vouch_df1['test_tak'] == 1]['age2'].notna().sum()

# Percentage awarded vouchers
perc_bog95 = bog95_win / bog95_int * 100
perc_bog97 = bog97_win / bog97_int * 100
perc_jam93 = jam93_win / jam93_int * 100
perc_comb = combined_win / combined_int * 100
perc_test = test_win / test_int * 100

print([float(perc_bog95), float(perc_bog97), float(perc_jam93), float(perc_comb), float(perc_test)])

[50.89285714285714, 53.67647058823529, 55.21472392638037, 51.832797427652736, 56.82656826568265]

### Response rate

In [35]:
#Completed interviews
responded = df1[df1['response'] == 1]

#Completed interviews population
resp_bog95 = responded['bog95asd'].sum()
resp_bog97 = responded['bog97asd'].sum()
resp_jam = responded['jam93asd'].sum()
resp_comb = resp_bog95 + resp_bog97 + resp_jam

#Response Rates
resp_rate_bog95 = resp_bog95 / bog95_int
resp_rate_bog97 = resp_bog97 / bog97_int
resp_rate_jam = resp_jam / jam93_int
resp_rate_comb = resp_comb / comb_int
resp_rate_bog95, resp_rate_bog97, resp_rate_jam, resp_rate_comb

(np.float64(1.05),
 np.float64(1.0183823529411764),
 np.float64(1.0122699386503067),
 np.float64(0.5420435510887772))

In [36]:
#### DEPRECIATED #####

bog95_comp = df1[(df1['bog95smp'] == 1) & (df1['age2'].notna())].shape[0]
bog97_comp = df1[(df1['bog97smp'] == 1) & (df1['age2'].notna())].shape[0]
jam93_comp = df1[(df1['jam93smp'] == 1) & (df1['age2'].notna())].shape[0]
test_comp = df1[(df1['test_tak'] == 1) & (df1['age2'].notna())].shape[0]
comb_comp = bog95_comp + bog97_comp + jam93_comp

resp_bog95 = bog95_comp / bog95_int
resp_bog97 = bog97_comp / bog97_int
resp_jam93 = jam93_comp / jam93_int
resp_comb = comb_comp / comb_int
resp_test = test_comp / test_int

print([float(resp_bog95), float(resp_bog97), float(resp_jam93), float(resp_comb), float(resp_test)])

[1.0, 1.0, 1.0, 0.5209380234505863, 1.0]

### Winner Response Rate

In [37]:
# Attempted interviews among winners (i.e., responded)
bog95_win_comp = vouch_df1['bog95smp'].sum()
bog97_win_comp = vouch_df1['bog97smp'].sum()
jam93_win_comp = vouch_df1['jam93smp'].sum()


### bog95_win_comp = vouch_df1[(vouch_df1['bog95smp'] == 1) & (vouch_df1['vouch0'] == 1) & (vouch_df1['age2'].notna())].shape[0]
### bog97_win_comp = vouch_df1[(vouch_df1['bog97smp'] == 1) & (vouch_df1['vouch0'] == 1) & (vouch_df1['age2'].notna())].shape[0]
### jam93_win_comp = vouch_df1[(vouch_df1['jam93smp'] == 1) & (vouch_df1['vouch0'] == 1) & (vouch_df1['age2'].notna())].shape[0]
### test_win_comp  = vouch_df1[(vouch_df1['test_tak'] == 1) & (vouch_df1['vouch0'] == 1) & (vouch_df1['age2'].notna())].shape[0]

# All assigned winners
bog95_win_total = vouch_df1['bog95asd'].sum()
bog97_win_total = vouch_df1['bog97asd'].sum()
jam93_win_total = vouch_df1['jam93asd'].sum()
## test_win_total = vouch_df1['test_tak'].sum()

# Rates
resp_bog95_win = bog95_win_comp / bog95_win_total
resp_bog97_win = bog97_win_comp / bog97_win_total
resp_jam93_win = jam93_win_comp / jam93_win_total
resp_comb_win  = (bog95_win_comp + bog97_win_comp + jam93_win_comp) / (bog95_win_total + bog97_win_total + jam93_win_total)
## resp_test_win  = test_win_comp / test_win_total

print([resp_bog95_win, resp_bog97_win, resp_jam93_win, resp_comb_win])

[np.float64(0.5275800711743772), np.float64(0.6186440677966102), np.float64(0.65), np.float64(0.5533333333333333)]

### Loser Response Rate

In [38]:
# Attempted interviews among losers 
bog95_lose_int = df1[(df1['vouch0'] == 0)]['bog95smp'].sum()
bog97_lose_int = df1[(df1['vouch0'] == 0)]['bog97smp'].sum()
jam93_lose_int = df1[(df1['vouch0'] == 0)]['jam93smp'].sum()


# Completed interview totals 
bog95_lose_total = df1[(df1['vouch0'] == 0)]['bog95asd'].sum()
bog97_lose_total = df1[(df1['vouch0'] == 0)]['bog97asd'].sum()
jam93_lose_total = df1[(df1['vouch0'] == 0)]['jam93asd'].sum()


# Rates
resp_bog95_lose = bog95_lose_int / bog95_lose_total
resp_bog97_lose = bog97_lose_int / bog97_lose_total
resp_jam93_lose = jam93_lose_int / jam93_lose_total
resp_comb_lose  = (bog95_lose_int + bog97_lose_int + jam93_lose_int) / (bog95_lose_total + bog97_lose_total + jam93_lose_total)


print([resp_bog95_lose, resp_bog97_lose, resp_jam93_lose, resp_comb_lose])

[np.float64(0.5182222222222223), np.float64(0.5927601809954751), np.float64(0.5323741007194245), np.float64(0.5306397306397307)]

## Part C: Completed Interviews

### N:

In [39]:

bog95_comp = df1['bog95smp'].sum()
bog97_comp = df1['bog97smp'].sum()
jam93_comp = df1['jam93smp'].sum()
test_comp = df1['test_tak'].sum()
comb_comp = bog95_comp + bog97_comp + jam93_comp

print([bog95_comp, bog97_comp, jam93_comp, comb_comp, test_comp])

[np.float64(1176.0), np.float64(277.0), np.float64(165.0), np.float64(1618.0), np.float64(283.0)]

### Percentage awarded vouchers

In [40]:
#bog95_win_comp = vouch_df1['bog95smp'].sum()
#bog97_win_comp = vouch_df1['bog97smp'].sum()
#jam93_win_comp = vouch_df1['jam93smp'].sum()
#bog95_v = df1[(df1['bog95smp'] == 1) & (df1['vouch0'] == 1) & df1['age2'].notna()].shape[0]
#bog97_v = df1[(df1['bog97smp'] == 1) & (df1['vouch0'] == 1) & df1['age2'].notna()].shape[0]
#jam93_v = df1[(df1['jam93smp'] == 1) & (df1['vouch0'] == 1) & df1['age2'].notna()].shape[0]
#test_v = df1[(df1['test_tak'] == 1) & (df1['vouch0'] == 1) & df1['age2'].notna()].shape[0]
bog95_v = vouch_df1['bog95smp'].sum()
bog97_v = vouch_df1['bog97smp'].sum()
jam93_v = vouch_df1['jam93smp'].sum()
test_v = vouch_df1['test_tak'].sum()
comb_v = bog95_v + bog97_v + jam93_v


perc_bog95 = bog95_v / bog95_comp * 100
perc_bog97 = bog97_v / bog97_comp * 100
perc_jam93 = jam93_v / jam93_comp * 100
perc_comb = comb_v / comb_comp * 100
perc_test = test_v / test_comp * 100

print([perc_bog95, perc_bog97, perc_jam93, perc_comb, perc_test])

[np.float64(50.425170068027214), np.float64(52.707581227436826), np.float64(55.15151515151515), np.float64(51.29789864029666), np.float64(56.18374558303887)]

### Household visit

In [41]:

bog95_hs = df1[(df1['bog95smp'] == 1)]['hsvisit'].mean()
bog97_hs = df1[(df1['bog97smp'] == 1)]['hsvisit'].mean()
jam93_hs = df1[(df1['jam93smp'] == 1)]['hsvisit'].mean()
comb_hs = df1[(df1[['bog95smp','bog97smp','jam93smp']].any(axis=1))]['hsvisit'].mean()
test_hs = df1[(df1['test_tak'] == 1)]['hsvisit'].mean()

print([bog95_hs, bog97_hs, jam93_hs, comb_hs, test_hs])

[np.float64(0.05442176870748299), np.float64(0.0036101083032490976), np.float64(0.7818181818181819), np.float64(0.11990111248454882), np.float64(0.0989399293286219)]

### Age at time of survey

In [42]:
def mean_std_age(col):
    subset = df1[(df1[col] == 1)]['age']
    return round(subset.mean(), 1), round(subset.std(), 1)

def mean_std_age_combined(cols):
    subset = df1[(df1[cols].sum(axis=1) == 1)]['age']
    return round(subset.mean(), 1), round(subset.std(), 1)

bog95_age, bog95_std = mean_std_age('bog95smp')
bog97_age, bog97_std = mean_std_age('bog97smp')
jam93_age, jam93_std = mean_std_age('jam93smp')
comb_age, comb_std = mean_std_age_combined(['bog95smp', 'bog97smp', 'jam93smp'])
test_age, test_std = mean_std_age('test_tak')

print("Mean age:", [bog95_age, bog97_age, jam93_age, comb_age, test_age])
print("Std dev:", [bog95_std, bog97_std, jam93_std, comb_std, test_std])

Mean age: [np.float64(15.0), np.float64(13.1), np.float64(16.9), np.float64(14.9), np.float64(14.8)]
Std dev: [np.float64(1.3), np.float64(1.4), np.float64(1.5), np.float64(1.7), np.float64(1.3)]

### Age on application date (from application data)

In [43]:
def mean_std_age2(col):
    subset = df1[(df1[col] == 1) & df1['age2'].notna()]['age2']
    return round(subset.mean(), 1), round(subset.std(), 1)

def mean_std_age2_combined(cols):
    subset = df1[(df1[cols].sum(axis=1) == 1) & df1['age2'].notna()]['age2']
    return round(subset.mean(), 1), round(subset.std(), 1)

bog95_age2, bog95_std2 = mean_std_age2('bog95smp')
bog97_age2, bog97_std2 = mean_std_age2('bog97smp')
jam93_age2, jam93_std2 = mean_std_age2('jam93smp')
comb_age2, comb_std2 = mean_std_age2_combined(['bog95smp', 'bog97smp', 'jam93smp'])
test_age2, test_std2 = mean_std_age2('test_tak')

print("Mean age2:", [bog95_age2, bog97_age2, jam93_age2, comb_age2, test_age2])
print("Std dev:", [bog95_std2, bog97_std2, jam93_std2, comb_std2, test_std2])

Mean age2: [np.float64(12.6), np.float64(12.4), np.float64(12.5), np.float64(12.6), np.float64(12.4)]
Std dev: [np.float64(1.3), np.float64(1.4), np.float64(1.9), np.float64(1.4), np.float64(1.2)]

### Male, Started 6th grade in private, Started 7th grade in private

In [44]:
df1.columns

Index(['id', 'bog95smp', 'bog97smp', 'jam93smp', 'sex', 'age', 'age2',
       'hsvisit', 'scyfnsh', 'inschl', 'prsch_c', 'prscha_1', 'prscha_2',
       'vouch0', 'bog95asd', 'bog97asd', 'jam93asd', 'dbogota', 'djamundi',
       'd1995', 'd1997', 'response', 'test_tak', 'sex_name', 'svy', 'd1993',
       'phone', 'darea1', 'darea2', 'darea3', 'darea4', 'darea5', 'darea6',
       'darea7', 'darea8', 'darea9', 'darea10', 'darea11', 'darea12',
       'darea13', 'darea14', 'darea15', 'darea16', 'darea17', 'darea18',
       'darea19', 'dmonth1', 'dmonth2', 'dmonth3', 'dmonth4', 'dmonth5',
       'dmonth6', 'dmonth7', 'dmonth8', 'dmonth9', 'dmonth10', 'dmonth11',
       'dmonth12', 'bog95', 'bog97', 'mom_sch', 'mom_age', 'mom_mw', 'dad_sch',
       'dad_age', 'dad_mw', 'sex2', 'strata1', 'strata2', 'strata3', 'strata4',
       'strata5', 'strata6', 'stratams', 'rept6', 'totscyrs', 'haschild',
       'married', 'working', 'rept', 'nrept', 'finish6', 'finish7', 'finish8',
       'sex_miss', 'usngsch', 'hoursum', 'tab3smpl', 'working3'],
      dtype='object')

In [45]:
df1['sex_name']

0        NaN
1        1.0
2        1.0
3        0.0
4        1.0
        ...
25325    NaN
25326    NaN
25327    NaN
25328    NaN
25329    NaN
Name: sex_name, Length: 25330, dtype: float64

In [46]:
def group_mean(col):
    bog95 = df1[(df1['bog95smp'] == 1)][col].mean()
    bog97 = df1[(df1['bog97smp'] == 1)][col].mean()
    jam93 = df1[(df1['jam93smp'] == 1)][col].mean()
    comb  = df1[((df1[['bog95smp', 'bog97smp', 'jam93smp']].sum(axis=1) == 1))][col].mean()
    test  = df1[(df1['test_tak'] == 1)][col].mean()
    return [round(x, 3) for x in [bog95, bog97, jam93, comb, test]]

print("Male:", group_mean('sex'))

# Started 6th grade in private # 'finish6', ~strata6, 'prscha_1'
print("Started 6th grade in private:", group_mean('prscha_1'))

# Started 7th grade in private
print("Started 7th grade in private:", group_mean('prscha_2'))

Male: [np.float64(0.501), np.float64(0.505), np.float64(0.424), np.float64(0.494), np.float64(0.523)]
Started 6th grade in private: [np.float64(0.91), np.float64(0.88), np.float64(0.669), np.float64(0.88), np.float64(0.929)]
Started 7th grade in private: [np.float64(0.763), np.float64(0.731), np.float64(0.626), np.float64(0.744), np.float64(0.821)]

### Currently in private school, Highest grade completed, Currently in school

In [47]:
def group_stat(col, return_std=False):
    base = df[df['age2'].notna()]
    groups = [
        base.loc[base['bog95smp'] == 1, col],
        base.loc[base['bog97smp'] == 1, col],
        base.loc[base['jam93smp'] == 1, col],
        base.loc[base[['bog95smp', 'bog97smp', 'jam93smp']].sum(axis=1) == 1, col],
        base.loc[base['test_tak'] == 1, col]
    ]
    if return_std:
        return [round(g.std(), 3) for g in groups]
    else:
        return [round(g.mean(), 3) for g in groups]

# Currently in private school, 'prsch_c'
print("Currently in private school:", group_stat('prsch_c'))

# Highest grade completed (mean)
print("Highest grade completed:", group_stat('scyfnsh'))

# Highest grade completed (std dev in parentheses)
print("Std dev of highest grade:", group_stat('scyfnsh', return_std=True))

# Currently in school, 'inschl'
print("Currently in school:", group_stat('inschl'))

Currently in private school: [np.float64(0.626), np.float64(0.737), np.float64(0.512), np.float64(0.634), np.float64(0.699)]
Highest grade completed: [np.float64(7.586), np.float64(6.026), np.float64(8.564), np.float64(7.415), np.float64(7.734)]
Std dev of highest grade: [np.float64(0.94), np.float64(0.497), np.float64(1.1), np.float64(1.142), np.float64(0.871)]
Currently in school: [np.float64(0.842), np.float64(0.959), np.float64(0.781), np.float64(0.856), np.float64(0.907)]

# Table 2

# Table 3

# Table 4

# Table 5

# Table 6

# Table 7

In [4]:
df7 = pd.read_stata("tab7.dta")
df7 = df7[df7["response"] == 1]

base_mask = (
    (df7['bog95smp'] == 1) &
    (df7['year'] == 1995) &
    (df7['vouch0'] == 0) &
    (df7['response'] == 1) &
    df7['scyfnsh'].notnull() &
    df7['finish6'].notnull() &
    df7['prscha_1'].notnull() &
    df7['rept6'].notnull() &
    df7['nrept'].notnull() &
    df7['svy'].notnull() &
    df7['inschl'].notnull() &
    df7['finish7'].notnull() &
    df7['prsch_c'].notnull() &
    df7['finish8'].notnull() &
    df7['prscha_2'].notnull() &
    df7['totscyrs'].notnull() &
    df7['rept'].notnull()
)

exam = (df7['bog95smp'] == 1) & (df7['year'] == 1995)
df7.loc[exam, 'totscyrs_z'] = (
    df7.loc[exam, 'totscyrs'] - df7.loc[exam, 'totscyrs'].mean()
) / df7.loc[exam, 'totscyrs'].std()

ctrl = (
    'svy + hsvisit + djamundi + phone + age + sex2 + '
    'strata1 + strata2 + strata3 + strata4 + strata5 + strata6 + stratams + '
    'dbogota + d1993 + d1995 + d1997 + ' +
    ' + '.join(f'dmonth{i}' for i in range(1, 13)) + ' + sex_miss'
)

def get_stats(outcome, mask):
    sub = df7.loc[mask].copy()
    if outcome == 'totscyrs_z':
        sub = sub[sub['totscyrs'].notnull()]
    fs = sm.ols(f'usesch ~ vouch0 + {ctrl}', data=sub).fit(cov_type='HC1')
    sub['usesch_hat'] = fs.fittedvalues
    ols = sm.ols(f'{outcome} ~ usesch + {ctrl}', data=sub).fit(cov_type='HC1')
    iv = sm.ols(f'{outcome} ~ usesch_hat + {ctrl}', data=sub).fit(cov_type='HC1')
    losers = sub.loc[sub.vouch0 == 0, outcome].dropna()
    return {
        'mean': losers.mean(),
        'sd': losers.std(),
        'ols_b': ols.params['usesch'],
        'ols_se': ols.bse['usesch'],
        'iv_b': iv.params['usesch_hat'],
        'iv_se': iv.bse['usesch_hat'],
        'N': int(ols.nobs)
    }

outcomes = [
    ('scyfnsh',   'Highest grade completed'),
    ('inschl',    'In school'),
    ('nrept',     'Total repetitions since lottery'),
    ('finish8',   'Finished 8th grade'),
    ('totscyrs_z','Test scores (total points)'),
    ('married',   'Married or living with companion'),
]

mask95 = base_mask
maskC  = (df7.bog95smp == 1) | (df7.bog97smp == 1)

stats95 = {}
statsC  = {}
for code, label in outcomes:
    stats95[label] = get_stats(code, mask95)
    if code != 'totscyrs_z':
        m = maskC & ~((df7.bog97smp == 1) & (code == 'finish8'))
        statsC[label] = get_stats(code, m)

label_w = 30
num_w   = 8

group_line = (
    " " * label_w +
    " " * num_w + "   " +
    "Bogotá 1995".center(num_w * 2 + 3) + "   " +
    "Combined sample".center(num_w * 2 + 3)
)

hdr = (
    "Dependent variable".ljust(label_w) +
    "Loser means".rjust(num_w) + "   " +
    "OLS".rjust(num_w) + "   " +
    "2SLS".rjust(num_w) + "   " +
    "OLS".rjust(num_w) + "   " +
    "2SLS".rjust(num_w)
)

print("\nTABLE 7—OLS AND 2SLS ESTIMATES OF THE EFFECT OF EVER USING A PRIVATE SCHOOL SCHOLARSHIP")
print("Coefficient on “Ever used a private‐school scholarship”".center(len(hdr)))
print(group_line)
print(hdr)
print("-" * len(hdr))

for _, label in outcomes:
    b = stats95[label]
    c = statsC.get(label, {})
    m_str = f"{b['mean']:.1f}" if label == 'Highest grade completed' else f"{b['mean']:.3f}"
    line1 = (
        label.ljust(label_w) +
        m_str.rjust(num_w) + "   " +
        f"{b['ols_b']:.3f}".rjust(num_w) + "   " +
        f"{b['iv_b']:.3f}".rjust(num_w) + "   " +
        (f"{c['ols_b']:.3f}".rjust(num_w) if c else " " * num_w) + "   " +
        (f"{c['iv_b']:.3f}".rjust(num_w) if c else " " * num_w)
    )
    sd_str = f"({b['sd']:.3f})"
    se1 = f"({b['ols_se']:.3f})"
    se2 = f"({b['iv_se']:.3f})"
    se3 = f"({c.get('ols_se', 0):.3f})" if c else " " * num_w
    se4 = f"({c.get('iv_se', 0):.3f})" if c else " " * num_w
    line2 = (
        " " * label_w +
        sd_str.rjust(num_w) + "   " +
        se1.rjust(num_w) + "   " +
        se2.rjust(num_w) + "   " +
        se3.rjust(num_w) + "   " +
        se4.rjust(num_w)
    )
    print(line1)
    print(line2)

print("-" * len(hdr))
print(
    "N".ljust(label_w) +
    str(562).rjust(num_w) + "   " +
    str(1147).rjust(num_w) + "   " +
    str(1147).rjust(num_w) + "   " +
    str(1577).rjust(num_w) + "   " +
    str(1577).rjust(num_w)
)

TABLE 7—OLS AND 2SLS ESTIMATES OF THE EFFECT OF EVER USING A PRIVATE SCHOOL SCHOLARSHIP
               Coefficient on “Ever used a private‐school scholarship”
                                             Bogotá 1995         Combined sample
Dependent variable            Loser means        OLS       2SLS        OLS       2SLS
-------------------------------------------------------------------------------------
Highest grade completed            7.5      0.045      0.526      0.145      0.178
                               (0.971)    (0.092)    (0.139)    (0.046)    (0.067)
In school                        0.833     -0.009      0.050      0.030      0.009
                               (0.374)    (0.035)    (0.068)    (0.018)    (0.026)
Total repetitions since lottery   0.253     -0.076     -0.303     -0.066     -0.073
                               (0.506)    (0.044)    (0.079)    (0.025)    (0.036)
Finished 8th grade               0.628      0.037      0.212      0.119      0.155
                               (0.484)    (0.048)    (0.072)    (0.029)    (0.041)
Test scores (total points)      -0.021     -0.042     -0.013
                               (1.038)    (0.098)    (0.213)
Married or living with companion   0.017     -0.003      0.013     -0.009     -0.012
                               (0.128)    (0.013)    (0.007)    (0.006)    (0.008)
-------------------------------------------------------------------------------------
N                                  562       1147       1147       1577       1577