In [25]:
import pandas as pd
import statsmodels.api as sm

In [26]:
data_path = "aerdat4.dta"
df = pd.read_stata(data_path)

df.head()

,id,bog95smp,bog97smp,jam93smp,sex,age,age2,hsvisit,scyfnsh,inschl,...,rept,nrept,finish6,finish7,finish8,sex_miss,usngsch,hoursum,tab3smpl,working3
0,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,0.0,0.0,0.0,1.0,NaN,12.0,NaN,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.0,0.0,0.0,0.0,0.0,NaN,13.0,NaN,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3.0,1.0,0.0,0.0,0.0,14.0,12.0,0.0,8.0,1.0,...,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0
4,4.0,1.0,0.0,0.0,1.0,14.0,12.0,0.0,8.0,1.0,...,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0

In [27]:
print(df.columns.tolist())

['id', 'bog95smp', 'bog97smp', 'jam93smp', 'sex', 'age', 'age2', 'hsvisit', 'scyfnsh', 'inschl', 'prsch_c', 'prscha_1', 'prscha_2', 'vouch0', 'bog95asd', 'bog97asd', 'jam93asd', 'dbogota', 'djamundi', 'd1995', 'd1997', 'response', 'test_tak', 'sex_name', 'svy', 'd1993', 'phone', 'darea1', 'darea2', 'darea3', 'darea4', 'darea5', 'darea6', 'darea7', 'darea8', 'darea9', 'darea10', 'darea11', 'darea12', 'darea13', 'darea14', 'darea15', 'darea16', 'darea17', 'darea18', 'darea19', 'dmonth1', 'dmonth2', 'dmonth3', 'dmonth4', 'dmonth5', 'dmonth6', 'dmonth7', 'dmonth8', 'dmonth9', 'dmonth10', 'dmonth11', 'dmonth12', 'bog95', 'bog97', 'mom_sch', 'mom_age', 'mom_mw', 'dad_sch', 'dad_age', 'dad_mw', 'sex2', 'strata1', 'strata2', 'strata3', 'strata4', 'strata5', 'strata6', 'stratams', 'rept6', 'totscyrs', 'haschild', 'married', 'working', 'rept', 'nrept', 'finish6', 'finish7', 'finish8', 'sex_miss', 'usngsch', 'hoursum', 'tab3smpl', 'working3']

In [30]:
print(df['scyfnsh'].describe())
print(df['scyfnsh'].value_counts())

count    25330.000000
mean         5.172641
std          0.680288
min          4.000000
25%          5.000000
50%          5.000000
75%          5.000000
max         11.000000
Name: scyfnsh, dtype: float64
scyfnsh
5.0     23498
8.0       841
6.0       534
7.0       271
9.0       157
10.0       21
11.0        7
4.0         1
Name: count, dtype: int64

In [31]:
df_subset = df[
    (df['test_tak'] == 1) &
    ((df['bog95smp'] == 1) | (df['bog97smp'] == 1) | (df['jam93smp'] == 1))
]

# TABLE 5

## A: All Applications

### Total Points

In [33]:


df_model = df_subset[['scyfnsh', 'vouch0']].dropna()

X = sm.add_constant(df_model['vouch0'])
y = df_model['scyfnsh']

model = sm.OLS(y, X).fit()

coef = model.params['vouch0']
se = model.bse['vouch0']
n = df_model.shape[0]

print("Coefficient:", round(coef, 3))
print("Std. Error:", round(se, 3))
print("N:", n)

print(f"{round(coef, 3)}")
print(f"({round(se, 3)})")
print(f"N: {n}")

Coefficient: 0.238
Std. Error: 0.104
N: 271
0.238
(0.104)
N: 271

### Math Scores

In [59]:
df_subset = df.rename(columns={'id': 'total_points'})

mask = (
    ((df_subset['bog95smp'] == 1) |
     (df_subset['bog97smp'] == 1) |
     (df_subset['jam93smp'] == 1)) &
    (df_subset['test_tak'] == 1)
)
df_exp = df_subset[mask].copy()

df_exp['math_score'] = (
    df_exp['bog95asd'] * df_exp['bog95smp'] +
    df_exp['bog97asd'] * df_exp['bog97smp'] +
    df_exp['jam93asd'] * df_exp['jam93smp']
)

df_model = df_exp[['math_score', 'vouch0']].dropna()

import statsmodels.api as sm
X = sm.add_constant(df_model['vouch0'])
y = df_model['math_score']
model = sm.OLS(y, X).fit()

coef = model.params['vouch0']
se = model.bse['vouch0']
n = df_model.shape[0]

print(f"{round(coef, 3)}")
print(f"({round(se, 3)})")
print(n)

# 0.178, 0.153

-0.0
(0.0)
271