In [1]:
import pandas as pd

In [5]:
df = pd.read_stata("tab7.dta")
df.head()

,id,fechamm,q27grade,citynum,q38grade,vouch0,year,intervwr,bog95smp,bog97smp,...,strata2,strata3,strata4,strata5,strata6,stratams,sex2,sex_miss,usngsch,usesch
0,3.0,6.0,NaN,1.0,9.0,1.0,1995.0,Alvaro,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
1,4.0,6.0,NaN,1.0,9.0,0.0,1995.0,Alvaro,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0
2,5.0,2.0,NaN,1.0,9.0,0.0,1995.0,Alvaro,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,6.0,2.0,NaN,1.0,8.0,0.0,1995.0,Alvaro,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,10.0,2.0,NaN,1.0,9.0,1.0,1995.0,Alvaro,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0