In [25]:
import pandas as pd
import statsmodels.api as sm

In [75]:
df = pd.read_stata("tab5v1.dta")
print(df.columns.tolist())

['id', 'vouch0', 'sex', 'svy', 'age', 'hsvisit', 'strata1', 'strata2', 'strata3', 'strata4', 'strata5', 'strata6', 'mom_sch', 'dad_sch', 'dad_miss', 'mom_miss', 'math', 'reading', 'writing', 't_site', 'totalpts', 'tsite1', 'tsite2', 'tsite3', 'sex_name', 'bog95smp', 'bog95asd', 'bog97smp', 'bog97asd', 'jam93smp', 'jam93asd', 'test_tak', 'dbogota', 'djamundi', 'd1995', 'd1993', 'd1997', 'phone', 'scyfnsh', 'darea1', 'darea2', 'darea3', 'darea4', 'darea5', 'darea6', 'darea7', 'darea8', 'darea9', 'darea10', 'darea11', 'darea12', 'darea13', 'darea14', 'darea15', 'darea16', 'darea17', 'darea18', 'darea19', 'dmonth1', 'dmonth2', 'dmonth3', 'dmonth4', 'dmonth5', 'dmonth6', 'dmonth7', 'dmonth8', 'dmonth9', 'dmonth10', 'dmonth11', 'dmonth12', 'bog95', 'bog97', 'mom_age', 'mom_mw', 'dad_age', 'dad_mw', 'sex2', 'stratams', 'age2']

In [76]:
print(df.columns.tolist())

['id', 'vouch0', 'sex', 'svy', 'age', 'hsvisit', 'strata1', 'strata2', 'strata3', 'strata4', 'strata5', 'strata6', 'mom_sch', 'dad_sch', 'dad_miss', 'mom_miss', 'math', 'reading', 'writing', 't_site', 'totalpts', 'tsite1', 'tsite2', 'tsite3', 'sex_name', 'bog95smp', 'bog95asd', 'bog97smp', 'bog97asd', 'jam93smp', 'jam93asd', 'test_tak', 'dbogota', 'djamundi', 'd1995', 'd1993', 'd1997', 'phone', 'scyfnsh', 'darea1', 'darea2', 'darea3', 'darea4', 'darea5', 'darea6', 'darea7', 'darea8', 'darea9', 'darea10', 'darea11', 'darea12', 'darea13', 'darea14', 'darea15', 'darea16', 'darea17', 'darea18', 'darea19', 'dmonth1', 'dmonth2', 'dmonth3', 'dmonth4', 'dmonth5', 'dmonth6', 'dmonth7', 'dmonth8', 'dmonth9', 'dmonth10', 'dmonth11', 'dmonth12', 'bog95', 'bog97', 'mom_age', 'mom_mw', 'dad_age', 'dad_mw', 'sex2', 'stratams', 'age2']

In [77]:
print(df['scyfnsh'].describe())
print(df['scyfnsh'].value_counts())

count    283.000000
mean       7.749117
std        0.869473
min        5.000000
25%        8.000000
50%        8.000000
75%        8.000000
max       11.000000
Name: scyfnsh, dtype: float64
scyfnsh
8.0     203
7.0      30
6.0      20
9.0      18
5.0       9
11.0      2
10.0      1
Name: count, dtype: int64

In [78]:
df_subset = df[
    (df['test_tak'] == 1) &
    ((df['bog95smp'] == 1) | (df['bog97smp'] == 1) | (df['jam93smp'] == 1))
]

# TABLE 5

## A: All Applications

### Total Points

In [79]:


df_model = df_subset[['scyfnsh', 'vouch0']].dropna()

X = sm.add_constant(df_model['vouch0'])
y = df_model['scyfnsh']

model = sm.OLS(y, X).fit()

coef = model.params['vouch0']
se = model.bse['vouch0']
n = df_model.shape[0]

print("Coefficient:", round(coef, 3))
print("Std. Error:", round(se, 3))
print("N:", n)

print(f"{round(coef, 3)}")
print(f"({round(se, 3)})")
print(f"N: {n}")

Coefficient: 0.202
Std. Error: 0.103
N: 271
0.202
(0.103)
N: 271

### Math Scores

In [82]:

df_subset = df[df['test_tak'] == 1].copy()
mask = (
    (df_subset['bog95smp'] == 1) |
    (df_subset['bog97smp'] == 1) |
    (df_subset['jam93smp'] == 1)
)
df_exp = df_subset[mask].copy()

df_model = df_exp[['math', 'vouch0']].dropna()

X = sm.add_constant(df_model['vouch0'])
y = df_model['math']
model = sm.OLS(y, X).fit()

coef = model.params['vouch0']
se = model.bse['vouch0']
n = df_model.shape[0]

print(f"{round(coef, 3)}")
print(f"({round(se, 3)})")
print(n)

0.152
(0.122)
270

### Reading Scores

In [85]:
df_subset = df.rename(columns={'id': 'total_points'})

mask = (
    ((df_subset['bog95smp'] == 1) |
     (df_subset['bog97smp'] == 1) |
     (df_subset['jam93smp'] == 1)) &
    (df_subset['test_tak'] == 1)
)
df_exp = df_subset[mask].copy()

df_model = df_exp[['reading', 'vouch0']].dropna()

X = sm.add_constant(df_model['vouch0'])
y = df_model['reading']
model = sm.OLS(y, X).fit()

# Output
coef = model.params['vouch0']
se = model.bse['vouch0']
n = df_model.shape[0]

print(f"Coefficient: {round(coef, 3)}")
print(f"Std. Error: ({round(se, 3)})")
print(f"N: {n}")

Coefficient: 0.182
Std. Error: (0.121)
N: 271