In [16]:
import pandas as pd

In [17]:
data_path = "aerdat4.dta"
df = pd.read_stata(data_path)

df.head()

,id,bog95smp,bog97smp,jam93smp,sex,age,age2,hsvisit,scyfnsh,inschl,...,rept,nrept,finish6,finish7,finish8,sex_miss,usngsch,hoursum,tab3smpl,working3
0,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,0.0,0.0,0.0,1.0,NaN,12.0,NaN,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.0,0.0,0.0,0.0,0.0,NaN,13.0,NaN,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3.0,1.0,0.0,0.0,0.0,14.0,12.0,0.0,8.0,1.0,...,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0
4,4.0,1.0,0.0,0.0,1.0,14.0,12.0,0.0,8.0,1.0,...,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0

In [18]:
df = df[2:]
df

,id,bog95smp,bog97smp,jam93smp,sex,age,age2,hsvisit,scyfnsh,inschl,...,rept,nrept,finish6,finish7,finish8,sex_miss,usngsch,hoursum,tab3smpl,working3
2,2.0,0.0,0.0,0.0,0.0,NaN,13.0,NaN,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3.0,1.0,0.0,0.0,0.0,14.0,12.0,0.0,8.0,1.0,...,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0
4,4.0,1.0,0.0,0.0,1.0,14.0,12.0,0.0,8.0,1.0,...,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0
5,5.0,1.0,0.0,0.0,0.0,14.0,12.0,0.0,8.0,1.0,...,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
6,6.0,1.0,0.0,0.0,0.0,12.0,10.0,0.0,7.0,1.0,...,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25325,141222.0,0.0,0.0,0.0,1.0,NaN,10.0,NaN,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25326,141223.0,0.0,0.0,0.0,1.0,NaN,13.0,NaN,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25327,141224.0,0.0,0.0,0.0,1.0,NaN,12.0,NaN,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25328,141225.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25329,141226.0,0.0,0.0,0.0,1.0,NaN,14.0,NaN,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
#Populations
bog95_pop = df['bog95'].sum()
bog97_pop = df['bog97'].sum()
jam93_pop = df['djamundi'].sum()
combined_sample = bog95_pop + bog97_pop + jam93_pop
combined_sample, bog95_pop, bog97_pop, jam93_pop

(np.float64(6156.0), np.float64(4043.0), np.float64(1770.0), np.float64(343.0))

# TABLE 1

## Part A: Population

### N:

In [20]:

vouch_df = df[df['vouch0'] == 1]
vbog95_pop = vouch_df['bog95'].sum()
vbog97_pop = vouch_df['bog97'].sum()
vjam93_pop = vouch_df['djamundi'].sum()
vcombined_sample = vbog95_pop + vbog97_pop + vjam93_pop
vcombined_sample, vbog95_pop, vbog97_pop, vjam93_pop

(np.float64(4050.0), np.float64(2378.0), np.float64(1500.0), np.float64(172.0))

### Percentage awarded vouchers

In [21]:

perc_bog95 = vbog95_pop / bog95_pop * 100
perc_bog97 = vbog97_pop / bog97_pop * 100
perc_jam93 = vjam93_pop / jam93_pop * 100
perc_comb_samp = vcombined_sample / combined_sample * 100
perc_bog95, perc_bog97, perc_jam93, perc_comb_samp

(np.float64(58.817709621568135),
 np.float64(84.7457627118644),
 np.float64(50.14577259475219),
 np.float64(65.78947368421053))

## Part B: Attempted Interviews

### N

In [15]:
# Attempted interviews
bog95_int = df['bog95asd'].sum()
bog97_int = df['bog97asd'].sum()
jam93_int = df['jam93asd'].sum()
test_int = df[df['test_tak'] == 1].shape[0]  # include all test-takers

comb_int = bog95_int + bog97_int + jam93_int

# Order: BogotÃ¡ 1995, BogotÃ¡ 1997, JamundÃ­ 1993, Combined, Test-takers
print([
    float(bog95_int),
    float(bog97_int),
    float(jam93_int),
    float(comb_int),
    float(test_int)
])
bog95_int

[2248.0, 457.0, 279.0, 2984.0, 283.0]

np.float64(2248.0)

### Percentage awarded vouchers

In [22]:
#Attempted interviews
bog95_int = df['bog95asd'].sum()
bog97_int = df['bog97asd'].sum()
jam93_int = df['jam93asd'].sum()
comb_int = bog95_int + bog97_int + jam93_int

#Interviewed dataframe
attempt_int = df[(df['bog95asd'] == 1) | (df['bog97asd'] == 1) | (df['jam93asd'] == 1)]

attempt_int_vouch = attempt_int[attempt_int['vouch0'] == 1]

ivbog95_pop = attempt_int_vouch['bog95asd'].sum()

#Population awarded vouchers that were interviewed
ivbog95_pop = attempt_int_vouch['bog95asd'].sum()
ivbog97_pop = attempt_int_vouch['bog97asd'].sum()
ivjam93_pop = attempt_int_vouch['jam93asd'].sum()
ivcombined_sample = ivbog95_pop + ivbog97_pop + ivjam93_pop

#Percentage of attempted interviewed population awarded vouchers
iperc_bog95 = ivbog95_pop / bog95_int * 100
iperc_bog97 = ivbog97_pop / bog97_int * 100
iperc_jam93 = ivjam93_pop / jam93_int * 100
iperc_comb_samp = ivcombined_sample / comb_int * 100


iperc_bog95, iperc_bog97, iperc_jam93, iperc_comb_samp

(np.float64(50.0),
 np.float64(51.64113785557986),
 np.float64(50.179211469534046),
 np.float64(50.26809651474531))

In [13]:
## DEPRECIATED ###
# Voucher winners
vouch_df = df[df['vouch0'] == 1]

# Count winners in attempted interviews
bog95_win = vouch_df[vouch_df['bog95smp'] == 1]['age2'].notna().sum()
bog97_win = vouch_df[vouch_df['bog97smp'] == 1]['age2'].notna().sum()
jam93_win = vouch_df[vouch_df['jam93smp'] == 1]['age2'].notna().sum()

# Total attempted interviews
bog95_int = df[df['bog95smp'] == 1]['age2'].notna().sum()
bog97_int = df[df['bog97smp'] == 1]['age2'].notna().sum()
jam93_int = df[df['jam93smp'] == 1]['age2'].notna().sum()

# Combined
combined_win = bog95_win + bog97_win + jam93_win
combined_int = bog95_int + bog97_int + jam93_int

# Test-takers
test_int = df[df['test_tak'] == 1]['age2'].notna().sum()
test_win = vouch_df[vouch_df['test_tak'] == 1]['age2'].notna().sum()

# Percentage awarded vouchers
perc_bog95 = bog95_win / bog95_int * 100
perc_bog97 = bog97_win / bog97_int * 100
perc_jam93 = jam93_win / jam93_int * 100
perc_comb = combined_win / combined_int * 100
perc_test = test_win / test_int * 100

print([float(perc_bog95), float(perc_bog97), float(perc_jam93), float(perc_comb), float(perc_test)])

[50.89285714285714, 53.67647058823529, 55.21472392638037, 51.832797427652736, 56.82656826568265]

### Response rate

In [24]:
#Completed interviews
responded = df[df['response'] == 1]

#Completed interviews population
resp_bog95 = responded['bog95asd'].sum()
resp_bog97 = responded['bog97asd'].sum()
resp_jam = responded['jam93asd'].sum()
resp_comb = resp_bog95 + resp_bog97 + resp_jam

#Response Rates
resp_rate_bog95 = resp_bog95 / bog95_int
resp_rate_bog97 = resp_bog97 / bog97_int
resp_rate_jam = resp_jam / jam93_int
resp_rate_comb = resp_comb / comb_int
resp_rate_bog95, resp_rate_bog97, resp_rate_jam, resp_rate_comb

(np.float64(0.5231316725978647),
 np.float64(0.6061269146608315),
 np.float64(0.5913978494623656),
 np.float64(0.542225201072386))

In [23]:
#### DEPRECIATED #####

bog95_comp = df[(df['bog95smp'] == 1) & (df['age2'].notna())].shape[0]
bog97_comp = df[(df['bog97smp'] == 1) & (df['age2'].notna())].shape[0]
jam93_comp = df[(df['jam93smp'] == 1) & (df['age2'].notna())].shape[0]
test_comp = df[(df['test_tak'] == 1) & (df['age2'].notna())].shape[0]
comb_comp = bog95_comp + bog97_comp + jam93_comp

resp_bog95 = bog95_comp / bog95_int
resp_bog97 = bog97_comp / bog97_int
resp_jam93 = jam93_comp / jam93_int
resp_comb = comb_comp / comb_int
resp_test = test_comp / test_int

print([float(resp_bog95), float(resp_bog97), float(resp_jam93), float(resp_comb), float(resp_test)])

[0.498220640569395, 0.5951859956236324, 0.5842293906810035, 0.521112600536193, 0.9575971731448764]

### Winner Response Rate

In [40]:
# Attempted interviews among winners (i.e., responded)
bog95_win_comp = vouch_df['bog95smp'].sum()
bog97_win_comp = vouch_df['bog97smp'].sum()
jam93_win_comp = vouch_df['jam93smp'].sum()


### bog95_win_comp = vouch_df[(vouch_df['bog95smp'] == 1) & (vouch_df['vouch0'] == 1) & (vouch_df['age2'].notna())].shape[0]
### bog97_win_comp = vouch_df[(vouch_df['bog97smp'] == 1) & (vouch_df['vouch0'] == 1) & (vouch_df['age2'].notna())].shape[0]
### jam93_win_comp = vouch_df[(vouch_df['jam93smp'] == 1) & (vouch_df['vouch0'] == 1) & (vouch_df['age2'].notna())].shape[0]
### test_win_comp  = vouch_df[(vouch_df['test_tak'] == 1) & (vouch_df['vouch0'] == 1) & (vouch_df['age2'].notna())].shape[0]

# All assigned winners
bog95_win_total = vouch_df['bog95asd'].sum()
bog97_win_total = vouch_df['bog97asd'].sum()
jam93_win_total = vouch_df['jam93asd'].sum()
## test_win_total = vouch_df['test_tak'].sum()

# Rates
resp_bog95_win = bog95_win_comp / bog95_win_total
resp_bog97_win = bog97_win_comp / bog97_win_total
resp_jam93_win = jam93_win_comp / jam93_win_total
resp_comb_win  = (bog95_win_comp + bog97_win_comp + jam93_win_comp) / (bog95_win_total + bog97_win_total + jam93_win_total)
## resp_test_win  = test_win_comp / test_win_total

print([resp_bog95_win, resp_bog97_win, resp_jam93_win, resp_comb_win])

[np.float64(0.5275800711743772), np.float64(0.6186440677966102), np.float64(0.65), np.float64(0.5533333333333333)]

### Loser Response Rate

In [43]:
# Attempted interviews among losers 
bog95_lose_int = df[(df['vouch0'] == 0)]['bog95smp'].sum()
bog97_lose_int = df[(df['vouch0'] == 0)]['bog97smp'].sum()
jam93_lose_int = df[(df['vouch0'] == 0)]['jam93smp'].sum()


# Completed interview totals 
bog95_lose_total = df[(df['vouch0'] == 0)]['bog95asd'].sum()
bog97_lose_total = df[(df['vouch0'] == 0)]['bog97asd'].sum()
jam93_lose_total = df[(df['vouch0'] == 0)]['jam93asd'].sum()


# Rates
resp_bog95_lose = bog95_lose_int / bog95_lose_total
resp_bog97_lose = bog97_lose_int / bog97_lose_total
resp_jam93_lose = jam93_lose_int / jam93_lose_total
resp_comb_lose  = (bog95_lose_int + bog97_lose_int + jam93_lose_int) / (bog95_lose_total + bog97_lose_total + jam93_lose_total)


print([resp_bog95_lose, resp_bog97_lose, resp_jam93_lose, resp_comb_lose])

[np.float64(0.5186832740213523), np.float64(0.5927601809954751), np.float64(0.5323741007194245), np.float64(0.5309973045822103)]

## Part C: Completed Interviews

### N:

In [45]:

bog95_comp = df['bog95smp'].sum()
bog97_comp = df['bog97smp'].sum()
jam93_comp = df['jam93smp'].sum()
test_comp = df['test_tak'].sum()
comb_comp = bog95_comp + bog97_comp + jam93_comp

print([bog95_comp, bog97_comp, jam93_comp, comb_comp, test_comp])

[np.float64(1176.0), np.float64(277.0), np.float64(165.0), np.float64(1618.0), np.float64(283.0)]

### Percentage awarded vouchers

In [47]:
#bog95_win_comp = vouch_df['bog95smp'].sum()
#bog97_win_comp = vouch_df['bog97smp'].sum()
#jam93_win_comp = vouch_df['jam93smp'].sum()
#bog95_v = df[(df['bog95smp'] == 1) & (df['vouch0'] == 1) & df['age2'].notna()].shape[0]
#bog97_v = df[(df['bog97smp'] == 1) & (df['vouch0'] == 1) & df['age2'].notna()].shape[0]
#jam93_v = df[(df['jam93smp'] == 1) & (df['vouch0'] == 1) & df['age2'].notna()].shape[0]
#test_v = df[(df['test_tak'] == 1) & (df['vouch0'] == 1) & df['age2'].notna()].shape[0]
bog95_v = vouch_df['bog95smp'].sum()
bog97_v = vouch_df['bog97smp'].sum()
jam93_v = vouch_df['jam93smp'].sum()
test_v = vouch_df['test_tak'].sum()
comb_v = bog95_v + bog97_v + jam93_v


perc_bog95 = bog95_v / bog95_comp * 100
perc_bog97 = bog97_v / bog97_comp * 100
perc_jam93 = jam93_v / jam93_comp * 100
perc_comb = comb_v / comb_comp * 100
perc_test = test_v / test_comp * 100

print([perc_bog95, perc_bog97, perc_jam93, perc_comb, perc_test])

[np.float64(50.425170068027214), np.float64(52.707581227436826), np.float64(55.15151515151515), np.float64(51.29789864029666), np.float64(56.18374558303887)]

### Household visit

In [53]:

bog95_hs = df[(df['bog95smp'] == 1)]['hsvisit'].mean()
bog97_hs = df[(df['bog97smp'] == 1)]['hsvisit'].mean()
jam93_hs = df[(df['jam93smp'] == 1)]['hsvisit'].mean()
comb_hs = df[(df[['bog95smp','bog97smp','jam93smp']].any(axis=1))]['hsvisit'].mean()
test_hs = df[(df['test_tak'] == 1)]['hsvisit'].mean()

print([bog95_hs, bog97_hs, jam93_hs, comb_hs, test_hs])

[np.float64(0.05442176870748299), np.float64(0.0036101083032490976), np.float64(0.7818181818181819), np.float64(0.11990111248454882), np.float64(0.0989399293286219)]

### Age at time of survey

In [57]:
def mean_std_age(col):
    subset = df[(df[col] == 1)]['age']
    return round(subset.mean(), 1), round(subset.std(), 1)

def mean_std_age_combined(cols):
    subset = df[(df[cols].sum(axis=1) == 1)]['age']
    return round(subset.mean(), 1), round(subset.std(), 1)

bog95_age, bog95_std = mean_std_age('bog95smp')
bog97_age, bog97_std = mean_std_age('bog97smp')
jam93_age, jam93_std = mean_std_age('jam93smp')
comb_age, comb_std = mean_std_age_combined(['bog95smp', 'bog97smp', 'jam93smp'])
test_age, test_std = mean_std_age('test_tak')

print("Mean age:", [bog95_age, bog97_age, jam93_age, comb_age, test_age])
print("Std dev:", [bog95_std, bog97_std, jam93_std, comb_std, test_std])

Mean age: [np.float64(15.0), np.float64(13.1), np.float64(16.9), np.float64(14.9), np.float64(14.8)]
Std dev: [np.float64(1.3), np.float64(1.4), np.float64(1.5), np.float64(1.7), np.float64(1.3)]

### Age on application date (from application data)

In [58]:
def mean_std_age2(col):
    subset = df[(df[col] == 1) & df['age2'].notna()]['age2']
    return round(subset.mean(), 1), round(subset.std(), 1)

def mean_std_age2_combined(cols):
    subset = df[(df[cols].sum(axis=1) == 1) & df['age2'].notna()]['age2']
    return round(subset.mean(), 1), round(subset.std(), 1)

bog95_age2, bog95_std2 = mean_std_age2('bog95smp')
bog97_age2, bog97_std2 = mean_std_age2('bog97smp')
jam93_age2, jam93_std2 = mean_std_age2('jam93smp')
comb_age2, comb_std2 = mean_std_age2_combined(['bog95smp', 'bog97smp', 'jam93smp'])
test_age2, test_std2 = mean_std_age2('test_tak')

print("Mean age2:", [bog95_age2, bog97_age2, jam93_age2, comb_age2, test_age2])
print("Std dev:", [bog95_std2, bog97_std2, jam93_std2, comb_std2, test_std2])

Mean age2: [np.float64(12.6), np.float64(12.4), np.float64(12.5), np.float64(12.6), np.float64(12.4)]
Std dev: [np.float64(1.3), np.float64(1.4), np.float64(1.9), np.float64(1.4), np.float64(1.2)]

### Male, Started 6th grade in private, Started 7th grade in private

In [61]:
df.columns

Index(['id', 'bog95smp', 'bog97smp', 'jam93smp', 'sex', 'age', 'age2',
       'hsvisit', 'scyfnsh', 'inschl', 'prsch_c', 'prscha_1', 'prscha_2',
       'vouch0', 'bog95asd', 'bog97asd', 'jam93asd', 'dbogota', 'djamundi',
       'd1995', 'd1997', 'response', 'test_tak', 'sex_name', 'svy', 'd1993',
       'phone', 'darea1', 'darea2', 'darea3', 'darea4', 'darea5', 'darea6',
       'darea7', 'darea8', 'darea9', 'darea10', 'darea11', 'darea12',
       'darea13', 'darea14', 'darea15', 'darea16', 'darea17', 'darea18',
       'darea19', 'dmonth1', 'dmonth2', 'dmonth3', 'dmonth4', 'dmonth5',
       'dmonth6', 'dmonth7', 'dmonth8', 'dmonth9', 'dmonth10', 'dmonth11',
       'dmonth12', 'bog95', 'bog97', 'mom_sch', 'mom_age', 'mom_mw', 'dad_sch',
       'dad_age', 'dad_mw', 'sex2', 'strata1', 'strata2', 'strata3', 'strata4',
       'strata5', 'strata6', 'stratams', 'rept6', 'totscyrs', 'haschild',
       'married', 'working', 'rept', 'nrept', 'finish6', 'finish7', 'finish8',
       'sex_miss', 'usngsch', 'hoursum', 'tab3smpl', 'working3'],
      dtype='object')

In [71]:
df['sex_name']

2        1.0
3        0.0
4        1.0
5        1.0
6        0.0
        ...
25325    NaN
25326    NaN
25327    NaN
25328    NaN
25329    NaN
Name: sex_name, Length: 25328, dtype: float64

In [76]:
def group_mean(col):
    bog95 = df[(df['bog95smp'] == 1)][col].mean()
    bog97 = df[(df['bog97smp'] == 1)][col].mean()
    jam93 = df[(df['jam93smp'] == 1)][col].mean()
    comb  = df[((df[['bog95smp', 'bog97smp', 'jam93smp']].sum(axis=1) == 1))][col].mean()
    test  = df[(df['test_tak'] == 1)][col].mean()
    return [round(x, 3) for x in [bog95, bog97, jam93, comb, test]]

print("Male:", group_mean('sex'))

# Started 6th grade in private # 'finish6', ~strata6, 'prscha_1'
print("Started 6th grade in private:", group_mean('prscha_1'))

# Started 7th grade in private
print("Started 7th grade in private:", group_mean('prscha_2'))

Male: [np.float64(0.501), np.float64(0.505), np.float64(0.424), np.float64(0.494), np.float64(0.523)]
Started 6th grade in private: [np.float64(0.91), np.float64(0.88), np.float64(0.669), np.float64(0.88), np.float64(0.929)]
Started 7th grade in private: [np.float64(0.763), np.float64(0.731), np.float64(0.626), np.float64(0.744), np.float64(0.821)]

### Currently in private school, Highest grade completed, Currently in school

In [68]:
def group_stat(col, return_std=False):
    base = df[df['age2'].notna()]
    groups = [
        base.loc[base['bog95smp'] == 1, col],
        base.loc[base['bog97smp'] == 1, col],
        base.loc[base['jam93smp'] == 1, col],
        base.loc[base[['bog95smp', 'bog97smp', 'jam93smp']].sum(axis=1) == 1, col],
        base.loc[base['test_tak'] == 1, col]
    ]
    if return_std:
        return [round(g.std(), 3) for g in groups]
    else:
        return [round(g.mean(), 3) for g in groups]

# Currently in private school, 'prsch_c'
print("Currently in private school:", group_stat('prsch_c'))

# Highest grade completed (mean)
print("Highest grade completed:", group_stat('scyfnsh'))

# Highest grade completed (std dev in parentheses)
print("Std dev of highest grade:", group_stat('scyfnsh', return_std=True))

# Currently in school, 'inschl'
print("Currently in school:", group_stat('inschl'))

Currently in private school: [np.float64(0.626), np.float64(0.737), np.float64(0.512), np.float64(0.634), np.float64(0.699)]
Highest grade completed: [np.float64(7.586), np.float64(6.026), np.float64(8.564), np.float64(7.415), np.float64(7.734)]
Std dev of highest grade: [np.float64(0.94), np.float64(0.497), np.float64(1.1), np.float64(1.142), np.float64(0.871)]
Currently in school: [np.float64(0.842), np.float64(0.959), np.float64(0.781), np.float64(0.856), np.float64(0.907)]