In [1]:
import pandas as pd

In [2]:
data_path = "aerdat4.dta"
df = pd.read_stata(data_path)

df.head()

,id,bog95smp,bog97smp,jam93smp,sex,age,age2,hsvisit,scyfnsh,inschl,...,rept,nrept,finish6,finish7,finish8,sex_miss,usngsch,hoursum,tab3smpl,working3
0,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,0.0,0.0,0.0,1.0,NaN,12.0,NaN,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.0,0.0,0.0,0.0,0.0,NaN,13.0,NaN,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3.0,1.0,0.0,0.0,0.0,14.0,12.0,0.0,8.0,1.0,...,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0
4,4.0,1.0,0.0,0.0,1.0,14.0,12.0,0.0,8.0,1.0,...,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0

In [3]:
#Populations
bog95_pop = df['bog95'].sum()
bog97_pop = df['bog97'].sum()
jam93_pop = df['djamundi'].sum()
combined_sample = bog95_pop + bog97_pop + jam93_pop
combined_sample, bog95_pop, bog97_pop, jam93_pop

(np.float64(6158.0), np.float64(4045.0), np.float64(1770.0), np.float64(343.0))

# TABLE 1

## Part A: Population

### N:

In [4]:

vouch_df = df[df['vouch0'] == 1]
vbog95_pop = vouch_df['bog95'].sum()
vbog97_pop = vouch_df['bog97'].sum()
vjam93_pop = vouch_df['djamundi'].sum()
vcombined_sample = vbog95_pop + vbog97_pop + vjam93_pop
vcombined_sample, vbog95_pop, vbog97_pop, vjam93_pop

(np.float64(4050.0), np.float64(2378.0), np.float64(1500.0), np.float64(172.0))

### Percentage awarded vouchers

In [5]:

perc_bog95 = vbog95_pop / bog95_pop * 100
perc_bog97 = vbog97_pop / bog97_pop * 100
perc_jam93 = vjam93_pop / jam93_pop * 100
perc_comb_samp = vcombined_sample / combined_sample * 100
perc_bog95, perc_bog97, perc_jam93, perc_comb_samp

(np.float64(58.78862793572311),
 np.float64(84.7457627118644),
 np.float64(50.14577259475219),
 np.float64(65.76810652809354))

## Part B: Attempted Interviews

### N

In [6]:
# Attempted interviews
bog95_int = df['bog95asd'].sum()
bog97_int = df['bog97asd'].sum()
jam93_int = df['jam93asd'].sum()
test_int = df[df['test_tak'] == 1].shape[0]  # include all test-takers

comb_int = bog95_int + bog97_int + jam93_int

# Order: BogotÃ¡ 1995, BogotÃ¡ 1997, JamundÃ­ 1993, Combined, Test-takers
print([
    float(bog95_int),
    float(bog97_int),
    float(jam93_int),
    float(comb_int),
    float(test_int)
])

[2249.0, 457.0, 279.0, 2985.0, 283.0]

### Percentage awarded vouchers

In [7]:
# Voucher winners
vouch_df = df[df['vouch0'] == 1]

# Count winners in attempted interviews
bog95_win = vouch_df[vouch_df['bog95smp'] == 1]['age2'].notna().sum()
bog97_win = vouch_df[vouch_df['bog97smp'] == 1]['age2'].notna().sum()
jam93_win = vouch_df[vouch_df['jam93smp'] == 1]['age2'].notna().sum()

# Total attempted interviews
bog95_int = df[df['bog95smp'] == 1]['age2'].notna().sum()
bog97_int = df[df['bog97smp'] == 1]['age2'].notna().sum()
jam93_int = df[df['jam93smp'] == 1]['age2'].notna().sum()

# Combined
combined_win = bog95_win + bog97_win + jam93_win
combined_int = bog95_int + bog97_int + jam93_int

# Test-takers
test_int = df[df['test_tak'] == 1]['age2'].notna().sum()
test_win = vouch_df[vouch_df['test_tak'] == 1]['age2'].notna().sum()

# Percentage awarded vouchers
perc_bog95 = bog95_win / bog95_int * 100
perc_bog97 = bog97_win / bog97_int * 100
perc_jam93 = jam93_win / jam93_int * 100
perc_comb = combined_win / combined_int * 100
perc_test = test_win / test_int * 100

print([float(perc_bog95), float(perc_bog97), float(perc_jam93), float(perc_comb), float(perc_test)])

[50.89285714285714, 53.67647058823529, 55.21472392638037, 51.832797427652736, 56.82656826568265]

### Response rate

In [8]:
bog95_comp = df[(df['bog95smp'] == 1) & (df['age2'].notna())].shape[0]
bog97_comp = df[(df['bog97smp'] == 1) & (df['age2'].notna())].shape[0]
jam93_comp = df[(df['jam93smp'] == 1) & (df['age2'].notna())].shape[0]
test_comp = df[(df['test_tak'] == 1) & (df['age2'].notna())].shape[0]
comb_comp = bog95_comp + bog97_comp + jam93_comp

resp_bog95 = bog95_comp / bog95_int
resp_bog97 = bog97_comp / bog97_int
resp_jam93 = jam93_comp / jam93_int
resp_comb = comb_comp / comb_int
resp_test = test_comp / test_int

print([float(resp_bog95), float(resp_bog97), float(resp_jam93), float(resp_comb), float(resp_test)])

[1.0, 1.0, 1.0, 0.5209380234505863, 1.0]

### Winner Response Rate

In [9]:
# Attempted interviews among winners (i.e., responded)
bog95_win_comp = vouch_df[(vouch_df['bog95smp'] == 1) & (vouch_df['vouch0'] == 1) & (vouch_df['age2'].notna())].shape[0]
bog97_win_comp = vouch_df[(vouch_df['bog97smp'] == 1) & (vouch_df['vouch0'] == 1) & (vouch_df['age2'].notna())].shape[0]
jam93_win_comp = vouch_df[(vouch_df['jam93smp'] == 1) & (vouch_df['vouch0'] == 1) & (vouch_df['age2'].notna())].shape[0]
test_win_comp  = vouch_df[(vouch_df['test_tak'] == 1) & (vouch_df['vouch0'] == 1) & (vouch_df['age2'].notna())].shape[0]

# All assigned winners
bog95_win_total = vouch_df['bog95asd'].sum()
bog97_win_total = vouch_df['bog97asd'].sum()
jam93_win_total = vouch_df['jam93asd'].sum()
test_win_total = vouch_df['test_tak'].sum()

# Rates
resp_bog95_win = bog95_win_comp / bog95_win_total
resp_bog97_win = bog97_win_comp / bog97_win_total
resp_jam93_win = jam93_win_comp / jam93_win_total
resp_comb_win  = (bog95_win_comp + bog97_win_comp + jam93_win_comp) / (bog95_win_total + bog97_win_total + jam93_win_total)
resp_test_win  = test_win_comp / test_win_total

print([resp_bog95_win, resp_bog97_win, resp_jam93_win, resp_comb_win, resp_test_win])

[np.float64(0.5071174377224199), np.float64(0.6186440677966102), np.float64(0.6428571428571429), np.float64(0.5373333333333333), np.float64(0.9685534591194969)]

### Loser Response Rate

In [10]:
# Attempted interviews among losers 
bog95_lose_int = df[(df['bog95smp'] == 1) & (df['vouch0'] == 0) & (df['age2'].notna())].shape[0]
bog97_lose_int = df[(df['bog97smp'] == 1) & (df['vouch0'] == 0) & (df['age2'].notna())].shape[0]
jam93_lose_int = df[(df['jam93smp'] == 1) & (df['vouch0'] == 0) & (df['age2'].notna())].shape[0]
test_lose_int  = df[(df['test_tak'] == 1) & (df['vouch0'] == 0) & (df['age2'].notna())].shape[0]

# Completed interview totals 
bog95_lose_total = df[(df['vouch0'] == 0)]['bog95asd'].sum()
bog97_lose_total = df[(df['vouch0'] == 0)]['bog97asd'].sum()
jam93_lose_total = df[(df['vouch0'] == 0)]['jam93asd'].sum()
test_lose_total  = df[(df['vouch0'] == 0)]['test_tak'].sum()

# Rates
resp_bog95_lose = bog95_lose_int / bog95_lose_total
resp_bog97_lose = bog97_lose_int / bog97_lose_total
resp_jam93_lose = jam93_lose_int / jam93_lose_total
resp_comb_lose  = (bog95_lose_int + bog97_lose_int + jam93_lose_int) / (bog95_lose_total + bog97_lose_total + jam93_lose_total)
resp_test_lose  = test_lose_int / test_lose_total

print([resp_bog95_lose, resp_bog97_lose, resp_jam93_lose, resp_comb_lose, resp_test_lose])

[np.float64(0.4888888888888889), np.float64(0.5701357466063348), np.float64(0.5251798561151079), np.float64(0.5043771043771044), np.float64(0.9435483870967742)]

## Part C: Completed Interviews

### N:

In [11]:

bog95_comp = df[(df['bog95smp'] == 1) & df['age2'].notna()].shape[0]
bog97_comp = df[(df['bog97smp'] == 1) & df['age2'].notna()].shape[0]
jam93_comp = df[(df['jam93smp'] == 1) & df['age2'].notna()].shape[0]
test_comp = df[(df['test_tak'] == 1) & df['age2'].notna()].shape[0]
comb_comp = bog95_comp + bog97_comp + jam93_comp

print([bog95_comp, bog97_comp, jam93_comp, comb_comp, test_comp])

[1120, 272, 163, 1555, 271]

### Percentage awarded vouchers

In [12]:
bog95_v = df[(df['bog95smp'] == 1) & (df['vouch0'] == 1) & df['age2'].notna()].shape[0]
bog97_v = df[(df['bog97smp'] == 1) & (df['vouch0'] == 1) & df['age2'].notna()].shape[0]
jam93_v = df[(df['jam93smp'] == 1) & (df['vouch0'] == 1) & df['age2'].notna()].shape[0]
test_v = df[(df['test_tak'] == 1) & (df['vouch0'] == 1) & df['age2'].notna()].shape[0]
comb_v = bog95_v + bog97_v + jam93_v


perc_bog95 = bog95_v / bog95_comp * 100
perc_bog97 = bog97_v / bog97_comp * 100
perc_jam93 = jam93_v / jam93_comp * 100
perc_comb = comb_v / comb_comp * 100
perc_test = test_v / test_comp * 100

print([perc_bog95, perc_bog97, perc_jam93, perc_comb, perc_test])

[50.89285714285714, 53.67647058823529, 55.21472392638037, 51.832797427652736, 56.82656826568265]

### Household visit

In [13]:

bog95_hs = df[(df['bog95smp'] == 1) & df['age2'].notna()]['hsvisit'].mean()
bog97_hs = df[(df['bog97smp'] == 1) & df['age2'].notna()]['hsvisit'].mean()
jam93_hs = df[(df['jam93smp'] == 1) & df['age2'].notna()]['hsvisit'].mean()
comb_hs = df[(df[['bog95smp','bog97smp','jam93smp']].any(axis=1)) & df['age2'].notna()]['hsvisit'].mean()
test_hs = df[(df['test_tak'] == 1) & df['age2'].notna()]['hsvisit'].mean()

print([bog95_hs, bog97_hs, jam93_hs, comb_hs, test_hs])

[np.float64(0.054464285714285715), np.float64(0.003676470588235294), np.float64(0.7791411042944786), np.float64(0.12154340836012861), np.float64(0.1033210332103321)]

### Age at time of application

In [14]:
def mean_std_age(col):
    subset = df[(df[col] == 1) & df['age2'].notna()]['age']
    return round(subset.mean(), 1), round(subset.std(), 1)

def mean_std_age_combined(cols):
    subset = df[(df[cols].sum(axis=1) == 1) & df['age2'].notna()]['age']
    return round(subset.mean(), 1), round(subset.std(), 1)

bog95_age, bog95_std = mean_std_age('bog95smp')
bog97_age, bog97_std = mean_std_age('bog97smp')
jam93_age, jam93_std = mean_std_age('jam93smp')
comb_age, comb_std = mean_std_age_combined(['bog95smp', 'bog97smp', 'jam93smp'])
test_age, test_std = mean_std_age('test_tak')

print("Mean age:", [bog95_age, bog97_age, jam93_age, comb_age, test_age])
print("Std dev:", [bog95_std, bog97_std, jam93_std, comb_std, test_std])

Mean age: [np.float64(15.0), np.float64(13.1), np.float64(16.9), np.float64(14.9), np.float64(14.8)]
Std dev: [np.float64(1.3), np.float64(1.4), np.float64(1.5), np.float64(1.7), np.float64(1.3)]

### Age on survey date (from survey data)

def mean_std_age2(col):
    subset = df[(df[col] == 1) & df['age2'].notna()]['age2']
    return round(subset.mean(), 1), round(subset.std(), 1)

def mean_std_age2_combined(cols):
    subset = df[(df[cols].sum(axis=1) == 1) & df['age2'].notna()]['age2']
    return round(subset.mean(), 1), round(subset.std(), 1)

bog95_age2, bog95_std2 = mean_std_age2('bog95smp')
bog97_age2, bog97_std2 = mean_std_age2('bog97smp')
jam93_age2, jam93_std2 = mean_std_age2('jam93smp')
comb_age2, comb_std2 = mean_std_age2_combined(['bog95smp', 'bog97smp', 'jam93smp'])
test_age2, test_std2 = mean_std_age2('test_tak')

print("Mean age2:", [bog95_age2, bog97_age2, jam93_age2, comb_age2, test_age2])
print("Std dev:", [bog95_std2, bog97_std2, jam93_std2, comb_std2, test_std2])

### Male, Started 6th grade in private, Started 7th grade in private

In [18]:
def group_mean(col):
    bog95 = df[(df['bog95smp'] == 1) & df['age2'].notna()][col].mean()
    bog97 = df[(df['bog97smp'] == 1) & df['age2'].notna()][col].mean()
    jam93 = df[(df['jam93smp'] == 1) & df['age2'].notna()][col].mean()
    comb  = df[((df[['bog95smp', 'bog97smp', 'jam93smp']].sum(axis=1) == 1)) & df['age2'].notna()][col].mean()
    test  = df[(df['test_tak'] == 1) & df['age2'].notna()][col].mean()
    return [round(x, 3) for x in [bog95, bog97, jam93, comb, test]]

print("Male:", group_mean('sex'))

# Started 6th grade in private
print("Started 6th grade in private:", group_mean('finish6'))

# Started 7th grade in private
print("Started 7th grade in private:", group_mean('finish7'))

Male: [np.float64(0.501), np.float64(0.504), np.float64(0.417), np.float64(0.493), np.float64(0.52)]
Started 6th grade in private: [np.float64(0.946), np.float64(0.915), np.float64(0.932), np.float64(0.939), np.float64(0.956)]
Started 7th grade in private: [np.float64(0.865), np.float64(0.1), np.float64(0.92), np.float64(0.737), np.float64(0.893)]

### Currently in private school, Highest grade completed, Currently in school

In [24]:
def group_stat(col, return_std=False):
    base = df[df['age2'].notna()]
    groups = [
        base.loc[base['bog95smp'] == 1, col],
        base.loc[base['bog97smp'] == 1, col],
        base.loc[base['jam93smp'] == 1, col],
        base.loc[base[['bog95smp', 'bog97smp', 'jam93smp']].sum(axis=1) == 1, col],
        base.loc[base['test_tak'] == 1, col]
    ]
    if return_std:
        return [round(g.std(), 3) for g in groups]
    else:
        return [round(g.mean(), 3) for g in groups]

# Currently in private school
print("Currently in private school:", group_stat('inschl'))

# Highest grade completed (mean)
print("Highest grade completed:", group_stat('scyfnsh'))

# Highest grade completed (std dev in parentheses)
print("Std dev of highest grade:", group_stat('scyfnsh', return_std=True))

# Currently in school
print("Currently in school:", group_stat('usngsch'))

Currently in private school: [np.float64(0.842), np.float64(0.959), np.float64(0.781), np.float64(0.856), np.float64(0.907)]
Highest grade completed: [np.float64(7.586), np.float64(6.026), np.float64(8.564), np.float64(7.415), np.float64(7.734)]
Std dev of highest grade: [np.float64(0.94), np.float64(0.497), np.float64(1.1), np.float64(1.142), np.float64(0.871)]
Currently in school: [np.float64(0.317), np.float64(0.404), np.float64(0.259), np.float64(0.326), np.float64(0.406)]